[2022-08-08 16:12] amyshwang opened #2409 "Bulk import into existing, not-empty tables"
### Is your feature request related to a problem?

_No response_

### Describe the solution you'd like.

With 6.5 release, `COPY` supports bulk import of CSV file into an empty table in QuestDB.
This request is about supporting import when the target table is not empty.

### Describe alternatives you've considered.

_No response_

### Additional context.

_No response_

[2022-08-08 18:57] javier opened #2411 "COPY and FORMAT error"
### Describe the bug

When I issue a `COPY` command using `FORMAT`, it works only when using lowercase. Autocompletion also shows the lowercase form

### To reproduce

try to issue a command such as

[code]

You will get an error

Try now using lowercase `format`

[code]

### Expected Behavior

It should be case insensitive, as the rest of keywords

### Environment

[code]

### Additional context

[2022-08-08 19:37] puzpuzpuz commented on #2411
Closed by #2407

[2022-08-08 19:37] #2411 closed

[2022-08-09 08:08] bziobrowski opened #2414 "min(int), min(long) returns wrong result"
### Describe the bug

min(int) and min(long) return null if input contains only max values  and nulls .

### To reproduce

[code]

### Expected Behavior

min() should return max value for int or long

### Environment

[code]

### Additional context

_No response_

[2022-08-09 10:31] bziobrowski commented on #2367
Hi @Zahlii . Thanks for the pull request .
It looks good but it would use more tests .
The changes you pushed apply to to_str(date, format) and not to select to_str(timestamp, format).
Please have a look at ToStrDateFunctionFactoryand ToStrTimestampFunctionFactory .
The latter uses TimestampFormatCompiler actually .

[2022-08-09 13:54] igor-suhorukov commented on #261
Apache Arrow 10.0 Python/C++ [Dataset API](https://arrow.apache.org/docs/python/dataset.html) support iteration over huge amount of partitioned data in Parquet, ArrowIPC, ORC, CSV formats(Java API support only Parquet/ArrowIPC now) from [following sources](https://arrow.apache.org/docs/python/filesystems.html#filesystem):
- Local FS (LocalFileSystem)
- S3 (S3FileSystem)
- Google Cloud Storage File

[2022-08-09 13:58] igor-suhorukov commented on #261
[SPARK-27396](https://issues.apache.org/jira/browse/SPARK-27396) SPIP: Public APIs for extended Columnar Processing Support

Transition the existing in memory columnar [layout](https://arrow.apache.org/docs/format/Layout.html)s to be compatible with Apache Arrow.  This would make the transformations to Apache Arrow format a no-op. The existing formats are already very close to those layouts in man

[2022-08-09 15:46] #2408 closed

[2022-08-09 16:46] bziobrowski commented on #2405
Probably the quickest way is to zip root dir and share :)
In web console It's possible to export table schema by right clicking on table name (in tables list) and choosing 'Copy Schema to Clipboard' .

137 means that container was killed by OOMK.

I ran this query couple of times on empty table and each query factory allocates ~ 300MB of memory for fast map instances used for group by and hash joi

[2022-08-09 18:23] Zahlii commented on #2405
Table has around 40*365 rows and yes sensor day is stored as a symbol containing M-D (not the year)

[2022-08-10 11:01] javier opened #2415 "LIMIT should be taken into account when doing a JOIN"
### Is your feature request related to a problem?

When doing a JOIN between two tables, even if we specify LIMIT and the results are indeed returning a subset of the data, the system will not optimise internally and will do the full join, then just limit on the result set. This is wasteful and should probably be optimised.

### Describe the solution you'd like.

Faster, more efficient queries. On

[2022-08-10 11:05] bluestreak01 opened #2416 "UI: grid resizing bug"
### Describe the bug

See the screencast

https://user-images.githubusercontent.com/7276403/183886237-225d3280-d433-4fad-896a-46300fb88aef.mp4

### To reproduce

_No response_

### Expected Behavior

_No response_

### Environment

[code]

### Additional context

_No response_

[2022-08-10 11:07] bluestreak01 opened #2417 "UI: cannot paste into editor on mobile"
### Describe the bug

Open https://demo.questdb.io

Try pasting the following from iPhone:

[code]

### To reproduce

_No response_

### Expected Behavior

_No response_

### Environment

[code]

### Additional context

_No response_

[2022-08-10 12:33] pokliu opened #2418 "SQL query result incorrect"
### Describe the bug

I have a questdb table with schema:
[code]

This data table has about 20,000,000 entries per day written(o3) by 5 ILP TCP clients.

Recently I found that when querying in the console, the query result does not match the SQL statement intent.

![image](https://user-images.githubusercontent.com/7621696/183899346-d68ef384-d5e5-46c5-a1a7-226380f588c4.png)
For example, in the quer

[2022-08-10 13:23] bziobrowski commented on #2405
Following rewrite takes 0.2s on 1mil-big table and uses ~ 100MB vs
1.2s and ~300MB for the original query .

[code]

[2022-08-10 15:33] bziobrowski commented on #2418
I think both issues could be fixed in latest version so could you please re-test on 6.5 ?

[2022-08-10 15:51] bziobrowski commented on #2415
@javier  Please include table schema and queries to fill them if possible.

I don't  see a Nested Loop factory in source so I suspect query is executed via hash join . If that is the case then one table needs to be hashed and the other traversed while doing hash table lookups . The constant cost of hashing one table could dominate the run time .

I think LIMIT would really optimize things if there

[2022-08-10 16:03] javier commented on #2415
This is the left table (55M rows)

[code]

This is the right one (250M rows)

[code]

This is the offending query

[code]

I am afraid loading the data is not superconvenient, but here you are the CSVs for the users and votes tables https://archive.org/download/stackoverflow-dataset-csv/posts/Posts.tar https://archive.org/download/stackoverflow-dataset-csv/votes/Votes.tar.gz

If you prefer, ping m

[2022-08-11 08:49] bziobrowski commented on #2415
I profiled the query and confirmed that hasing one of the tables completely dominates execution time.
For limit to matter here qdb would need to support NL join type + index lookup for inner query .

I also noticed that hash join doesn't check size of input tables and could end up hasing the bigger table  if it's second on join list (which is much much slower due to reallocations and re-hashing) .

[2022-08-11 12:20] pokliu commented on #2418
OK. I will try to migrate to the latest version and keep watching~

[2022-08-12 02:50] pinzi opened #2420 "Data cannot be recovered after the server is powered off"
### Describe the bug

Data cannot be recovered after the server is powered off

![image](https://user-images.githubusercontent.com/3843463/184275536-73e72a21-c623-494e-bcd7-937f39749c1f.png)
![image](https://user-images.githubusercontent.com/3843463/184275611-f608f414-61ab-4404-8a0a-04f666159350.png)

### To reproduce

the server is powered off

### Expected Behavior

_No response_

### Environmen

[2022-08-12 14:57] Luyang2902 opened #2422 "support of rank() function"
### Is your feature request related to a problem?

rank() function is very useful when we want to develop a BI tools on questdb,  rankings is uesed to filter.

view is a useful to simplify sql code and this is very important for low-code platform and helpful to get query result in realtime

### Describe the solution you'd like.

_No response_

### Describe alternatives you've considered.

_No resp

[2022-08-12 23:57] Chipply commented on #1843
Glad this is on the road map. This feature would aid our current workflow.

[2022-08-13 09:04] Zahlii commented on #2405
Well, thats another way to do it, I guess. This would result in multiple row though, so I would need to "unstack" this in code? Anyway, if this is "expected" behavior from a memory point of view - Shouldn't there be a way of handling this inside QDB, as opposed to Docker OOM-killing the whole container? For me it's not a big issue as I have them on restart: always, but I figure this may be a way t

[2022-08-13 16:29] Luyang2902 opened #2424 "import csv"
### Is your feature request related to a problem?

copy method to import csv not support gbk ，gb18030 ... encoding file ,in Chinese character

I wish this can be updated , and I don't support to unify TaiWan by force . ,I　wish love and peace

### Describe the solution you'd like.

_No response_

### Describe alternatives you've considered.

_No response_

### Additional context.

_No response_

[2022-08-13 22:42] donet5 opened #2425 "could not open read-only [file=H:\BuleDb\QuestDb\bin\qdbroot\db\BoolTest\default\a.d]"
could not open read-only  ，Restarts have no effect and appear randomly

.NET CORE     PGSQL

[2022-08-13 22:43] donet5 commented on #2425
![image](https://user-images.githubusercontent.com/12455385/184515675-b6289a14-bb1b-478d-901a-fb69e6a23358.png)

[2022-08-13 22:43] donet5 commented on #2425
You can insert but you can't read

[2022-08-13 22:49] donet5 commented on #2425
Single-threaded randomness can be reproduced

[2022-08-14 00:37] donet5 commented on #2425
The program Tuncate table is updated after executing the insert query

[2022-08-14 08:41] igor-suhorukov commented on #261
Starting from [FlightSqlExample](https://github.com/apache/arrow/blob/master/java/flight/flight-sql/src/test/java/org/apache/arrow/flight/sql/example/FlightSqlExample.java) looks like simplest (low effort) approach. It allows ML framework and big data ecosystem clients works with [arrows buffers](https://arrow.apache.org/blog/2022/02/16/introducing-arrow-flight-sql/) in external data/ML pipelines

[2022-08-14 16:29] bziobrowski commented on #2405
You can easily merge these rows into one with something like:

[code]

[2022-08-14 19:16] bluestreak01 commented on #2425
The error usually comes with OS error number, eg “[2] could not open”. Could you share the error value please ?

[2022-08-15 01:13] Luyang2902 opened #2426 "the same code but different results"
### Describe the bug

there are two code snap,after execute ,the first report an error :
![image](https://user-images.githubusercontent.com/98975457/184562465-86baaf6a-afff-463d-8322-c8f4fc4ae95e.png)

but the second snap works! who can tell me the difference between the two snaps

 select a.code , closeprice/close-1 as r  
  from ( select code,close
  from 'kline_5M'
  latest on timestamp partiti

[2022-08-15 06:48] donet5 commented on #2425
Do you have.NET CORE? Let me write a DEMO for you

[2022-08-15 07:18] donet5 commented on #2425
[QuestDbTest.rar](https://www.donet5.com/_theme/ueditor/utf8-net/net/upload/file/20220815/6379617345139276526675852.rar)

​

[2022-08-15 07:26] donet5 commented on #2425
This is very serious, after locking the table can not be used, rather the database is invalid

[2022-08-15 07:31] kevindirect opened #2427 "FreeBSD - Can't Start the Service"
### Describe the bug
When I try to start the service, I get the following exception after 'log configuration loaded':
[code]

### To reproduce

`questdb.sh start`

### Expected Behavior

Database service is launched without exception

### Environment

[code]

### Additional context

_No response_

[2022-08-15 10:19] pswu11 commented on #2420
Hi @pinzi could you provide more context about "data cannot be recovered"?
Do you mean your instance went offline, and after it's back online you cannot access the data anymore? What steps have you tried?

[2022-08-15 10:39] pswu11 commented on #1843
Hi @Chipply do you mind sharing more about your workflow and how deduplication could help?

[2022-08-15 11:20] pswu11 commented on #2422
Hi @Luyang2902 for clarity, I removed "view" from the title and improved the title for your previous issue #2201.

[2022-08-15 11:40] donet5 commented on #2425
I found a way to unlock it

1. Restart the service

2. Disable Turncate Table SQL

3. Insert a record in C#

The lock can be unlocked in three steps

[2022-08-15 13:09] pinzi commented on #2420
The server was restarted due to an unexpected power outage in the computer room.One data table cannot be displayed in http://localhost:9000. After the database service is restarted.I did nothing.

[2022-08-15 13:25] ideoma commented on #2420
What will be in the logs if you do `select` from this table?

[2022-08-15 13:28] newskooler opened #2428 "Add all the `tables()` parameters when using the UI copy schema table option"
### Is your feature request related to a problem?

Every time I copy a table schema to create a new table (from the UI), the new table has default maxCommitedRows and commitLag parameters. Which is a tedious problems since i then need to change them manually every time.

### Describe the solution you'd like.

It would be nice if the copy schema on the UI had all the info such that it creates an id

[2022-08-15 13:41] pinzi commented on #2420
I can not see it

![1660570789446](https://user-images.githubusercontent.com/3843463/184646237-c39a2625-ae41-45c2-8c33-81fb40cb60f3.png)

[2022-08-16 07:50] leftys opened #2430 "'SpacialPartitioning along symbol"
### Is your feature request related to a problem?

When storing many unrelated measurements in one table querying them individually gets pretty slow. It would be very helpful to implement 'spacial partitioning'

### Describe the solution you'd like.

_No response_

### Describe alternatives you've considered.

_No response_

### Additional context.

_No response_

[2022-08-16 10:52] pokliu opened #2432 "Why does the column index file take up a lot of storage space?"
### Is your feature request related to a problem?

Run sql in console:
[code]

Then `cd` into `db/test/{partition}` folder, and `du -sh *`:
[code]

I have generated `10000` different strings of length `32` here to insert into the `test` table. I found that as the cardinality of the uid field increases, the storage space of the `uid.v` file in the file system becomes very large.

The documentation

[2022-08-16 11:10] ideoma commented on #2432
You can reduce symbol capacity. How many rows per symbol values are you going to have within 1 Hour partition? You probably reduce it by 24 if 4096 is the capacity of the index on daily partitioning.

We do not recommend to use indexes anymore, parallel scans are faster if you have available CPU resources. Sounds like you will benefit more from 128bit UUID type you could use instead of symbols

[2022-08-16 12:57] pokliu commented on #2432
Thank you for your help!

I have found that reducing the index capacity size can greatly reduce the storage footprint. But I don't understand `You can probably reduce it to 128 if 4096 is the capacity of the index on daily partitioning.` How is this calculated, why is the index capacity planning set to `128` (instead of `4096`) can fit each partition single `4096` data reports for symbol? Also, is

[2022-08-16 13:05] langustav opened #2433 "Cannot access data for specific period of time"
### Describe the bug

When we try to query data with timestamps within a specific period of time we get an error. Affected timestamps are approx. between 2022-07-01 12:00:00 and 2022-07-02 02:00:00 UTC
The whole QuestDB is restarted.

It is a window of several hours at our table. Timestamps before and after are fine. The data are a few weeks old.

### To reproduce

We cannot reproduce it with a ne

[2022-08-16 15:25] ideoma commented on #2432
`4096 / 24 = 170.66` which is close to 128 (real allocated capacity is power of 2)

[2022-08-17 04:47] donet5 opened #2434 "Exception while reading from stream"
### Describe the bug

**Repeat steps**
1、Delete tables in the web console
2、Use .net core Npgsql  Operation of the database, a high probability of error

**error messagae**
 EndOfStreamException: Attempted to read past the end of the stream.

Restart the service to resolve the problem

### To reproduce

_No response_

### Expected Behavior

_No response_

### Environment

[code]

### Additional co

[2022-08-17 05:24] Chipply commented on #1843
Hello Questdb/Questdb,

The ability to add a simple UNIQUE constraint on the timestamp column would
help us feel more secure with our imports. Otherwise, we need to complete
extra queries to make sure won't break the integrity of the table with
duplicates during an insert.

Best,
Grant

On Mon, Aug 15, 2022 at 3:40 AM pswu11 ***@***.***> wrote:

[2022-08-17 08:18] ideoma commented on #2434
I've seen this error with real Postgres in npgsql driver. I means that TCP connection is closed from the database or network infra.

QuestDB can close idle TCP connections after a timeout configured in `pg.net.connection.timeout` which defaults to 300_000 ms

[2022-08-17 09:00] Shadow992 opened #2435 "QuestDB wrongly sorts default timestamp column when using WHERE"
### Describe the bug

Hey guys,

I encoutered a very strange problem. I am currently setting up QuestDB for some kind of semi-chat-backend. The reason is that it perfectly fits my use case (99,9% of messages requested will be only 1 or two days old and there are no plans for any investigated searching, updating or similar). So what I have is the following:

A table "chatmessages" with the followin

[2022-08-17 09:08] donet5 commented on #2434
This has nothing to do with PGSQL, but mainly because of the table deletion operation on your web console

[2022-08-17 09:09] donet5 commented on #2434
1. Control the Web console to delete tables
2. Start the C# program

[2022-08-17 09:11] donet5 commented on #2434
Modification Table Structure and Truncate table are prone to problems, others are normal

[2022-08-17 09:18] puzpuzpuz commented on #2433
@langustav the crash dump looks weird, as if your database files were corrupted due to power loss or `kill -9`. Would it be possible to share an archive with the table directory with me over our community [Slack](https://slack.questdb.io/)?

[2022-08-17 09:55] pswu11 commented on #2420
Hi @pinzi
powerless could cause database files corruption, to give you a better context:
(from our docs, [storage model](https://questdb.io/docs/concept/storage-model/))

As for now, we'd recommend users have regular snapshots.
https://questdb.io/docs/reference/sql/snapshot/

[2022-08-17 10:06] ideoma commented on #2420
You can still query it and see what logs will say

[2022-08-17 10:07] ideoma commented on #2420
If you can attach the folder content we can have a look

[2022-08-17 11:05] ideoma commented on #2434
Perhaps there is an error and connection dropped before returning the error to the client.

What is in server logs when this happens?

[2022-08-17 11:25] pswu11 commented on #2425
@donet5 thanks a lot for raising the issue. We'll look into it.

[2022-08-17 12:30] pinzi commented on #2420
Snapshot statements are not supported on Windows OS.

[2022-08-17 12:34] pinzi commented on #2420
[0]: Metadata read timeout

[2022-08-17 12:40] pinzi commented on #2420
Snapshot statements are not supported on Windows OS.

[2022-08-17 15:29] joseraul opened #2436 "Parameterized query fails for timestamp via PostgreSQL (PHP)"
### Describe the bug

Parameterized query fails for timestamp via PostgreSQL (PHP)

### To reproduce

Example table:

[code]
✅ In the console works
[code]
✅ With a string as a parameter works
[code]

🚫  However, using a timestamp as a parameter does not work:

[code]
Error:
[code]

### Expected Behavior

_No response_

### Environment

[code]

### Additional context

_No response_

[2022-08-17 16:12] Va1 commented on #1448
same happens upon disk snapshot restoration, on Linux in k8s

[2022-08-17 16:14] puzpuzpuz opened #2437 "Support int/long columns in count_distinct()"
### Is your feature request related to a problem?

ATM only string and symbol columns are supported in `count_distinct()`. Would be nice to support int and long column types.

### Describe the solution you'd like.

_No response_

### Describe alternatives you've considered.

_No response_

### Additional context.

_No response_

[2022-08-17 16:14] Va1 commented on #2420
i can confirm this is happening on Linux as well, but in the context of disk snapshot recovery.

QuestDB 6.4.2

[2022-08-17 22:41] #2367 closed

[2022-08-18 01:35] VisionaryAries opened #2438 "Failed using third-party database tool DBeaver connect questdb"
### Describe the bug

when using dbeaver using connect questdb failed with below error.

[code]

![image](https://user-images.githubusercontent.com/55009215/185272751-eda5f721-bd12-4a6c-bc76-c52dc1b63dd6.png)

### To reproduce

choose postgresql driver to connect questdb

### Expected Behavior

_No response_

### Environment

[code]

### Additional context

_No response_

[2022-08-18 08:25] pswu11 commented on #2438
Hi @VisionaryAries thanks for raising the issue! QuestDB is not yet fully compatible with DBeaver.
It'd be easier to use our built-in web console at the moment.

[2022-08-18 08:37] donet5 commented on #2434
C# restarts still have occasional problems

You must restart the database service to resolve the problem

[2022-08-18 08:41] pswu11 commented on #2418
Hi @pokliu do you still experience the same issue in 6.5?

[2022-08-18 13:12] pswu11 commented on #2418
Thanks a lot for reporting back. I will close this issue for now, if it appears again feel free to reopen it.
Also, we have a user community for discussions: https://slack.questdb.io/

[2022-08-18 13:12] #2418 closed

[2022-08-18 13:14] ideoma opened #2441 "Reader leaked resulting in max txn-inflight limit reached"
### Describe the bug

_No response_

### To reproduce

Suspicious offending query is:

[code]

results in

[code]

and subsequent TableReader leak

### Expected Behavior

No resource leak

### Environment

[code]

### Additional context

_No response_

[2022-08-18 13:21] pswu11 commented on #2424
Hi, so far we don't have any concrete plan to support other encodings as we already support `UTF-8`
we recommend converting it, for example:
`iconv -f CP1251 -t UTF-8 -o test-utf.csv test.csv`

[2022-08-18 15:26] #2437 closed

[2022-08-18 18:13] #2414 closed

[2022-08-18 19:15] ideoma commented on #2441
another potential leak can be when query like this

[code]

is aborted

[code]

[2022-08-18 19:44] puzpuzpuz commented on #2441
The problem is in the following lines: https://github.com/questdb/questdb/blob/3fedfed87ff8ed5d29752472b0f34b1e13c30172/core/src/main/java/io/questdb/griffin/engine/groupby/AbstractSampleByNotKeyedRecordCursorFactory.java#L48-L49

We need to make sure that the base cursor gets closed whenever any of the above calls throws `CairoException`. To do that we may want to avoid eager fetch on `AsyncFilte

[2022-08-18 21:28] igor-suhorukov commented on #261
We working with Apache Arrow team on jdbc bridge  [(binders) for list and map vectors](https://github.com/apache/arrow/issues/13895).
My data [import utility](https://github.com/igor-suhorukov/arrow_to_database) based on Apache Arrow jdbc-adapter works with PostgreSQL and H2 databases. QuestDB support is coming but I have some doubts related for mapping  arrays/key-value due corresponding datatype

[2022-08-20 03:55] donet5 opened #2445 "A large number of QuestDb errors are reported in the stress test.NET CORE"
### Describe the bug

I wrote a DEMO that I hope you can handle, but it's affecting the normal function
The same code, PGSQL, works fine

[NETCORE_QuestDbTest.rar](https://www.donet5.com/_theme/ueditor/utf8-net/net/upload/file/20220820/6379659310456303931175824.rar)

​

### To reproduce

_No response_

### Expected Behavior

_No response_

### Environment

[code]

### Additional context

_No respo

[2022-08-20 14:52] jerrinot opened #2446 "Implement pg_catalog.pg_tables"
### Is your feature request related to a problem?

When adding QuestDB as a Postgres Sink into [decodable.co](https://www.decodable.co/)
I'm getting this error: `Invalid connection. Reason: ERROR: table does not exist [name=pg_catalog.pg_tables]`

Apparently, this table is not implemented.

### Describe the solution you'd like.

Implement this table so QuestDB can be used as a Sink in Decodable.

[2022-08-20 14:55] #2425 closed

[2022-08-22 07:36] bziobrowski opened #2447 "Query with systimestamp() filter returns incorrect results"
### Describe the bug

Query with "sensor_time <= systimestamp()" on designated timestamp doesn't include latest results .

### To reproduce
[code]

### Expected Behavior

Query above should return records with 2022-08-22 timestamp first .

### Environment

[code]

### Additional context

_No response_

[2022-08-22 09:11] Zahlii commented on #2447
Maybe this is also linked to https://github.com/questdb/questdb/issues/2435 ?

[2022-08-22 12:42] jerrinot commented on #2446
Just a note I do not want to forget.
There was one more hiccup after implementing  `pg_catalog.pg_tables`: I created a target table in QuestDB called `decodable`, but Decodable complained it could not find a table `public.decodable` in a target Postgres server.

After I created a table called literally "public.decodable" then Decodable was happy. It inserts entries into a table called just "decoda

[2022-08-22 20:38] kevindirect commented on #2427
Any progress? I guess the native method needed for querying the fs isn't packaged? I don't know if other people have had trouble with freebsd, I'm using zfs which is a commonly used and suggested filesystem for freebsd.

Would the JVM free version be more likely to work?

[2022-08-22 21:02] kevindirect commented on #2427
Found the same problem using the no-jre version

[2022-08-23 03:18] Luyang2902 opened #2449 "unknown function timestamp_floor()"
### Describe the bug

 select code,timestamp_floor('m',timestamp) as timestamp,close/open-1 as r
from 'kline_5M'
where timestamp

and hour(timestamp)>=9
and minute(timestamp)>24

this code snap ran correctly serveral days ago ,but today ,report unkown function timestamp_floor()
![s](https://user-images.githubusercontent.com/98975457/186062003-0172b52e-9987-4cab-a28a-0e5fd6e02cb7.png)

### To repro

[2022-08-23 04:40] carbonhe opened #2450 "Attempted to read past the end of the stream"
### Describe the bug

Connection will be lost when inserting data too long (contains a string type column in base64 format). Tested under   [PostgreSQL wire protocol](https://questdb.io/docs/develop/insert-data#postgresql-wire-protocol).

### Demo Source Code
[QuestDbDemo.zip](https://github.com/questdb/questdb/files/9399374/QuestDbDemo.zip)

### To reproduce

1. Download and run demo souce code a

[2022-08-23 05:58] carbonhe commented on #2450
I found the cause of the problem is that the [receive buffer](https://questdb.io/docs/reference/configuration#postgres-wire-protocol) is too small，just make it bigger.

[2022-08-23 05:58] #2450 closed

[2022-08-23 07:04] bziobrowski commented on #2449
I can't reproduce it with the sql .
Please add table schema and qdb version you're using .
It would also make sense to check sql for invisible characters .

[2022-08-23 07:08] Luyang2902 commented on #2449
@bziobrowski  version 6.5

[2022-08-23 07:10] Luyang2902 commented on #2449
@bziobrowski  if I  delete where clause ,it runs !  ａfew days ago ,this code snap works

[2022-08-23 07:23] bziobrowski commented on #2449
Issue was caused by invisible whitespace character(s).

[2022-08-23 08:11] jerrinot commented on #2446
there is already an open issue related to the schema thing: https://github.com/questdb/questdb/issues/1577

[2022-08-23 11:15] bziobrowski commented on #2447
Yes, it's the same issue . Thanks for pointing it out .

[2022-08-23 12:21] ostermannIAO opened #2452 "Definition of a delimiter for CSV exports"
### Is your feature request related to a problem?

Recently we started using QuestDB in one of our projects. We wanted to implement the export-function into our backend-services and realized, that exporting data with a predefined delimiter is not possible (see documentation here: https://questdb.io/docs/reference/api/rest/#exp---export-data)

### Describe the solution you'd like.

We would like to

[2022-08-23 13:54] pswu11 commented on #2452
Hi @ostermannIAO thank you for creating the feature request!
In case you're not aware of it, we also have a community on Slack for QuestDB developers: https://slack.questdb.io/

[2022-08-23 16:17] meeraj257 commented on #1953
Is this issue fixed?

[2022-08-24 12:21] puzpuzpuz opened #2454 "Regex filter may throw StringIndexOutOfBoundsException"
### Describe the bug

Originates from #2441

### To reproduce

Suspicious offending query is:
[code]
results in
[code]

Reported by user on the built-in JDK (QuestDB rt distribution). The distinct values of symbol column were the following:
[code]

Failed to reproduce this one on strings on OpenJDK 17, including those with two-byte chars. It could be a JDK bug.

### Expected Behavior

_No response

[2022-08-24 12:22] puzpuzpuz commented on #2441
Created #2454 to track the `StringIndexOutOfBoundsException` issue separately.

[2022-08-24 12:22] #2441 closed

[2022-08-24 13:55] sysarcher opened #2456 "Run QuestDB on Openshift Container Platform fails"
### Describe the bug

Running the default instructions to deploy QuestDB on OCP (OpenShift Container Platform) cluster fails with the following log:

[code]

Applying the SCC `anyuid` to `system:authenticated` resolves this

[code]
This way, any authenticated user can run pods with `anyuid`. Is this desired?

### To reproduce

1. Setup Openshift
2. Install QuestDB using `helm`
3. Get logs from `my

[2022-08-24 13:58] amunra commented on #1953
I think it's still an open issue, IIRC.

[2022-08-24 19:31] Zahlii commented on #1268
If thats fine, I'll have a look into it.  My idea for now would be to keep syntax in line with the approach used by row_number, i.e. lag(column, N), or lag(column, N) over (partition by a order by b)

[2022-08-25 08:34] #2447 closed

[2022-08-25 08:34] #2435 closed

[2022-08-25 10:16] sherwinmascarenhas opened #2460 "Cannot drop partitions while inserting data using UDP sender"
### Describe the bug

I have a service that is inserting data into quest using UDP ILP sender. As part of our data retention service we would like to drop partitions a few days old. However, when I run a simple drop partition command like the following using curl or through quest's UI:

ALTER TABLE measurements DROP PARTITION LIST '2019-05-18';

I get a response saying:
[code]

Increasing the time

[2022-08-25 10:19] igor-suhorukov opened #2461 "H3 geo hash function support"
### Is your feature request related to a problem?

I use H3 partitioning system in data pipeline to partitioning large amount of geospatial data of planet into areas of ~equi size.
After that program serialize hash in 'short' data type for 0-3 resolution levels and into 'int' for 4-8 levels to reduce data size and speedup queries.
H3 functions binding required to process data aggregation and visua

[2022-08-25 10:43] igor-suhorukov opened #2462 "Support Array of primitive types"
### Is your feature request related to a problem?

Typical analytical data de-normalized and contains arrays of long, int, short etc

### Describe the solution you'd like.

Support of long[], int[], short[], float[], double[] and array function to filter/query it

### Describe alternatives you've considered.

Serialize array to string/binary

### Additional context.

_No response_

[2022-08-25 11:27] igor-suhorukov commented on #261
I import data from parquet datasets first time by using [arrow_to_database](https://github.com/igor-suhorukov/arrow_to_database) jdbc tools.
Import works only for data without array/map column still
196781422 records loaded in 23min

![Screenshot from 2022-08-25 14-15-09](https://user-images.githubusercontent.com/10332206/186651703-19f45cc7-abcb-46e3-ad6f-b7f6a07cd1c0.png)
![Screenshot from 2022-0

[2022-08-25 13:01] igor-suhorukov opened #2463 "Map data type. Key-value of primitive types"
### Is your feature request related to a problem?

Typical analytical data de-normalized and contains map of primitive types. PostgreSQL [hstore](https://www.postgresql.org/docs/current/hstore.html) extension/type solve this task, Clickhouse also support [Map](https://clickhouse.com/docs/en/sql-reference/data-types/map/), Apache Spark and [SparkSQL](https://docs.databricks.com/sql/language-manual/

[2022-08-25 15:26] lookharm opened #2464 "Cannot UPDATE after DROP and CREATE TABLE"
### Describe the bug

I get the ReaderOutOfDateException: `cached query plan cannot be used because table schema has changed` every time when drop table/create table first and then insert/update.
Log that added to QuestDB reports the difference between writerMetadata.getId() and tableId (`writerMetadata.getId()=8, tableId=6`) so the error is responded.
src/main/java/io/questdb/griffin/UpdateOperat

[2022-08-25 15:57] puzpuzpuz commented on #2454
Could not reproduce the exception on both 6.5 Docker and questdb-6.5-rt-linux-amd64 (Ubuntu 20.04 x86-64).

[2022-08-25 16:08] Zahlii opened #2465 "Order by ignored when selecting from virtual table"
### Describe the bug

When selecting from a table created within the current statement, order by statements are ignored. While this is usually not a common use case, it makes it much more difficult to write certain tests.

### To reproduce

`select * from (select rnd_double() a, cast(rnd_boolean() as int) b from long_sequence(5)) order by b asc, a desc`

### Expected Behavior

Output now:

0.21118

[2022-08-26 00:53] ozitrance opened #2466 "QDB Crashes On Simple 'WHERE' Queries (on indexed SYMBOLs?)"
### Describe the bug

Just trying to run simple WHERE queries on fresh database resulting in a crash every time.

Table was initially created using python/SQL with:
`CREATE TABLE IF NOT EXISTS {name}(side SYMBOL index, type SYMBOL index, price DOUBLE, qty DOUBLE, ts TIMESTAMP) timestamp(ts) PARTITION BY DAY`

Importing rows was done using TCP Line Writer (python)
Table currently has ~ 2 million ro

[2022-08-26 02:09] ozitrance commented on #2466
Ok I was able to narrow it down to wrong configuration on my part...
I was using an oversized value for: `cairo.index.value.block.size`
A little more reasonable yet still oversized value seems to be working fine..

[2022-08-26 02:09] #2466 closed

[2022-08-26 08:33] pswu11 commented on #2466
@ozitrance thanks for reporting back!

[2022-08-26 10:00] mariusgheorghies commented on #2456
Hi @sysarcher can i see the pod yaml, where do you mount the volumes and the security context?
Please don't forget to delete any secret information from yaml output.

What I see is that you mount the volume in the /root/.questdb/ directory but you are running questdb with `1000690000` id. That can create a problem because that id can't access /root/.questdb/
If you mount volume data into `/var/lib

[2022-08-26 10:07] Luyang2902 opened #2468 "lag() function"
### Is your feature request related to a problem?

lag() function is useful when calculate the rolling spread of time series

### Describe the solution you'd like.

_No response_

### Describe alternatives you've considered.

_No response_

### Additional context.

_No response_

[2022-08-26 10:14] jerrinot commented on #2340
another test failure: https://dev.azure.com/questdb/questdb/_build/results?buildId=9873&view=ms.vss-test-web.build-test-results-tab&runId=77124&resultId=100667&paneView=debug

[2022-08-26 10:24] #2405 closed

[2022-08-26 12:19] eugenels opened #2470 "'Duplicate column' exception in INTERSECT query."
### Describe the bug

Query:

[code]

throws `CairoException("Duplicate column [name=i]")`

### To reproduce

_No response_

### Expected Behavior

The query should return the correct result.

### Environment

[code]

### Additional context

_No response_

[2022-08-26 13:16] jerrinot commented on #2464
Hello @lookharm, I'm having difficulties reproducing it. Can you please share more details? Ideally a code with a reproducer. Are you using a single Postgres connection? Are you using prepared statements at all? Are all steps from your reproducer running sequentially or are there concurrent bits as well?

[2022-08-26 15:22] lookharm commented on #2464
Hello @jerrinot,
1. restart database or run new one. In this case I use: `java -jar core/target/questdb-6.5.1-SNAPSHOT.jar -d ./root`
2. create a table
3. run Test1
4. drop and create a table
5. run Test2 (at this step sometimes you need to run it more than 1 time)

[code]

[2022-08-26 15:23] #2470 closed

[2022-08-26 15:27] jerrinot commented on #2464
that's great, thanks a lot!

[2022-08-28 12:20] john1337 opened #2474 "doesn't questdb support primary key?"
### Is your feature request related to a problem?

i am considering using questdb,but i found it didn't support primary key,so if i inserted same data,it will add duplicate data in the database

### Describe the solution you'd like.

_No response_

### Describe alternatives you've considered.

_No response_

### Additional context.

_No response_

[2022-08-28 18:48] Zahlii commented on #2468
Duplicate of https://github.com/questdb/questdb/issues/1268 ?

[2022-08-29 05:35] john1337 opened #2475 "does questdb has any plans to develop plugins in dbveaver?"
### Is your feature request related to a problem?

does questdb has any plans to develop plugins in dbveaver?now i can only do such things on web console which is not conveient

### Describe the solution you'd like.

does questdb has any plans to develop plugins in dbveaver?now i can only do such things on web console which is not conveient

### Describe alternatives you've considered.

_No respon

[2022-08-29 06:33] puzpuzpuz commented on #2468
Closing this one in favor of #1268

[2022-08-29 06:33] #2468 closed

[2022-08-29 09:07] jerrinot opened #2476 "Investigate HTTP connector memory allocation"
### Describe the bug

I'm on 384094c21d04cbbb. I start QuestDB from my IDE by running ServerMain. Then I go to the web console and execute a query showing memory allocation per tag:
[code]
I can see the `NATIVE_HTTP_CONN` allocated almost 700MB (out of 950MB total allocations). This seems excessive and should be investigated.

The first step could be to call the query via pgwire. To see if it's a

[2022-08-29 10:21] puzpuzpuz opened #2477 "Automatic log file deletion in LogRollingFileWriter"
### Is your feature request related to a problem?

`LogRollingFileWriter` should support automatic log file deletion based on time or space. The check can take place each time when a new log file is rolled.

### Describe the solution you'd like.

_No response_

### Describe alternatives you've considered.

A cron job that would delete older log files does the trick, but having a built-in feature i

[2022-08-29 11:37] jerrinot commented on #2464
reproducer as a JUnit test:
[code]

[2022-08-29 19:22] sysarcher commented on #2456
Thank you @mariusgheorghies

I'll try this out in the next couple of days. I'll let you know here.

[2022-08-31 03:54] cumtqiangqiang opened #2483 "ILP insert frequently, server crashed.version 6.5.1"
### Describe the bug

Insert data frequently with mutiple threads,the serve was crashed.
[quest_crash.log](https://github.com/questdb/questdb/files/9458273/quest_crash.log)
[hs_err_pid+18774.log](https://github.com/questdb/questdb/files/9458274/hs_err_pid%2B18774.log)

### To reproduce

_No response_

### Expected Behavior

_No response_

### Environment

[code]

### Additional context

_No respon

[2022-08-31 09:38] puzpuzpuz commented on #2483
Hi @cumtqiangqiang

Thanks for the bug report, we're looking into it.

[2022-08-31 12:46] puzpuzpuz commented on #2483
@cumtqiangqiang

I'm looking at the crash report right now and can't reproduce it, at least for now. Would you be able to share a minimal reproducer snippet for this crash or, at least, describe what's going on in your application? AFAIU you're writing to QuestDB from multiple threads in a Java application. Do you use a dedicated `LineTcpSender` instance per each thread? Are those long-lived insta

[2022-08-31 23:11] kevindirect commented on #2427
Any updates?

[2022-09-01 09:22] iAmSKU opened #2487 "queue buffer overflow on docker environment when using bigger payload."
### Describe the bug

Hi,

I am using docker-compose, with following option:
[code]

I am using "go-questdb-client v0.0.0-20220704084314"  to ingest the data, I have observed bellow issue when ingesting bigger payload (approx. 100 KB per second) to questDB:
[code]

With 20KB payload per second, no such issue is observed.

**Is there anyway to set the limit the payload in docker compose?**
I assume

[2022-09-01 10:12] bluestreak01 commented on #2427
Sorry for the trouble. I can reproduce it, investigating

[2022-09-01 10:37] amyshwang opened #2489 "Success/Failure log message for `REINDEX`"
### Describe the bug

When executing `REINDEX` for a table without any index, the log message suggest that the operation is completed successfully.
My query:

[code]
The message:
![image](https://user-images.githubusercontent.com/107401731/187894167-62d6d9d9-02bf-4fe0-95b4-cb591fbb70a1.png)

However, reindexing the same table with column specified shows an error message:

[code]
Message:
![image](

[2022-09-01 14:24] #2427 closed

[2022-09-01 14:50] bluestreak01 commented on #2475
yeah, there are plans of course. We're looking to implement missing syntax and views in Q4

[2022-09-01 17:13] glasstiger opened #2491 "AsyncFilteredRecordCursorFactory concurrency issue"
### Describe the bug

Following error appears on the log when running the below reproducer:
[code]

### To reproduce

[code]

### Expected Behavior

No error, each query should get a response.

### Environment

[code]

### Additional context

_No response_

[2022-09-02 16:20] #2454 closed

[2022-09-02 16:20] #2491 closed

[2022-09-02 16:43] tris0laris commented on #2474
Can you give us some example of what your data looks like and what you are trying to avoid? We may be able to help you from there. thank you

[2022-09-02 16:50] tris0laris commented on #2487
Hi, thanks for reporting this issue. We will look into it as soon as possible and come back to you

[2022-09-03 07:53] john1337 commented on #2474
for example,i am using questdb for latest device timeseries,but device may upload same data,so i am using device id for primary key to keep it not duplicate

[2022-09-03 10:00] sreenath-tm commented on #2489
I'm interested in contributing to this issue, so before I start working it, would anyone mind sparing a little time explaining how I can go about the issue and pointing me to some resources to get started.

[2022-09-03 10:01] sreenath-tm commented on #2477
I'm interested in contributing to this issue, so before I start working it, would you mind sparing a little time explaining how I can solve this and pointing me to some resources to get started.

[2022-09-03 10:36] puzpuzpuz commented on #2489
Hello @sreenath-tm

The entry point for REINDEX is this method: https://github.com/questdb/questdb/blob/18714cd03f7a482b1f234b223aac2a2dfa035c77/core/src/main/java/io/questdb/griffin/SqlCompiler.java#L2572

After the validation checks it calls: https://github.com/questdb/questdb/blob/18714cd03f7a482b1f234b223aac2a2dfa035c77/core/src/main/java/io/questdb/cairo/RebuildColumnBase.java#L77

The remain

[2022-09-03 11:35] puzpuzpuz commented on #2477
Hello,

The main point of interest in this one is the `LogRollingFileWriter` class. The idea is that it should support additional configuration based on total number of files or the log directory size. Whenever one of these options is provided, the writer should check and delete older log files each time it rolls a new log file.

[2022-09-04 17:13] oliveagle opened #2497 "postgresql fdw support"
### Is your feature request related to a problem?

I'm try to setup postgresql to access questdb with the help of `Foreign Data Wrapper`.   when I try to import schema from questdb, I got  this exception:

[code]

### Describe the solution you'd like.

_No response_

### Describe alternatives you've considered.

_No response_

### Additional context.

_No response_

[2022-09-05 12:47] #2464 closed

[2022-09-05 13:47] ideoma opened #2501 "add UFS (0x35) to supported file system"
Add UFS code 0x35 to list of supported file systems

[2022-09-05 16:29] tranquilo12 commented on #2329
I've also encountered another similar issue.

I've got a table full of aggregates called 'aggs', and I've got a table full of urls called 'urls' that are used to pull down the aggregates from a data provider.

I use a small program to check which urls from 'urls' have not been used to populate 'aggs' yet, and then use them to fill up 'aggs'.
But I need a query to determine which urls are "done", b

[2022-09-06 04:24] kevindirect commented on #2427
Thanks, it can initialize properly now.

This message is being printed to the stdout log though
`SYSTEM IS USING UNSUPPORTED FILE SYSTEM AND COULD BE UNSTABLE`
Is this because the db is on ZFS? I don't see it listed here: https://github.com/questdb/questdb/pull/2490/files

Is this a problem or is it a warning that can be safely ignored? If it initialized properly I guess questdb has access to what

[2022-09-06 09:46] #2328 closed

[2022-09-06 10:11] bziobrowski commented on #2426
Both sqls seem to work in 6.5.2 .

[2022-09-06 10:11] #2426 closed

[2022-09-06 13:53] jerrinot opened #2505 "Case sensitive DROP table + misleading error message"
### Describe the bug

It seems SQL DROP is case sensitive. This is probably not intentional. Moreover it produces a confusing error message when case is not matching.

### To reproduce

In a web console:
1. Create a new table: `create table Orders2 (name String);`
2. Try to drop it: `drop table orders2;`
3. It produces the following error: `Could not lock 'orders2' [reason='missing or owned by oth

[2022-09-06 22:44] kevindirect commented on #2501
@ideoma where is the list of supported file systems?

[2022-09-07 01:44] zcz3313 opened #2507 "start questdb server in java application?"
### Is your feature request related to a problem?

can this feature be done ?
I have read docs in offcial site, but I have seen nothing about this feature.
hope anyone could give a solution.

### Describe the solution you'd like.

_No response_

### Describe alternatives you've considered.

_No response_

### Additional context.

_No response_

[2022-09-07 08:02] marregui commented on #2507
Hola, I am working on that https://github.com/questdb/questdb/pull/2480 it should be merged soon and then you can pop off a QuestDB instance from your code.

[2022-09-07 08:02] #2507 closed

[2022-09-07 08:51] marregui commented on #2267
Hi,

Two exemplifying examples in the codebase on how to use timestamps:

https://github.com/questdb/questdb/blob/master/core/src/test/java/io/questdb/cutlass/pgwire/PGJobContextTest.java#L5934
https://github.com/questdb/questdb/blob/master/core/src/test/java/io/questdb/cutlass/pgwire/PGJobContextTest.java#L6059

It is a feature :P

[2022-09-07 08:54] marregui commented on #2294
Gets a T-Shirt when competed by a member of the community

[2022-09-07 08:57] marregui commented on #2433
Hola @langustav

All good?

[2022-09-07 09:31] sherwinmascarenhas commented on #2460
Hi,

Our table is partitioned by day. No the UDP metrics are not arriving out of order.
The query we tried to use for dropping partitions is as follows:
`ALTER TABLE 'table_name' DROP PARTITION WHERE ts < dateadd('d', -7, now())`
We also tried using an alternate query:
ALTER TABLE 'table_name' DROP PARTITION LIST '2022-08-29';
But this did not work while we were persisting metrics using UDP.

Howe

[2022-09-07 12:23] lookharm commented on #2294
Hi @marregui , I want to contribute to this issue. Can I start working on this?

[2022-09-07 13:04] marregui commented on #2294
Hola @lookharm , yes please!. If you need help or get stuck, do let me know, here or in Slack :)

[2022-09-07 14:30] puzpuzpuz opened #2509 "Support backward interval generation in IN operator"
### Is your feature request related to a problem?

IN operator support interval generation:
[code]

The above query would return results from 13:00-14:00 intervals for 10K days starting with 2018-01-01, so the results are in future when compared with the start date.

Would be nice to support backward iteration syntax, e.g. '2018-01-01T13:00:00;1h;-24h;10000', which would return intervals in the pa

[2022-09-08 07:33] pokliu commented on #2267
Hi @marregui ,

This can be a feature, but if there is a bug in the user's application code that causes the timestamp precision to be wrong, it should not generate a wrong partition, or at least allow the user to delete the wrong partition, instead of the current SQL statement that cannot be run This makes it impossible to migrate data to fix the situation.

[2022-09-08 07:57] lookharm commented on #2294
Need help @marregui
I found that `select *` and `select * table_y` will be accepted by the parser too even if a `table_y` doesn't exist on the database.

The bug is probably at a funciton`parseDml0`: https://github.com/questdb/questdb/blob/f7bcd5af33e8336d9eeed921eb97ddac1f545d50/core/src/main/java/io/questdb/griffin/SqlParser.java#L933-L965
The query like `select * trades ` or `select *` will be

[2022-09-08 08:13] shursulei opened #2510 "third part tools want to connect questdb by postgresql,bu don't success"
### Describe the bug

the config is default as questdb.
but the third party error is
SQL 错误 [00000]: ERROR: Duplicate column [name=oid]
  位置：14
  ERROR: Duplicate column [name=oid]
  位置：14
  ERROR: Duplicate column [name=oid]
  位置：14

### To reproduce

_No response_

### Expected Behavior

_No response_

### Environment

[code]

### Additional context

_No response_

[2022-09-08 08:48] marregui commented on #2267
Hi @pokliu ,

If I could copy/paste code into a test then I would be able to reproduce this quickly and see if there is a way to validate the sent timestamp. It would give me more grounds to address this situation.

Would you please be able to paste here some client code sending the misconstructed timestamp?.

Thank you in advance.

[2022-09-08 09:04] marregui commented on #2294
Hi @lookharm ,

Indeed you found the entry point into the issue.

In QuestDB you can navigate to the webconsole, type simply the table name and hit run. This acts as an `alias` for the full statement `select * from tab`. However the implementation has a whole and it also allows you (the bug) to do `select * tab`.
In the last case, the `*` is found and interpreted as an expression. The following to

[2022-09-08 09:13] marregui commented on #2460
Hi,

mmmm, it may be the version of QuestDB you are running. We recently worked on partition attach/detach and we revisited the drop functionality as well (version[ 6.5.1](https://github.com/questdb/questdb/releases/tag/6.5.1) released this). Don't do anything yet, I will test this scenario in both versions (yours and latest released 6.5.2) and will report back.

[2022-09-08 09:15] sherwinmascarenhas commented on #2460
Sure, that would be great!

[2022-09-08 11:53] pokliu commented on #2267
Hi @marregui ,

Sorry I didn't describe clearly. I encountered this bug when using the ILP protocol.

But I can't reproduce it in v6.5 now, I don't know if this bug has been fixed recently.

[2022-09-08 12:03] marregui commented on #2460
Hi,

It is impossible in ILP/UDP as the table gets locked by the writer and is not released, because messages will arrive stochastically.

You can do that with ILP/TCP

Would you be able to switch to ilp/tcp?

[2022-09-08 12:09] sherwinmascarenhas commented on #2460
Yes, we have switched back to ILP/TCP,  but we would prefer to do it in UDP, due to the higher rate of sending metrics and no waiting for ack. Would like to know if quest has plans to optimize the alter table process when using ILP/UDP or is it something that is not of priority.

[2022-09-08 12:11] marregui commented on #2267
Hi,

I could not accurately tell you which release sorted it out, but yes, we have recently released the official python client (https://github.com/questdb/py-questdb-client) and there has been work done.

ILP/TCP is compatible with dropping/attaching/detaching any partitions except for the active one (the one receiving the data). TCP/UDP is NOT compatible with the above however.

So all good an w

[2022-09-08 12:24] marregui commented on #2460
It is not a priority at present, and I suppose it would require specking it out well, seems not so trivial.
Things as they are, QuestDB is running and listening for UDP packets. When one shows up, a table writer is created, the table becomes locked for write access and from that moment on the lock will exist and will prevent all write operations (which ALTER are).

What you can do is create a feat

[2022-09-08 13:24] sherwinmascarenhas commented on #2460
Great! Will create a feature request for this as you've said.
Regarding performance with TCP/ILP, we are using the latest clients and are seeing satisfiable performance. We are hoping the performance stays this way as we add more metrics to quest db.

Thanks for all the help @marregui!

[2022-09-08 15:36] jscarrott opened #2511 "6.5.1 seemingly corrupts ilp ingest data"
### Describe the bug

Unfortunately, this only happens in our prod environment so it is going to be very hard potentially to reproduce and we have had to rollback to 6.4.3 until this is fixed.

We have lots of data going into questdb most of it having values in all the columns but a significant portion of the data doesn't have values in all the columns and leaves them unset. After updating to 6.5.

[2022-09-08 16:25] #2309 closed

[2022-09-08 17:31] #2286 closed

[2022-09-08 17:31] #2349 closed

[2022-09-09 02:08] #2267 closed

[2022-09-09 03:27] lookharm commented on #2294
Hi @marregui ,
What about this test case: https://github.com/questdb/questdb/blob/f7bcd5af33e8336d9eeed921eb97ddac1f545d50/core/src/test/java/io/questdb/griffin/SqlParserTest.java#L4740-L4752

What is "<-- dangling 'select *'"? Is `select *` a correct syntax?

[2022-09-09 05:15] lookharm commented on #2294
A bit confusing about functions e.g `reader_pool` and `reader_pool()` both of them work perfectly even the first one has no parenthesis. And all of these too:
`select current_schema` and `select current_schema()`
`select dump_memory_usage` and `select dump_memory_usage()`
`select session_user` and `select session_user()`

So what is the difference between the function and literal, how can we categ

[2022-09-09 07:16] langustav commented on #2433
Sorry. Thanks for the suggestion. In the end, we found that we are restarting our docker container once a day. There was an issue that if it was taking too long (more than a few seconds) the container was killed by the parent process. I think we can close the issue now.

[2022-09-09 07:16] #2433 closed

[2022-09-09 12:54] marregui commented on #2433
oh!, excellent! have a great weekend!

[2022-09-09 13:14] marregui commented on #2294
QuestDB's parser views SQL as a functional language. Some modern languages, like elixir, have parenthesis as optional, particularly when there are no parameters for the function. We work that way as well, so that when we see a literal, in a select clause, we treat it as a function.

Class `FunctionParser` has method `parseFunction`, if you put a breakpoint there you will see that as we traverse th

[2022-09-09 13:44] bluestreak01 opened #2513 "Flaky testParallelStressMultipleThreadsMultipleWorkersPositiveLimitJitDisabled"
### Describe the bug

Possible bug in async offload:

[code]

[code]

[86.txt.zip](https://github.com/questdb/questdb/files/9535895/86.txt.zip)

### To reproduce

_No response_

### Expected Behavior

_No response_

### Environment

[code]

### Additional context

_No response_

[2022-09-09 16:01] lookharm commented on #2294
Maybe this is not a bug, even if we use an alias for `*` it will not change column names. If we use this query: `select * x from 'gas_prices'` in the demo page it will return `timestamp` and `galon_price` same as `select * from 'gas_prices'` (x does not have an effect on column names). So the `select * tab` that returns `x` is probably right because `x` is the column name of `long_sequence`.

[2022-09-09 16:15] #2476 closed

[2022-09-09 18:31] marregui commented on #2294
The semantics of the queries:

- `select * from tab`: You can think of tab as a cursor over the selected fields for table **tab**.
- `select *`: The parser injects ` from long_sequence(1)`, so now the cursor contains just one column, **x**, one row only.
- `select * tab`: This makes sense, but has been deemed ugly, and this issue is about not tolerating this syntax.

You could argue that because `

[2022-09-10 08:42] anonymous-baaka commented on #2509
Hi, I would definitely love to work on this feature

[2022-09-10 12:52] puzpuzpuz commented on #2509
@anonymous-baaka awesome to hear that. The logic is located in `IntervalUtils#parseInterval()` while some correlated tests may be found in `WhereClauseParserTest#testComplexInterval*()` tests. Let me know if you have any questions.

[2022-09-10 14:15] anonymous-baaka commented on #2509
@puzpuzpuz thank you for your reply. Will definitely look into it.

[2022-09-11 09:45] Luyang2902 opened #2517 "unvalid column with group by bug"
### Describe the bug

I have update questdb to 6.52 version but the  invalid column error is very strange, the code in the bracket runs correctly,the close column no problem

select distinct a.timestamp,sum((open/close-1)*rweight*rho)/sum(rweight*rho) as r
from (
 select code,timestamp_floor('m',timestamp)  timestamp,
  open ,close
from 'kline_5M'
 where timestamp>to_timestamp('2022-09-09T00:15',

[2022-09-11 12:38] rajdeepdas2000 commented on #1679
I would like to work on this issue.

[2022-09-11 12:43] rajdeepdas2000 commented on #353
I would like to work on this issue.

[2022-09-11 12:44] rajdeepdas2000 commented on #1701
I would like to work on this issue.

[2022-09-12 06:58] Luyang2902 commented on #2517
![ZA35W7PDBEIFZB%UA284W3](https://user-images.githubusercontent.com/98975457/189591787-61fd5c65-0119-4e3f-8dea-55cf7d4071af.png)

[2022-09-12 07:11] Luyang2902 commented on #2517
this code runs correctly !

 select distinct a.timestamp,groups,sub_plate,open/close as r2,rweight,rho,
/*sum((open/close-1)*rweight*rho)/sum(rweight*rho) as r*/
rweight*rho as r
from (
select code,timestamp_floor('m',timestamp) timestamp,
open ,close
from 'kline_5M'
where timestamp>to_timestamp('2022-09-09T00:15', 'yyyy-MM-ddTHH:mm')
) as a join 'factor_weight' as b
on a.code=b.code
group by grou

[2022-09-12 07:11] Luyang2902 commented on #2517
this code run correctly !

select distinct a.timestamp,groups,sub_plate,sum(open/close) as r
from (
select code,timestamp_floor('m',timestamp) timestamp,
case when cast(open as int)=0 then 1 else open end as open  ,close
from 'kline_5M'
where timestamp>to_timestamp('2022-09-09T00:15', 'yyyy-MM-ddTHH:mm')
) as a join 'factor_weight' as b
on a.code=b.code
group by a.timestamp,groups ,sub_plate
order

[2022-09-12 07:13] Luyang2902 commented on #2517
this code runs correctly ! fields comes from different table can't calcualate together! why ? It's a BUG !

select distinct a.timestamp,groups,sub_plate,
/*sum((open/close-1)*rweight*rho)/sum(rweight*rho) as rr*/
sum(rweight*rho)/sum(rweight*rho) as rr
from (
select code,timestamp_floor('m',timestamp) timestamp,
open ,close
from 'kline_5M'
where timestamp>to_timestamp('2022-09-09T00:15', 'yyyy-MM-

[2022-09-12 14:48] cumtqiangqiang opened #2519 "log append issue."
### Describe the bug

w.file.rollEvery=day
w.file.rollSize=1g

For std log, such as stdout-2022-09-08T13-57-54.txt
for the default config rollSize = 1g, it is not rolled, according to size and  rollEvery, it is increased to 8G, and I delete it.Then There's no log file generation here after I delete it.

### To reproduce

_No response_

### Expected Behavior

_No response_

### Environment

[code]

[2022-09-12 18:04] puzpuzpuz commented on #2519
Closing since the configuration wasn't enabling LogRollingFileWriter

[2022-09-12 18:04] #2519 closed

[2022-09-13 06:07] lkpatel opened #2520 "DROP TABLE command failed in XFS filesystem"
### Describe the bug

I am running QuestDB 6.5.2 on a virtual machine running CentOS 7.9.2009 64 bit OS having XFS filesystem. Whenever I am trying to run DROP TABLE 'sensors';  command both in web console and psql terminal,  it is giving following error-

[code]
According to  https://questdb.io/docs/troubleshooting/os-error-codes/ the errno 39 means Directory not empty.
The directory is located i

[2022-09-13 07:27] rajdeepdas2000 commented on #2517
Hi. I would like to work on this issue.

[2022-09-13 07:29] rajdeepdas2000 commented on #2505
Hi. I would like to work on this issue.

[2022-09-13 07:36] 390029659 opened #2521 "server-main [errno=10042] cannot join group [fd=1780, bind=0.0.0.0, group=232.1.2.3]"
### Describe the bug

window server 2012 R2
download questdb-6.5.2-rt-windows-amd64.tar.gz
unzip it
QuestDb.exe -d D:\QuestDB install
then crash

### To reproduce

1.donload questdb-6.5.2-rt-windows-amd64.tar.gz
2.unzip it
3.cmd commond  "cd ....."
4.cmd commond  "QuestDb.exe -d D:\QuestDB install"
5.start the windows server
6.crash

### Expected Behavior

not crash

### Environment

[code]

### A

[2022-09-13 08:04] puzpuzpuz commented on #2513
Failed to reproduce test failure on Graviton 2 (c6g.xlarge).

[2022-09-13 08:09] javier commented on #1371
As an example of how this works using standard SQL with analytical functions see https://cloud.google.com/bigquery/docs/reference/standard-sql/functions-and-operators#percentile_cont

[2022-09-13 08:30] 390029659 commented on #2521
i run "netstat -ano"，there is no port is being used.

[2022-09-13 08:56] 390029659 commented on #2521
i find another service ,it work at the first time.but still,my servers is not work.
![image](https://user-images.githubusercontent.com/16483840/189858337-2aae1f4f-fb56-46ce-b063-f4bbde05ac5b.png)

[2022-09-13 08:57] 390029659 commented on #2521
![image](https://user-images.githubusercontent.com/16483840/189858493-9fc19f29-3a20-4b8a-8617-0f08fc7a3521.png)
why did this happen

[2022-09-13 10:13] pswu11 commented on #2505
Hi @rajdeepdas2000 feel free to get started, and make sure you check the contribution guide here :)
https://github.com/questdb/questdb/blob/master/CONTRIBUTING.md

[2022-09-13 10:32] puzpuzpuz commented on #1187
One addition to this issue that might be helpful for whoever faces it. [Psycopg 3](https://www.psycopg.org/psycopg3/docs/index.html) seems to handle binary data in supported way:
[code]

[2022-09-13 10:50] pswu11 commented on #1381
The official python client for ilp is released:

https://github.com/questdb/py-questdb-client

[2022-09-13 10:50] #1381 closed

[2022-09-13 11:41] puzpuzpuz commented on #1383
The client is released and available here: https://github.com/questdb/nodejs-questdb-client

[2022-09-13 11:41] #1383 closed

[2022-09-13 13:00] sysarcher opened #2523 "Error: INSTALLATION FAILED: failed to download "questdb/questdb""
### Describe the bug

After doing a `helm repo update`

[code]

Installation fails:

[code]

Maybe, this is a temporary issue?

### To reproduce

See description above

### Expected Behavior

Installation should succeed

### Environment

[code]

### Additional context

_No response_

[2022-09-15 16:47] pswu11 commented on #1884
Related to a user request here: https://github.com/questdb/questdb/discussions/2525

[2022-09-16 13:49] newskooler opened #2529 "Add ability to drop the latest partition"
### Is your feature request related to a problem?

Often I need to drop the latest partition (i.e. the "active" one), however that's not possible to do as noted in the [docs](https://questdb.io/docs/reference/sql/alter-table-drop-partition/).

### Describe the solution you'd like.

It would be nice to have the ability to do this.

### Describe alternatives you've considered.

None really... Always

[2022-09-16 19:56] stephenspol commented on #353
Has this issue been resolved? When querying `show tables`, I got all the tables in ascending order. I also ran the test @jttmtv crafted in #353 and got a passing test.

[2022-09-17 07:56] puzpuzpuz commented on #353
@stephenspol I don't think this one is resolved. Could be a coincidence that you're getting records in-order.

[2022-09-17 22:10] stolsvik commented on #165
@bsmth @bluestreak01 Is this request not directly asking for Postgres NOTIFY?
https://www.postgresql.org/docs/current/sql-notify.html
Also, this answer to DBA StackExchange question "use postgres as MQ?": https://dba.stackexchange.com/a/171142/260819
.. which then also points to the SKIP LOCKED functionality: https://www.enterprisedb.com/blog/what-skip-locked-postgresql-95

The reason for commenti

[2022-09-18 21:25] bluestreak01 commented on #2521
The reason for this error (10042) is most likely that you don't have network interfaces supporting multicast

The workaround is to disable UDP receiver via config:

[code]

[2022-09-19 02:02] thismatters commented on #2523
It looks like version 0.20.8 is actually missing from the releases; 0.20.7 seems present although when you try to install it you are still confronted with `repo questdb not found`.

[2022-09-19 02:08] thismatters commented on #2523
I was able to get 0.20.7 to install using the following command:

[code]

[2022-09-19 05:36] sysarcher commented on #2523
Yup! I just wanted to highlight the issue. It's still open (checked yesterday)

[2022-09-19 10:06] akshaybhadange commented on #2509
i would also like to work on it ! . plz guide me this as it my first contribution

[2022-09-19 11:09] jerrinot opened #2532 "UnsupportedOperationException on syntax error with sample by"
### Describe the bug

This works fine:
`select timestamp, avg(price) from orders sample by 1h align to calendar with OFFSET '00:00';`
I accidentally executed the query as:
`select timestamp, avg(price) from orders sample by 1h align to calendar with OFFSET 0;`
and this logged this exception on a server side:
[code]
The client was kicked out hence it showed a very unfriendly error and the list of t

[2022-09-19 13:09] puzpuzpuz commented on #2509
Hi @akshaybhadange,

Please refer to the [contributing guide](https://github.com/questdb/questdb/blob/master/CONTRIBUTING.md) as the first step. Then [this comment](https://github.com/questdb/questdb/issues/2509#issuecomment-1242722784) has essential details necessary for this feature.

[2022-09-19 13:16] Belair34 commented on #353
I was testing this and it seems like the feature has been implemented in the current master branch (6.5.3), however it was not implemented in whatever version the live demo on the website is using. It's notable that in the table preview in the top left the tables are listed alphabetically in two groups: those that start with capitals and those that start with lowercase, however `SHOW TABLES` works

[2022-09-19 16:52] glasstiger commented on #1371
We could use the below SQL as a workaround for percentile_disc() for the time being:
[code]

[2022-09-19 21:03] sklarsa opened #2534 "brew services start questdb fails"
### Describe the bug

After a fresh `brew install questdb`, I want to run the database as a service on my local machine, so I ran the following command (see output included)

[code]

In an attempt to gain more information, I inspected the `/opt/homebrew/opt/questdb/homebrew.mxcl.questdb.plist` file for the log path.  Unfortunately, there was no file in the specified path: `cat: /opt/homebrew/var/l

[2022-09-20 07:50] jerrinot commented on #2534
interesting. it's working for me:) but perhaps it's because I started QuestDB before. Are you on M1?

[2022-09-20 08:14] jerrinot commented on #2534
ok, I see the problem. This is the reproducer:
1. uninstall questdb `brew remove ...`
2. manually remove quest data: `rm -rf /opt/homebrew/var/questb`
3. `brew install questdb`
4. `brew services start questdb` -> qdb fails to start

When I manually start and stop questdb `questdb start && questdb stop`, then `brew services start questdb` starts working.

A hypothesis to validate: When starting as

[2022-09-20 09:02] marregui commented on #2517
Hi @rajdeepdas2000 ,

Are you keen?, you may if you wish. Please let me know today, or I will have to fix it myself.

Saludos

[2022-09-20 09:04] marregui commented on #2517
Hi again @rajdeepdas2000 ,

You are out, I am doing it, thanks for offering.

Saludos again

[2022-09-20 09:14] ideoma commented on #2523
Thanks for reporting.

Fixed in https://github.com/questdb/questdb-kubernetes/commit/00fb0692bd533a9d2e5ead45f299024416c3faf7

[2022-09-20 09:14] #2523 closed

[2022-09-20 09:15] marregui commented on #2517
Hi @Luyang2902 ,

Thank you for the report, please send the create table statements and some data (preferably insert statements) so that I can easily reproduce the issue.

Thank you again.

[2022-09-20 12:57] pswu11 commented on #2517
Hi, I did a bit more trying - it doesn't seem to be related to GROUP BY since removing GROUP BY doesn't change the result.
The weird error occurs when you JOIN two tables and calculate the columns from different tables.

Table schema:
[code]
[code]

### This is a problematic query:

Below query returns an error `Invalid column: open`
[code]

### What I tried:
Replace `/` with `+` `-` `*` gives the

[2022-09-21 10:18] bziobrowski commented on #2517
I found this formulation to work :

[code]

I removed sub_plate because I couldn't find it in the schema .

[2022-09-21 10:39] pswu11 commented on #2510
Hi @shursulei what is the third-party tool that you want to connect questdb with?

[2022-09-21 10:43] pswu11 commented on #2456
Hi @sysarcher have you tried out the recommendation and does it work out for you?

[2022-09-21 11:28] marregui commented on #2188
Hi @ospqsp

There has been some work done on the CSV import area, including the release of this interesting article: https://questdb.io/blog/2022/09/12/importing-3m-rows-with-io-uring/

As of releas 6.5:

[code]

Would you please be able to upgrade to the latest release (https://github.com/questdb/questdb/releases) and check that the issue was fixed?

Thank you in advance.

[2022-09-21 11:30] marregui commented on #716
Hi @CutieDeng ,

Would you be willing to give it a go?

Best regards

[2022-09-21 12:15] marregui commented on #2232
Hi @suoyi123wang I hope you are well, thank you for the report.

This specific method is meant to search for `row id`, 100% guaranteed to exist, otherwise it means the index is corrupt.
Are you using an embedded index in your code?, if so, what is the use case?. If there is no use case, then I think I will throw an exception instead of retuning -1L.

Regards

[2022-09-21 12:17] marregui commented on #1882
Hi @pveentjer ,

Would you be able to provide a test illustrating/showcasing the issue?

Thank you in advance

[2022-09-21 13:07] pveentjer commented on #1882
I do not have the time to make a test. Ask @puzpuzpuz to have a look at the fencing behavior and perhaps involve the author to explain what the idea is behind using this fencing approach.

The fencing approach is very unusual usage for release/acquire fences, and that is why my alarm bells went of.

[2022-09-21 13:22] jerrinot commented on #1882
Hello Peter, nice to you see here! :)

You are right, it does looks rather suspicious. I'm sure we will have a look at this at some point.
I'm going to remove the "Good first issue" label as this is far from being simple. It's at the opposite spectrum in fact.

[2022-09-21 14:40] jerrinot commented on #2534
fix candidate: https://github.com/Homebrew/homebrew-core/pull/111335

[2022-09-21 16:36] carlocab commented on #2534
Do
[code]
then try again.

Thanks @jerrinot for the fix!

[2022-09-21 17:32] #2534 closed

[2022-09-21 19:42] Belair34 commented on #874
If it's okay, I'd like to use this issue and a few more (which I'll comment on later) for a college hackathon on November 5th. If this is alright with you guys, I'd also appreciate any recommendations for issues that may be suitable for this 4-6 hour event. We expect to solve a few issues that day! If you prefer to communicate further on slack: my name on slack is Michael IZKOOL.

[2022-09-21 19:45] bluestreak01 commented on #874
yes, sure

[2022-09-22 07:05] marregui commented on #1882
Thank you very much for the detailed explanation!!, obviously, without a test that proofs all this, I will have to personally verify that all this theory is correct and that it is indeed right (for lack of deeper understanding from my part), by producing a test myself. So far I see no threading issues, nor state conflict, nor races, so I suppose this case will came back to mind when/if I see threa

[2022-09-22 07:20] pveentjer commented on #1882
These things tend to be extremely hard to reproduce. Nearly impossible to write a test for it. So I would not go in that direction. Make it sound by design is a much better approach

[2022-09-22 07:27] pveentjer commented on #1882
IMHO the key question is: are other threads going to peek inside the jobs (and their dependencies) of the worker and if so, is there any synchronization on the accessed fields of the jobs/dependencies?

If yes, then there are potential data races and race conditions.

[2022-09-22 07:40] marregui commented on #1882
I am not 100% of what I am saying here, I am fairly new to the codebase. From my intuition, which has been proven to be wrong time and again, we kind of follow a sort of AKKA pattern, where each worker will peek at a queue, get its job (task) and will perform. Should results need to be propagated, there are message queues for various purposes, and that is how workers communicate with each other. W

[2022-09-22 08:14] marregui commented on #2015
Hola @jfcalvo

Would these tables fit your setup:

[code]

If so, it is confirmed, the first query:

[code]

results in:

[code]

es un bicho which lives hidden in the latest version too, we shall have a look.

Thank you for the report.

[2022-09-22 09:12] pswu11 commented on #874
Hi @Belair34 excited to hear that! we'll try to mark some more small issues with good first issue label.

[2022-09-22 09:40] pveentjer commented on #1882
In that case, no synchronization is needed. The queue provides the happens-before edge.

[2022-09-22 10:37] #2294 closed

[2022-09-22 11:01] marregui commented on #1882
happy days!

[2022-09-22 13:00] marregui commented on #2294
Hey @lookharm , thank you for the contribution!, please claim the black-belt T-shirt from https://docs.google.com/forms/d/e/1FAIpQLSfI3VUwXpHT1TbZYjUkYFQpuyfhWicWu2zA0NBGP0pO3ImITA/viewform

Contributing to QuestDB makes it better!

[2022-09-22 15:45] glasstiger opened #2541 "Table is locked by INSERT AS SELECT if query times out"
### Describe the bug

Client runs a slow INSERT AS SELECT.
SELECT takes so long that client connection times out, client receives HTTP 504.
Table stays locked by INSERT AS SELECT operation.

SQL in question:
[code]

Subsequently client tries to drop the table and gets the error:
[code]

Not sure if it is because the operation is still running or ended (likely with an error) and failed to release t

[2022-09-23 11:51] TheWCKD opened #2543 "Huge delay between INSERT and QUERY actions"
### Describe the bug

After I insert let's say 10 rows into the brand-new table, if I go back to the browser, I am not able to query the data ("SELECT * FROM table) for around 10-30 seconds (there is a significant delay). While constantly trying to run the query, the query returns 0 rows, even though the insert has been finished already.

I have tried both docker and binary approach and the bug st

[2022-09-23 12:48] pswu11 commented on #2543
Hi @TheWCKD this likely has something to do with commit lag, which has a default setup of 30 seconds.
The question on FAQ:
https://questdb.io/docs/troubleshooting/faq/#why-is-ilp-data-not-immediately-available

The page about commit lag:
https://questdb.io/docs/guides/out-of-order-commit-lag

[2022-09-23 12:50] pswu11 commented on #2543
In case you're not aware of it, we also have a slack community with many QuestDB users there: https://slack.questdb.io/ :)

[2022-09-23 13:03] TheWCKD commented on #2543
Thank you! I have read that already, however it states that the input lag is 300k Ms which is 300 seconds, not 30.

`cairo.commit.lag=300000`

[2022-09-23 13:53] glasstiger commented on #2543
this is the section in the doc which describes ILP commit strategy in detail:
https://questdb.io/docs/reference/api/ilp/tcp-receiver/#commit-strategy

[2022-09-23 13:55] pswu11 commented on #2543
@TheWCKD you're right about the default value, I misread the zero.
@glasstiger is correct :D

[2022-09-23 14:04] TheWCKD commented on #2543
Thank you so much, @glasstiger and @pswu11!

[2022-09-23 14:04] #2543 closed

[2022-09-23 15:02] Belair34 commented on #2297
I've been looking at this issue to potentially use in a hackathon if Diemarg doesn't end up doing it. After adding all of the relevant sections based on the "Hours" PR linked above, it seems like I have it almost working. The problem is that it's always off by 1 week either in the INSERT (the resulting partition folder is wrong) or in the SELECT (the folder that it looks for is wrong). One of thes

[2022-09-23 16:08] puzpuzpuz commented on #2297
@Belair34 I think the best approach would be to create a draft PR with your changes, so that we could follow up on the code. Hard to tell what may be lacking without seeing the code. WDYT?

[2022-09-23 20:35] #2511 closed

[2022-09-23 20:42] Belair34 commented on #2297
@puzpuzpuz My colleagues and I ended up making a bit of progress towards figuring out the issue. We found a small typo in this code: https://github.com/questdb/questdb/blob/b649f7e293d96740db4b111af4cbbf011cd4849d/core/src/main/java/io/questdb/std/datetime/microtime/Timestamps.java#L358-L360
where there was addition instead of subtraction as described by p(y) in this formula: https://en.wikipedia.

[2022-09-24 15:33] Luyang2902 commented on #2252
this is a import feature to real-time app

[2022-09-26 10:27] yenn opened #2550 "Ability to attach table partition to table in another questdb instance"
### Is your feature request related to a problem?

We are using embedded questdb (Cairo) to record a huge amount of data in a cloud. As this becomes very storage demanding, we have implemented our layer on top of questdb, which offloads older partitions to cold storage (i.e. s3). To ensure no data loss, we run Cairo instances in multiple replicas, each in a dedicated process. To replay the data we

[2022-09-26 11:43] jerrinot opened #2551 "Unify ConversionException and ImplicitCastException"
https://github.com/questdb/questdb/pull/2423 is introducing `ImplicitCastException`. QuestDB code base already has [`ConversionException`](https://github.com/questdb/questdb/blob/792cca6fea2fc2a153940dabae690f4c669a3304/core/src/main/java/io/questdb/cairo/ConversionException.java#L32) which looks similar: QuestDB throws `ConversionException` when there is an error while converting a string represe

[2022-09-27 08:28] bziobrowski opened #2555 "Materialize result when necessary"
### Describe the bug

It looks query optimizer sometimes fails to recognize when some form of result materialization is necessary leading to weird results .

### To reproduce

[code]
Compare to following sql in PG :

[code]

### Expected Behavior

a and b columns are aliases of the same expression in subquery so queries should return 5 rows with two columns holding the same per-row value .

### En

[2022-09-27 09:05] shursulei commented on #2510
navicat/dbeaever

[2022-09-27 09:53] pswu11 commented on #2510
Hi @shursulei QuestDB is not yet fully compatible with DBeaver but it's on the roadmap and we plan to support it in the future. The current alternative will be using the built-in web console that we have.

[2022-09-27 09:55] pswu11 commented on #2510
You can refer to our roadmap, which will be updated regularly.
https://github.com/orgs/questdb/projects/1/views/5

[2022-09-27 12:40] #2232 closed

[2022-09-27 17:53] #2487 closed

[2022-09-28 13:06] stephenspol commented on #2256
Can this issue be closed? It seems like it is resolved.

[2022-09-28 13:10] puzpuzpuz commented on #2256
Closing this one as it's indeed resolved.

[2022-09-28 13:10] #2256 closed

[2022-09-28 14:58] #2551 closed

[2022-09-28 20:31] bluestreak01 opened #2561 "Flaky LineTlsTcpSenderTest#testHostnameValidation"
### Describe the bug

[code]

looks like a race condition between `Pump.shutdown()` and `Pump.run()`

### To reproduce

_No response_

### Expected Behavior

_No response_

### Environment

[code]

### Additional context

_No response_

[2022-09-29 05:03] GrantBirki commented on #1361
I am still getting this error and have no idea why. I'm a new user to questdb and posted in the Slack channel as well

[2022-09-29 10:08] marregui commented on #1882
may I close the Issue? thank you in advance.

[2022-09-29 10:31] pveentjer commented on #1882
Do you understand the reasoning behind the fence logic and have you confirmed that the reasoning is correct? If so; then you can close this topic. But I do know a few things about fences and my gut feeling is something is wrong here. If you still want to close it, then please go ahead.

[2022-09-29 10:46] puzpuzpuz commented on #1882
To me, these exotic fences deserve at least some comments around them. I remember that I was also surprised when I saw them first time.

[2022-09-29 11:55] pswu11 commented on #1382
client for Rust has been supported here:
https://github.com/questdb/c-questdb-client/blob/main/questdb-rs/README.md

[2022-09-29 11:55] #1382 closed

[2022-09-29 21:39] sklarsa opened #2564 "Inconsistent Env Var Config Behavior"
### Describe the bug

https://github.com/questdb/questdb-kubernetes/issues/80

It appears that setting `QDB_` environment variables _doesn't_ always work as expected.  Sometimes, they are ignored.

### To reproduce

Per @mariusgheorghies's investigation earlier today...

[code]
at this point env is ignored

 After editing /var/lib/questdb/conf/log.conf and seting w.stdout.level to ERROR, it works

[2022-09-30 01:25] blackstar-baba commented on #2422
LGTM， can i develop this？

[2022-09-30 06:53] puzpuzpuz opened #2565 "Support CREATE TABLE LIKE syntax"
### Is your feature request related to a problem?

Postgres supports the following syntax
[code]
to avoid having to copy-paste schema from another table when exactly same schema is required. We could support this [syntax](https://www.postgresql.org/docs/current/sql-createtable.html) too, for now without `like_options`.

### Describe the solution you'd like.

_No response_

### Describe alternative

[2022-09-30 07:15] jerrinot opened #2566 "Performance degradation when aliasing columns"
### Describe the bug

This query executes on the demo box in around 100ms:
[code]

but this query executes 10s (100x more!)
[code]

Both queries are functionally equivalent and should result in the same query plan. Apparently, that's not the case.
I reckon aliasing disables an optimization.

### Environment
https://demo.questdb.io/
- **QuestDB version**: 6.5.3

[2022-09-30 08:23] pswu11 commented on #2422
Hi @blackstar-baba anyone interested in the issue can feel free to make a pull request :)
pay attention to https://github.com/questdb/questdb/blob/master/CONTRIBUTING.md

[2022-09-30 08:30] blackstar-baba commented on #2422
Thank you, i will read this markdown doc.

[2022-09-30 14:54] marregui commented on #2529
Hi, it is going to happen. Very likely in the next release, within the month of October.

Thank you for requesting the feature, and thank you for the upvotes!

[2022-09-30 14:55] marregui commented on #2529
Related discussion, for reference: https://github.com/questdb/questdb/discussions/2568

[2022-09-30 18:35] HariniKrishnan commented on #2566
Hi the problem seems to be interesting if it is not assigned already, can I take this?!

[2022-09-30 18:35] bluestreak01 commented on #2566
sure thing!

[2022-10-01 10:14] akki1306 commented on #2565
Hi @puzpuzpuz I would like to pick this up could you assign me? Appreciate any initial pointers for working on this as a first time contributor. Thanks in advance.

[2022-10-01 12:02] joanneong commented on #2509
@akshaybhadange Are you going to work on this? I took a look at the code and I think I can pick it up if you aren't

[2022-10-01 12:20] joanneong commented on #1701
@rajdeepdas2000 Looks like this has been fixed in merged PR #2000

[2022-10-01 12:23] puzpuzpuz commented on #2565
Hi @akki1306

First of all, you should check our [contribution guide](https://github.com/questdb/questdb/blob/88202e73aff990d149ce95aeaa3a21f46a921d40/CONTRIBUTING.md).

The entry points are `SqlParser#parseCreateStatement()` and `SqlCompiler#createTableWithRetries()` methods. First, you need to update parser (and its tests in `SqlParserTest`) to accept the new syntax. Then `SqlParser` would need

[2022-10-01 12:25] puzpuzpuz commented on #1701
@joanneong thanks for the heads-up! Closing this one.

[2022-10-01 12:25] #1701 closed

[2022-10-01 12:35] akki1306 commented on #2565
Thanks for the helpful explanation. Will start working on it.

[2022-10-01 13:28] joanneong commented on #2477
@sreenath-tm Are you still working on this?

@puzpuzpuz For log directory size, consider the case where the size specified by the user is small and a single log file ends up being larger than that. We can either delete all the log files in the file directory, or leave just the most recent log file be. What do you think is better? Personally I'm more inclined to leave at least one log file in the f

[2022-10-01 13:33] puzpuzpuz commented on #2477
We should definitely keep the most recent file even if it exceeds the threshold.

[2022-10-01 14:03] blackstar-baba commented on #2422
Hi @pswu11,do we have some docs to help with development?

[2022-10-02 08:00] TheWCKD opened #2570 "Add Server-Side Cursor to QuestDB"
### Is your feature request related to a problem?

With psycopg3 and psycopg2 python drivers for postgres wire protocol exposed by QuestDB, there is **only one option** to query the data - the Client-Side Cursor.

As mentioned with the [official psycopg documentation](https://www.psycopg.org/docs/usage.html#server-side-cursors),

So, whenever we'd want to query a large amount of data from QuestDB,

[2022-10-02 09:30] sreenath-tm commented on #2477
Yes I am working on this issue. As you said we will defenitely keep the latest log file generated.

[2022-10-02 09:46] joanneong commented on #2477
@sreenath-tm Alright then. Let me know if you are not - I'm keen to help out for Hacktoberfest :)

[2022-10-02 15:28] joanneong commented on #2564
I can reproduce this issue. This only happens if:
1. there is a config property defined (i.e. `-Dout=xxx`) AND
2. this is the first time the server is started

Subsequent reruns work fine.

The reason is as per this comment in the `Dockerfile`:
[code]

So, before the server is started for the first time, `conf/` and `conf/log.conf` does not exist. As a result, we end up falling back to the default

[2022-10-02 22:02] hackgator1 opened #2571 "DEE and DUM relations and returning results from query"
### Is your feature request related to a problem?

When I tried to use the questdb for a DEE and DUM relations, it wasn't able to return the results from the query. This made projection over the empty set of attributes impossible. Any way to fix this?

### Describe the solution you'd like.

_No response_

### Describe alternatives you've considered.

_No response_

### Additional context.

_No res

[2022-10-03 03:53] akshaybhadange commented on #2509
@joanneong yes sure thanks

[2022-10-03 08:07] singloon commented on #2565
@puzpuzpuz when we pass in the query `SqlParser`, how would we evaluate `LIKE tab_1`? Would we lookup to see if the tab_1 table exists, since now we're checking if its one of the column types e.g. boolean, byte?

[2022-10-03 08:21] puzpuzpuz commented on #2565
No, the parser itself doesn't do any existence checks - it's only job is to validate the syntax and extract necessary tokens, such as table names. The existence check has to be done at the `SqlCompiler` level.

[2022-10-03 08:30] singloon commented on #2565
@puzpuzpuz ok, so now if the lexer is not a columnType we'll still allow it through but it does mean we lose that protection?

[2022-10-03 08:47] puzpuzpuz commented on #2565
`SqlParser` has a `tok(GenericLexer, String)` method to deal with that - check how it parses the table name in CREATE TABLE statements and also the following `GenericLexer#assertNoDotsAndSlashes()` validation:
https://github.com/questdb/questdb/blob/88202e73aff990d149ce95aeaa3a21f46a921d40/core/src/main/java/io/questdb/griffin/SqlParser.java#L526

Or course, the patch should include negative tests

[2022-10-03 10:05] pswu11 commented on #2422
Hi @blackstar-baba our CONTRIBUTING.md is the only one available now.
As for the context of this feature, perhaps you could refer to how `rank()` works in PostgreSQL:
https://www.postgresql.org/docs/14/functions-window.html#FUNCTIONS-WINDOW-TABLE
https://www.postgresql.org/docs/14/tutorial-window.html

If you have more specific questions about the code base you could join our community https://sla

[2022-10-03 13:50] akki1306 commented on #2565
Hi @puzpuzpuz, apart from the following, which other fields need to be populated from Metadata to CreateTableModel?

1. Column Names
2. Column Types
3. Column Indexes

I couldn't figure out how to set partitionBy and timestamp in the CreateTableModel from TableReaderMetadata.

[2022-10-03 15:17] puzpuzpuz commented on #2565
You should be able to read all values via `TableReaderMetadata` (see `TableReader#getMetadata()`): `timestamp`, `partitionBy`, `maxUncommittedRows`, `commitLag` and `walEnabled` should be read apart from what you have listed.

[2022-10-03 16:03] Belair34 commented on #2505
If it's still free, we would like to use this as one of our hackathon issues.

[2022-10-03 16:28] AnirudhDaya opened #2574 "Developer environment (Online IDE)"
### Is your feature request related to a problem?

Yes, lack of online IDE set up for this repo.
More beginners can join this community, especially those who have next to zero knowledge of git and GitHub.

### Describe the solution you'd like.

Hello maintainers.
I would like to add gitpod to your repo to help beginners contribute.

- Gitpod is an online IDE which can be launched from any GitHub p

[2022-10-03 16:40] joanneong commented on #2564
Yeah I agree with you @sklarsa , we might want to add logic to pick up environment properties regardless whether the log conf file is present. One way might be to start with some default config, then override with properties in conf file (if present) and finally override with env properties (if present).

For the oddity you mentioned, it is probably helpful to add some logs whenever a property ove

[2022-10-03 17:19] Andavin opened #2575 "SIGSEGV fatal error when Randomizing"
### Describe the bug

When I create a specific table, insert data into it and then `select * from table`. QuestDB crashes with the following error:

[code]

For some reason, this only occurs if the timestamp is randomized. I can insert any value within the randomized range even out of order and it still works fine.

For example, this works fine:
[code]

### To reproduce

1. Spin up a Docker of Que

[2022-10-03 17:26] glasstiger commented on #2575
any chance you can attach the `hs_err_pid` file as well, please?
[code]

[2022-10-03 18:21] sreenath-tm commented on #2477
@joanneong I am working on the issue currently, If I am not able to do it will defenitely let you know.

[2022-10-03 21:31] sklarsa commented on #2564
The above PR only addresses the env var emitting issue, still need some time to work on the other aspects of the PR

[2022-10-04 09:29] pswu11 opened #2578 "🌏 Hacktoberfest 2022: list of SQL functions for contributors"
Hello everyone, [happy Hacktoberfest](https://hacktoberfest.com/)!

QuestDB is accepting PRs for Hacktoberfest 2022!
We create this issue to list some feature ideas you can contribute to our core database!

# Ideas

We collect a list of ideas you could contribute to QuestDB, focusing on PostgreSQL compatibility.

🐥 Junior
🐔 Experienced

## Numeric 🐥
- [x] `ceiling` https://github.com/questdb/quest

[2022-10-04 17:23] #2561 closed

[2022-10-04 18:28] bluestreak01 opened #2584 "/exp HTTP endpoint confusing reports"
### Describe the bug

1. create table `weather`
2. execute the following to attempt to drop it

[code]

Observe response to be:
- json rather than text
- response leads you to believe `drop` cannot be executed

[code]

3. list tables and observe that table has been actually deleted

### To reproduce

_No response_

### Expected Behavior

_No response_

### Environment

[code]

### Additional conte

[2022-10-05 06:24] HariniKrishnan commented on #2566
thanks will work on this please assign this to me..

[2022-10-05 08:03] AbhishekTiwari23 commented on #2578
I want to contribute to this one, please allow me.

[2022-10-05 08:16] newskooler commented on #996
Clarification note on the desired use-case:

If we only want to create an authorization structure regarding table reads - that's achievable via an API layer on top.

If we'd like to have some permission structure for the people who have direct access to QuestDB (backend dev or whoever) then that's only possible with separate QuestDB instances. Ideally that would be possible via QuestDB natively su

[2022-10-05 08:23] puzpuzpuz opened #2585 "ILIKE SQL operator is not case-insensitive"
### Describe the bug

In [Postgres](https://www.postgresql.org/docs/current/functions-matching.html), ILIKE can be used instead of LIKE to make the match case-insensitive according to the active locale. Yet, our implementation uses the same code for both LIKE and ILIKE (see `LikeStrFunctionFactory` and `ILikeStrFunctionFactory` classes). We should fix it.

### To reproduce

_No response_

### Expe

[2022-10-05 08:55] TheZal commented on #2585
I would like to try to work on that if possible!

[2022-10-05 09:04] TheZal opened #2586 "[Documentation] Add the italian translation"
### Is your feature request related to a problem?

_No response_

### Describe the solution you'd like.

I would like to add the italian translation of the readme.md file like for the other langueges

### Describe alternatives you've considered.

_No response_

### Additional context.

I can work on that in case if you would like to assign it to ke

[2022-10-05 09:44] AMAN2202 commented on #2585
Hi, I would  love to work on this issue

[2022-10-05 09:46] Ln11211 commented on #2585
@puzpuzpuz I read the attached Postgres documentation and also checked the classes out but I still don't understand how to fix it, any other inputs please?

[2022-10-05 09:57] puzpuzpuz commented on #2585
`java.util.regex.Pattern` supports a [case-insensitive matching flag](https://docs.oracle.com/en/java/javase/17/docs/api/java.base/java/util/regex/Pattern.html#CASE_INSENSITIVE) and that flag should be used by ILIKE.

[2022-10-05 10:46] bluestreak01 commented on #2586
absolutely! thank you!

[2022-10-05 11:07] TheZal commented on #2586
Assign it to me pls! Can it be eligible for hacktoberfest?

[2022-10-05 11:58] aeshaynes opened #2588 "Duplicate Column error when ASOF join used"
### Describe the bug

When using an ASOF join in a SELECT query any aliased column can only be referenced once.

### To reproduce

[code]

### Expected Behavior

The correct data is returned.

### Environment

[code]

### Additional context

_No response_

[2022-10-05 12:42] pswu11 commented on #2578
Hi @AbhishekTiwari23 you can create a pull request with your solution and mention this issue directly, thanks!

[2022-10-05 13:29] jerrinot opened #2590 "CairoException [22] could not mmap when running O3 heavy ingestion"
### Describe the bug

I'm running O3-heavy ingestion:
[code]
The table is partitioned by day. Thus the test results in:
1. a lot of O3 merges
2. a lot of partitions

I'm occasionally getting this error:
[code]
Please notice the `size` is 0. It appears as a bug in the O3 merge algorithm. `mmap()` is not allowed to be called with size 0. This test fails with the same error:
[code]

### To reproduce

[2022-10-05 15:22] jerrinot opened #2595 "bogus TTL values in server.conf"
### Describe the bug

server.conf in 6.5.3 distributions has this as a sample:
[code]
Negative values make no sense to me, most likely it's bogus. It should be sync with: https://github.com/questdb/questdb/blob/b33459673138985fd3a776f67f3cbad2ef05afd9/core/src/main/java/io/questdb/PropServerConfiguration.java#L689-L690

### Environment

[code]

[2022-10-05 18:39] glasstiger commented on #2575
Hi @Andavin ,

Tried to reproduce the crash as described above but unfortunately I was not able to.
Used the exact same docker image: `docker run -p 9000:9000 -p 9009:9009 questdb/questdb:6.5.3`
with a very similar client (java version of your code):
[code]

Also tried to ingest a lot more data, changed the 100 to 10million rows.
I was querying the data via the web console during ingestion, after

[2022-10-05 20:12] Andavin commented on #2575
Thanks for looking into this and testing it out!

From what I remember, when the issue was occurring the other day, the database was crashing immediately upon inserting.
However, now it seems I am required to select the data before the crash occurs.

Here is a project that encapsulates all the code and the docker-compose.yml file to launch QuestDB:
[test-quest.zip](https://github.com/questdb/quest

[2022-10-06 07:43] ShubhamPalriwala commented on #2595
Hey @jerrinot, would like to get started in QuestDB with this issue.
Basically, we shuld change the values present here:
https://github.com/questdb/questdb/blob/8c663f0d242d6c10de2e61a33c7a37cce17aad25/pkg/ami/marketplace/assets/server.conf#L169
https://github.com/questdb/questdb/blob/8c663f0d242d6c10de2e61a33c7a37cce17aad25/pkg/ami/marketplace/assets/server.conf#L172

 and
https://github.com/ques

[2022-10-06 08:00] jerrinot commented on #2595
hello @ShubhamPalriwala, thank you  for getting involved!

Yes, I think you identified the right places!

As for the values: reader ttl should be `120000` and write should be `600000`. The same as the default at https://github.com/questdb/questdb/blob/b33459673138985fd3a776f67f3cbad2ef05afd9/core/src/main/java/io/questdb/PropServerConfiguration.java#L690-L691

[2022-10-06 10:05] ideoma commented on #2575
Thanks for all the details.

I think you run the QuestDB on Windows with unsupported file system type like one of Network File System types. I see that out system call to `mmap` string column file returns 0 pointer which leads to SIGSEGV.

We are not going to support Network File Systems or other exotic file systems in near future. The mainstream FS is EXT4. On Windows NTFS works fine too.

[2022-10-06 15:35] Belair34 commented on #2584
What is the expected behavior? Should it prevent the drop, or just allow it and avoid the misleading error message?

[2022-10-06 16:37] blackstar-baba opened #2604 "Window function row_number() can't use order by clause only"
### Describe the bug

Window function row_number() can't use order by clause only, but it can work in Postgresql.

### To reproduce

1. use this sql
[code]
2. throw exception
[code]

### Expected Behavior

no exception.

### Environment

[code]

### Additional context

Some logs:
[code]

[2022-10-06 18:20] Ln11211 commented on #2578
hey @pswu11 , what does the align the use of log and use it as ln mean ?, does it have anything to do with the preceding issue and PR- log10 https://github.com/questdb/questdb/pull/2579 ?

 what exactly should be done?

[2022-10-06 20:14] pswu11 commented on #2578
Hi @Ln11211 so basically what `log()` means in QuestDB and in PostgreSQL are different right now. For compatibility, it'd be better if we align the definition with PostgreSQL so users can adapt more easily. You can refer to the docs and try them out to see that they work differently.

QuestDB docs

PostgreSQL docs

[2022-10-06 20:16] Andavin commented on #2575
I see. It's good to know that it shouldn't affect me on the Linux distros.
Is there something I can change in the bind-mount or Windows file system that will prevent this from occurring while still using Docker on Windows?

[2022-10-07 12:13] #2586 closed

[2022-10-07 12:14] #2585 closed

[2022-10-07 13:13] ideoma opened #2607 "Flaky testParallelStressMultipleThreadsMultipleWorkersPositiveLimitJitDisabled"
### Describe the bug

Failed on Mac

[code]

https://dev.azure.com/questdb/questdb/_build/results?buildId=10844&view=logs&j=4955d095-2078-5b5d-31a1-99f71a7c612c&t=e558e7bf-9ebf-5c2e-7d87-eed2e40883cb

### To reproduce

_No response_

### Expected Behavior

_No response_

### Environment

_No response_

### Additional context

_No response_

[2022-10-07 18:22] puzpuzpuz commented on #2607
Tried running this test on my Linux x86-64 machine for 20+ minutes with periodically running `stress-ng` to consume all cores except one, but the flakiness didn't show up. Would be nice if someone with MacOS could also try.

[2022-10-07 20:55] Andavin commented on #2575
Thanks for the reply. To clarify, does this mean not using Docker and host directly on the machine?

[2022-10-07 21:32] sklarsa commented on #2564
Updated the PR to read-and-apply env vars even if a config file is not present

[2022-10-08 08:32] blackstar-baba opened #2611 "Window function row_number() result start with zero if using partition by clause"
### Describe the bug

if use `row_number() over(partition by  column)` , result start with 0, but use `row_number()` only, result start with 1.

### To reproduce

1. use this sql
[code]
2. return result
[code]

### Expected Behavior

return result
[code]

### Environment

[code]

### Additional context

_No response_

[2022-10-08 11:23] #2595 closed

[2022-10-08 11:39] shivanshsinghx365 opened #2614 "Kindly create a deb or flatpak/snap format variant of QuestDB for easier installation and availability"
### Is your feature request related to a problem?

I have noticed that installing QuestDB on linux is harder than the alternatives, this minor incontinence might deter away some potential users.

Currently questDB can be installed on linux via a tar.gz file.
And as most linux users will agree tar.gz files require us to dig up more into the docs to get the exact steps to install it.

If instead que

[2022-10-08 12:29] VanshajPoonia opened #2615 "[Documentation] Please add the French translation of the Readme File"
### Is your feature request related to a problem?

French is a commonly spoken language and a lot of them might not be able to understand the readme file

### Describe the solution you'd like.

So, we can add a french translation of the Readme file

### Describe alternatives you've considered.

_No response_

### Additional context.

_No response_

[2022-10-08 12:32] VanshajPoonia opened #2616 "[Documentation] Add the German translation of Readme"
### Is your feature request related to a problem?

_No response_

### Describe the solution you'd like.

I would like to add the German translation of the readme.md file

### Describe alternatives you've considered.

_No response_

### Additional context.

_No response_

[2022-10-08 17:04] #2565 closed

[2022-10-09 05:22] techrajdeep commented on #2578
I am looking for an issue for my first contribution . Can you help me here. Can I take on this .

[2022-10-09 13:56] puzpuzpuz opened #2619 "Incorrect partition name is shown in the repair table hint"
### Describe the bug

The following error may be shown when a table has a missing partition:
[code]

Here the partition name should be `2022-10-08`, not `2022-10-08.1634154936`.

### To reproduce

_No response_

### Expected Behavior

_No response_

### Environment

[code]

### Additional context

_No response_

[2022-10-09 13:57] blackstar-baba commented on #2611
@bluestreak01 PTAL

[2022-10-09 20:36] sharmadhiraj86 commented on #2619
Hello, I am interested in working on this issue. Can you please assign this issue to me? @puzpuzpuz

[2022-10-09 22:32] bluestreak01 commented on #2619
sure thing 👍

[2022-10-10 05:43] blackstar-baba opened #2620 "Window function row_number() result out of order"
### Describe the bug

if use order by clause in select sql like this:
[code]
the result out of order
[code]

### To reproduce

1. run this sql
[code]
2. return result
[code]

### Expected Behavior

return result
[code]

### Environment

[code]

### Additional context

_No response_

[2022-10-10 09:47] glasstiger commented on #2575
No, docker is fine to use.
It is only the file system which is problematic.

[2022-10-10 14:19] Andavin commented on #2575
Sounds good. I'll have to do more research into this since I can't say I know how to go about this at the moment.
Thank you for the help

[2022-10-10 14:19] #2575 closed

[2022-10-10 16:41] Ln11211 commented on #2619
Hello, I think I found why it is printing the long number with the partition and I fixed it, but how do I reproduce the same error to see if it is fixed and can I raise a PR?

[2022-10-10 18:07] puzpuzpuz commented on #2619
You'd need to write a test that reproduces the error scenario. See `AlterTableDropPartitionTest#testPartitionDeletedFromDiskWithoutDropByDay()` for some inspiration. Obviously, you'd need to produce several versions of the partition, so that you get the suffix. That can be done by inserting out-of-order (older) rows into an existing table.

[2022-10-11 05:34] sharmadhiraj86 commented on #2619
@Ln11211 Hii. This issue has been assigned to me and this is a part of my academic curriculum. So please can you allow me to solve this issue? And if you find any solution to this issue, please let me know, I would apply that to solve the issue.
 Thank you

[2022-10-11 09:56] bziobrowski opened #2623 "Escape mechanism doesn't work in like/ilike functions"
### Describe the bug

Like and ilike functions don't recognize default escape character '\' nor allow using a different one via ESCAPE clause .

### To reproduce

[code]

### Expected Behavior

_No response_

### Environment

[code]

### Additional context

_No response_

[2022-10-11 10:49] VanshajPoonia opened #2625 "Ambiguous column name when using alias in join"
### Describe the bug

Why does this query produce an "Ambiguous column name" error when I include the "as time" alias? If I remove "as time" or "SAMPLE BY 1d", it goes away.

[code]

The schemas are:

[code]

The following query using another alias and join syntax have the same issue

[code]

### To reproduce

_No response_

### Expected Behavior

_No response_

### Environment

_No response_

###

[2022-10-11 10:57] pswu11 commented on #2625
Hi, thanks for raising the issue. Could you please provide more context i.e. QuestDB's version?

[2022-10-11 11:07] VanshajPoonia commented on #2625
Its 6.4.2

[2022-10-11 11:42] puzpuzpuz commented on #2625
That's a quite old version. Could you check the latest one, 6.5.3? Chances are high that this issue is already fixed.

[2022-10-11 15:32] Belair34 commented on #2171
@pswu11 I tested the given queries and the issue seems to be fixed, probably by the mentioned PR.

[2022-10-11 17:32] pswu11 commented on #2171
Thanks a lot @Belair34 for confirming!

[2022-10-11 17:32] #2171 closed

[2022-10-11 18:53] pivovarit commented on #2607
Ran it in a loop and forgot about it. 15k repetitions later and still going...

[2022-10-12 07:08] s-is-coding commented on #2625
That was released 3 months ago I think and hence, a lot of apps are running this version
I tried the latest version too. But the issue is still there :(

[2022-10-12 16:15] fishuke commented on #1490
It still exists in 2022 with the latest version.

[2022-10-12 16:16] fishuke commented on #1490
[0]: max txn-inflight limit reached [txn=17897, min=1513, size=16384]

[2022-10-12 16:16] yjclsx commented on #1490
已收到，会尽快查看，谢谢！(自动回复)

[2022-10-12 16:59] sharmadhiraj86 commented on #2623
Hi. I would like to contribute to this issue. Can you assign this issue to me? @bziobrowski

[2022-10-12 18:50] Ln11211 commented on #2619
Hello @sharmadhiraj86,
very well, here is what I found after searching for the **_does not exist in table_** message in the code, The message is from the code in `TableReader.java` , to be exact, lookout for the variable `partitionnameTXN` in lines 834 and 839, I am convinced that this is being printed along with the message although I am not sure but I checked the declaration and implementation o

[2022-10-13 10:43] puzpuzpuz commented on #2272
Closing since all ClickBench issues were fixed. See https://github.com/ClickHouse/ClickBench/pull/25 for more details.

[2022-10-13 10:43] #2272 closed

[2022-10-13 11:06] Ln11211 commented on #2623
Yeah @bziobrowski  , I can confirm it. I just tested the escape sequences and they don't seem to work, it has something to do with how we handle the char sequence.

![image](https://user-images.githubusercontent.com/91385411/195573356-3d8cff17-9826-447d-a199-88621acf605e.png)

[2022-10-13 11:57] bluestreak01 opened #2636 "incorrect `FILL` results"
### Describe the bug

[code]

### To reproduce

compare SQL output with and without `fill` clause

### Expected Behavior

_No response_

### Environment

[code]

### Additional context

_No response_

[2022-10-13 15:08] amunra opened #2638 "PGWire does not disconnect when receiving ILP traffic"
### Describe the bug

A user reported that when sending ILP traffic to PG the connection is maintained and the ILP client silently continues sending data to - effectively - nowehere.

https://github.com/questdb/py-questdb-client/issues/20

We should reject ILP traffic in the PG handling code and disconnect with an error.

### To reproduce

_No response_

### Expected Behavior

_No response_

### E

[2022-10-13 15:20] #1042 closed

[2022-10-13 17:25] melishatrout commented on #2611
I would like to look into this

[2022-10-14 01:01] ErnstHolger opened #2639 "ILP Sequentially insert data without specifying the columns name"
### Is your feature request related to a problem?

ILP requires the column names, but this is very repetitive and cost bandwidth and buffer space.
sender.row(
                'trades',
                symbols={
                    'pair': 'USDGBP',
                    'type': 'buy'},
                columns={
                    'traded_price': 0.83,
                    'limit_price': 0.84,

[2022-10-14 06:09] yvhk2900 opened #2640 "Query error"
### Describe the bug

select * from SCSJ where (station_id='6851C124B5CB40E2812B5E050AB331FC')
 ORDER BY SCSJ.CreateTime desc

2022-10-14T06:02:56.364197Z I i.q.c.h.p.JsonQueryProcessorState [7588] execute-new [skip: 0, stop: 1000]
2022-10-14T06:02:56.470214Z E i.q.c.h.p.JsonQueryProcessorState [7588] internal error [q=`select * from SCSJ where (station_id='6851C124B5CB40E2812B5E050AB331FC')
 ORDE

[2022-10-14 06:15] yvhk2900 commented on #2640
[column.zip](https://github.com/questdb/questdb/files/9782949/column.zip)
This is a column of the SCSJ table

[2022-10-14 07:59] blackstar-baba commented on #1228
I think we need columnar compression to reduce Io pressure and improve disk usage

[2022-10-14 08:49] ideoma opened #2641 "Attach partitions as soft links to directories from different drive"
### Is your feature request related to a problem?

It's useful to support tables with partition located on different physical (network) drives attached to the same box. QuestDB should support to procedure to move some (older / inactive) partitions to other drive / directories in Linux file system and have them in the Table directory as soft links to the partition folders.

### Describe the solutio

[2022-10-14 09:48] pswu11 commented on #2640
Hi @yvhk2900  6.0.4 is quite an old version and between this version and the latest 6.5.3 many bugs were fixed.
It's recommended to upgrade the QuestDB version regularly.

[2022-10-14 12:46] lasse-tarp-CA commented on #2641
I like the fact that you can add more drives over time (fast/expensive or slow/cheap) and move files without having limitations in conf file.
Using .attachable as identifier is a good idea.

[2022-10-14 17:35] daniel-shuy commented on #2578
I've come up with some strategies to reduce code duplication in SQL function implementations, see #2644 as an example

[2022-10-14 20:29] pswu11 commented on #2578
Hi @daniel-shuy good gatch, it's one of the undocumented functions that we overlooked. 👀

[2022-10-15 03:37] yvhk2900 commented on #2640
QuestDB has been upgraded to 6.5.3. After data migration, the same problem still exists. I think the index is damaged during insertion.

[2022-10-15 15:06] #2570 closed

[2022-10-15 17:14] TalhaQuddoos commented on #2636
Hi, I'm interested in this issue. Can you please assign this to me?

[2022-10-15 17:15] puzpuzpuz commented on #2636
@TalhaQuddoos sure thing. Done.

[2022-10-15 18:48] TalhaQuddoos commented on #2636
@bluestreak01 I haven't been a user of QuestDB. Can you please tell me how the output should ideally look like when the FILL keyword is present?

[2022-10-16 03:21] CodeWAdi opened #2645 "Functions for traders (BUILT-IN)"
### Is your feature request related to a problem?

QuestDB could give algo traders tools for store and analyze trades in near realtime mode.
Add function for building OHLCV data from trades data
Add built in functions for calculate common trade indicators for displaying and/or filtering OHLCV data by criteria.
Cache the calculated data for period 1m

### Describe the solution you'd like.

_No resp

[2022-10-16 06:37] rajdeepdas2000 commented on #2505
I observed that the drop table command works fine most of the time. But sometimes it throws the error "Could not lock 'orders2' [reason='missing or owned by other process']". @jerrinot can you kindly guide where I can find the drop table code in questDB directory so that I can look into it and find out what's causing this?

[2022-10-16 06:51] puzpuzpuz commented on #2505
I answered the questions on Slack. Hope this was helpful.

[2022-10-16 06:53] rajdeepdas2000 commented on #2505
yes thanks.

[2022-10-17 09:17] pswu11 commented on #1351
Related to https://github.com/questdb/questdb/issues/258

[2022-10-17 13:34] bluestreak01 opened #2649 "Flaky testRollbackDataOnStaleTransaction"
### Describe the bug

Test closes more file descriptors than it supposed to:

[code]

### To reproduce

_No response_

### Expected Behavior

_No response_

### Environment

[code]

### Additional context

_No response_

[2022-10-17 13:55] bluestreak01 commented on #2636
without `fill` you should be able to observe aggregated data for each of 15 min interval. From eyeballing the output it looks like all intervals are present (no gaps in time).

When you add `fill(null)` to this particular SQL - the net effect should be 0 - there are no intervals to fill.

[2022-10-17 14:46] Belair34 commented on #2611
This issue seems to be resolved

[2022-10-17 15:30] pswu11 commented on #2611
resolved by https://github.com/questdb/questdb/pull/2612

[2022-10-17 15:30] #2611 closed

[2022-10-17 19:27] bluestreak01 commented on #2640
Could you drop index and recreate on 6.5.3 ?

[2022-10-18 10:36] amunra opened #2651 "Flaky `WalTableWriterTest::testRandomInOutOfOrderOverlappingInserts` test on Windows."
### Describe the bug

[code]

### To reproduce

On Windows, run `WalTableWriterTest` on repeat.

### Expected Behavior

_No response_

### Environment

[code]

### Additional context

_No response_

[2022-10-18 10:42] marregui commented on #2588
thank you for the report @aeshaynes and for the example. This is being fixed by https://github.com/questdb/questdb/pull/2652 possibly merged to master this week.

[2022-10-18 15:42] #1916 closed

[2022-10-18 17:10] bluestreak01 commented on #2607
duplicate of https://github.com/questdb/questdb/issues/2513

[2022-10-18 17:11] #2607 closed

[2022-10-18 19:27] #2422 closed

[2022-10-18 22:20] bluestreak01 opened #2655 "Flaky testRunAlterWhenTableLockedAndAlterTimeoutsToStart"
### Describe the bug

[code]

### To reproduce

_No response_

### Expected Behavior

_No response_

### Environment

[code]

### Additional context

_No response_

[2022-10-18 22:45] #2541 closed

[2022-10-19 07:01] thenishantsapkota opened #2658 "Translation of README.md in Nepali Language"
### Is your feature request related to a problem?
Yes, this will help standardize the readme in nepali.

### Describe the solution you'd like.
I will translate the README.md in Nepali.

### Describe alternatives you've considered.

_No response_

### Additional context.

_No response_

[2022-10-19 07:41] thenishantsapkota commented on #2658
Can I work on this?

[2022-10-19 10:57] #2588 closed

[2022-10-19 12:14] #1828 closed

[2022-10-21 02:06] yvhk2900 commented on #2640
@bluestreak01 The index is broken, causing some data to be unreadable. What operations are needed to rebuild the index?

[2022-10-21 11:54] jerrinot commented on #2350
I can reproduce *a* failure when I decrease time out here: https://github.com/questdb/questdb/blob/aaa30eab284eaa53de1b3e6d32dcf5e464337df8/core/src/test/java/io/questdb/cutlass/line/tcp/AlterTableLineTcpReceiverTest.java#L491
With sufficiently short timeout `alterOperationFuture.await()` returns before it has a chance to throw `SqlException`.

But this looks to be a different failure mode than @p

[2022-10-21 16:04] #2658 closed

[2022-10-22 17:22] Jovin247 commented on #2616
Hey, I would like to work on this issue. If you are not working on this issue please assign it to me.

[2022-10-22 17:31] Jovin247 commented on #2615
Hey, I would like to work on this issue. If you are not working on this issue please assign it to me.

[2022-10-22 17:40] Jovin247 opened #2670 "Add a Portuguese README"
### Is your feature request related to a problem?

This is for those who are comfortable with and understand Portuguese better than English.

### Describe the solution you'd like.

I would like to add a Portuguese translation to the README.md file.

### Describe alternatives you've considered.

_No response_

### Additional context.

_No response_

[2022-10-22 17:41] bluestreak01 commented on #2670
We would be delighted if you could help us with that

[2022-10-22 20:38] #2670 closed

[2022-10-22 22:49] #2529 closed

[2022-10-23 06:24] VanshajPoonia commented on #2615
Hey! Actually, I am almost done with it so I would like to keep working. There are plenty of other issues too so you must check them out :D

[2022-10-23 06:25] VanshajPoonia commented on #2616
I am quite close to completion.

[2022-10-23 06:27] AnirudhDaya commented on #2574
Hey maintainers, is this a valid issue?

[2022-10-23 07:45] 4N1Z opened #2672 "Translate Readme into Japanese"
### Is your feature request related to a problem?

Hey
I would like to translate the readme file of your repository into Japanese.

### Describe the solution you'd like.

_No response_

### Describe alternatives you've considered.

_No response_

### Additional context.

_No response_

[2022-10-23 09:28] #2672 closed

[2022-10-23 13:17] bluestreak01 commented on #2640
you can drop it like so:
https://questdb.io/docs/reference/sql/alter-table-alter-column-drop-index/

try without index first to make sure this is indeed index that's causing the problem

you can add index like this:

https://questdb.io/docs/reference/sql/alter-table-alter-column-add-index/

[2022-10-24 09:12] jerrinot commented on #2350
ok, this is what's going on:
1. The UPDATE command is published
2. ILP rows are written
3. JVM/OS hiccup. 300ms. see the previous message.
4. `LineTcpWriterJob` is triggered
5. [LineTcpWriterJob.drainQueue()](https://github.com/questdb/questdb/blob/1bc8866146d585d0cadf807c2af394257a684189/core/src/main/java/io/questdb/cutlass/line/tcp/LineTcpWriterJob.java#L91) [returns the TableWriter](https://gi

[2022-10-24 09:22] puzpuzpuz commented on #2350
Nice finding!

[2022-10-24 10:31] jerrinot commented on #2350
@puzpuzpuz thanks. the question is: how to fix it. one idea is to keep ingesting until the async operation is picked up and throws an exception. but perhaps there is a more elegant way.

[2022-10-24 11:02] puzpuzpuz commented on #2350
Would increasing `getWriterIdleTimeout()` help?

[2022-10-24 11:09] jerrinot commented on #2350
yeah, I think that's the way to go. it makes the test slower, but I guess you cannot eat your cake and have it too 🤷

[2022-10-24 12:06] Recodify opened #2675 "Unable to import data when a designated timestamp column is present on the table"
### Describe the bug

When trying a COPY import on data that includes a microsecond unix timestamp to a table that has a designated timestamp column the following error is logged:

`i.q.c.t.CsvFileIndexer could not parse timestamp [line=475318, column=3]`

When performing a COPY import using the same data, but to a table without the designated timestamp column, all is well.

Does not work:
[code]

[2022-10-24 12:26] michellblomberg68 opened #2677 "Select sampleby"
### Describe the bug

I have a query for a table:

[code]
Columns ts = TimeStamp, id = symbol, value = string

For some intervalls on the Id , we get this error in the log below: But all other interval it works as excpected and when we select the values raw we cant see any reason in the data for any error, it looks the same as on interval that works.

Log Dump.
[code]

### To reproduce

hard to do

[2022-10-24 16:18] javier opened #2681 "Implement postgresql metadata compatibility to use Flywheel migrations"
### Is your feature request related to a problem?

A QuestDB user in stackoverflow mentioned they would like to use Flyway migrations, but they cannot https://stackoverflow.com/questions/74183672/flyway-and-questdb-unknown-function-name-existscursor.

Copying below the original post, in case it gets removed

I am trying to run Flyway migrations scripts on QuestDB.

When I run it I get the followin

[2022-10-24 17:34] #2350 closed

[2022-10-25 06:31] puzpuzpuz commented on #1915
Closing as it's potentially fixed with #2654

[2022-10-25 06:31] #1915 closed

[2022-10-25 07:14] Recodify commented on #2675
@puzpuzpuz You suggested in slack that COPY always expects a datetime format, not long, so I gave this a go.

Data:
[code]

Error: `E i.q.c.t.ParallelCsvFileImporter could not import [phase=analyze_file_structure, ex=column is not a timestamp [no=3, name='']]`

So I tried changing my timestamp column to a date, but it looks like this isn't allowed for designated timestamp?

[code]
Error:

[code]

[2022-10-25 07:38] Recodify commented on #2675
Thanks @puzpuzpuz, no dice with that one either.

Data:
[code]
Error: `E i.q.c.t.ParallelCsvFileImporter could not import [phase=analyze_file_structure, ex=column is not a timestamp [no=3, name='']]`

[2022-10-25 07:43] puzpuzpuz commented on #2675
Let me check it locally.

[2022-10-25 07:52] puzpuzpuz commented on #2675
[code]

[code]

With the above, both of the following COPY statements work fine:
[code]

I used v6.5.4, but v6.5.3 should be similar.

[2022-10-25 11:21] newskooler commented on #2252
I was asked by @jerrinot to describe some use cases of CDC so here they are:

### 1. Ability to based on a table update.
If a table changes by some measure (1 new row or 32 new rows, etc.) then do something. This is not possible now, unless I keep pining the table. So if the tables updates 1 day (but I don't know when), then there are many useless data table pings. I'd much rather "subscribe" and

[2022-10-25 11:36] john-e-lewis opened #2684 "Join fails with 'invalid column'"
### Describe the bug

SQL query using joins with CTEs failing with 'invalid column' error

### To reproduce

**1 run sql**
[code]

**2 run sql**
`insert into table_b values ( 'cust1',  100, '2022-10-25T00:15:00.000000Z', '2022-10-25T00:45:00.000000Z' )
`
**3 run sql**
`insert into table_b values ( 'cust1',  101, '2022-10-25T00:30:00.000000Z', '2022-10-25T01:00:00.000000Z' )
`
**4 run sql using cte

[2022-10-25 12:51] #2675 closed

[2022-10-25 15:38] john-e-lewis opened #2686 "LEFT Join not returning expected results with non trivial join expression"
### Describe the bug

Left join works ok when the ON expression is of the form
  ON a.value = b.value

However, it fails for other match expressions
such as
  ON a.value >= b.value - 1 AND a.value <= b,value + 1

or
  ON a.value between b.value - 1 AND b,value + 1

### To reproduce

**1 Setup Test Data**

[code]

**2 Run SQL using simple ON expr = expr**

[code]

_2 Result - Three rows returned as

[2022-10-25 16:11] leon-sony opened #2687 "Timestamps from Postgres are not imported"
### Describe the bug

Postgres emits timestamps with varying numbers of digits in the milliseconds place, omitting trailing `0`s. Importing these into QuestDB fails.

### To reproduce

1. In Postgres:
[code]
2. Note contents of `/tmp/demo.csv` contains microsecond timestamps with varying numbers of digits:
[code]
3. Copy `demo.csv` to the QuestDB import directory.
4. In QuestDB:
[code]
5. Note tha

[2022-10-25 17:08] bluestreak01 commented on #2687
thanks Leon, i'm on it

[2022-10-26 07:01] SuriZhang opened #2689 "CREATE TABLE with INDEX causing error"
### Describe the bug

I was implementing sqlancer support for questdb, and have found the bug below:

when executing a `CREATE TABLE` query with INDEX, it does check not constraint on INDEX column type so allows me to create index on a non-symbol column and got the error:
[code]

### To reproduce

Execute the query:

`CREATE TABLE t100(c0 INT, c1 BOOLEAN), INDEX (c1);`

### Expected Behavior

this

[2022-10-26 08:10] bziobrowski commented on #2689
Possibly related :
[code]
returns "Could not create table. See log for details." error with
"io.questdb.cairo.CairoException: [-100] Invalid metadata at fd=2900. Index flag is only supported for SYMBOL at [0]" appearing in log. Table doesn't get created but it'd be better to show "Index flag is only supported for SYMBOL" .

[2022-10-26 12:33] awfm9 opened #2690 "Implement true 256-bit integer support"
### Is your feature request related to a problem?

QuestDB claims on its website to support 256-bit unsigned integers. Upon consultation with the team, it became clear, though, that QuestDB does not truly support 256-bit integers.

On closer inspection of the documentation, it turns out that the `Long256` type is merely the hex-encoded binary value of 256-bit unsigned integers, which follows the s

[2022-10-26 16:37] pr0chz opened #2691 "Influx line protocol inconsistent handling of timestamps"
### Describe the bug

The following link describes that timestamp values should be noted in microseconds till epoch:

https://questdb.io/docs/reference/api/ilp/columnset-types/#timestamp

However, for designated timestamp this does not hold and when included in the column set it seems to be interpreted as nanos instead.

I know that the above document notes that it is NOT recommended to include de

[2022-10-26 16:48] ideoma commented on #2691
How about

[code]

[2022-10-26 16:56] ideoma commented on #2691
Ah, that doesn't work either. Here is a QuestDb test to reproduce, will worn in `LineTcpSenderTest`

[code]

[2022-10-26 17:31] bluestreak01 opened #2692 "Flaky testAlterCommandDropLastPartition"
### Describe the bug

[code]

### To reproduce

_No response_

### Expected Behavior

_No response_

### Environment

[code]

### Additional context

_No response_

[2022-10-27 10:08] ideoma opened #2693 "ILP parse failure in test LineTcpReceiverUpdateFuzzTest.testInsertUpdateParallel"
### Describe the bug

https://dev.azure.com/questdb/questdb/_build/results?buildId=11484&view=logs&j=cb27ad6b-0f10-50c9-3ba7-b96a7b5519e7&t=70f4cec6-ac7c-59b7-2703-938768aea310

[code]
[error.log](https://github.com/questdb/questdb/files/9878295/error.log)

[2022-10-27 13:57] AnirudhDaya opened #2695 "Dutch translation for the readme file"
### Is your feature request related to a problem?

People who are more comfortable with the dutch language may find it difficult to understand the readme.

### Describe the solution you'd like.

I would like to translate the readme into dutch language.

### Describe alternatives you've considered.

_No response_

### Additional context.

_No response_

[2022-10-27 14:07] onlydevelop commented on #2623
@sharmadhiraj86 did you make any progress in this?

[2022-10-27 15:26] Belair34 commented on #2465
I looked into this issue for a while before giving up so here are my main findings:
- The real issue is that order by doesn't work correctly with virtual records like rnd_double(), so a simpler query like the following can reproduce it: `select x, rnd_double() a from long_sequence(5) order by a asc`
- The reason this doesn't work is because the random doubles are first generated in the sorting pro

[2022-10-27 16:50] #2687 closed

[2022-10-28 08:50] merowinger92 commented on #1953
Hi!

I tried to reproduce this, but I was not able to do so.

It seems that it's not possible to create a column name with special characters thanks to this: https://github.com/questdb/questdb/commit/944ee3aff891df389fe1862db03698829cc05de1 (more specifically this function https://github.com/questdb/questdb/blob/944ee3aff891df389fe1862db03698829cc05de1/core/src/main/java/io/questdb/cairo/TableUtil

[2022-10-28 17:51] Arkaroy147 opened #2697 "Wish to modify Readme.md so that the Logo takes us to Questdb site"
### Is your feature request related to a problem?

The readme.md logo doesn't take us to Questdb site when clicked.

### Describe the solution you'd like.

I would modify the readme code so that clicking on the logo, it would take me to your site Directly

### Describe alternatives you've considered.

_No response_

### Additional context.

May you assign me this issue? Also can you put the hackto

[2022-10-28 19:08] #2693 closed

[2022-10-28 19:58] leon-sony commented on #2687
Awesome, thanks!

[2022-10-29 15:16] kaganmersin commented on #166
Hello @pswu11 @bluestreak01
I see that horizontal scalibility is active for enterprise from you website. Is cluster mode active right now ? Is there any documentation to see how can we use it ?
![image](https://user-images.githubusercontent.com/46555755/198839229-dd827728-ee06-42cc-bba4-29803543c414.png)

[2022-10-31 07:25] QuadStingray opened #2703 "Import by REST Request `/imp` as JSON Result"
### Describe the bug

Im you send the `/imp?name=default_tablename&fmt=json` you got sometimes the table style informations back. (In my Tests with Postman in 5 of 10 cases.

### To reproduce

curl --location --request POST 'QUESTDB_REST/imp?name=default_tablename&fmt=json' --form 'data=@"9094422795565268681.csv"'

### Expected Behavior

Always the JSON Result.

### Environment

[code]

### Additi

[2022-10-31 08:34] QuadStingray opened #2704 "Upload CSV some rows date (TIMESTAMP) is null"
### Describe the bug

I create a table by sql  and upload an CSV-File by the REST-API. After the Upload 50% oft the rows doesn`t have a timestamp in the database table.

I also tested it with the same file multiple times and in nearly 50% of the cases the value of the timestamp field is randomly null or have a value. So it can not be the format. I also tested it with an UNIX timestamp in the CSV F

[2022-10-31 08:49] QuadStingray commented on #2704
[16716932497141043641.csv](https://github.com/questdb/questdb/files/9899517/16716932497141043641.csv)

[2022-10-31 10:35] bziobrowski opened #2705 "row_number() doesn't respect order by clause if partition by clause is missing and order is same as in base query"
### Describe the bug

_No response_

### To reproduce

[code]

in PostgreSQL :

[code]

### Expected Behavior

_No response_

### Environment

[code]

### Additional context

_No response_

[2022-10-31 13:49] puzpuzpuz commented on #2704
@QuadStingray your CSV file has problematic first row:
[code]

The timestamp column is 6th value here while in all subsequent rows it's 8th value. If I remove the first row, the import seems to work fine.

One more thing to notice is that your CREATE TABLE DDL statement misses the `applicationName` column.

[2022-10-31 13:55] puzpuzpuz commented on #2703
Could you provide a reproducer CSV file?

[2022-10-31 15:45] QuadStingray commented on #2704
@puzpuzpuz Thanks I fixed my CSV Generation. Sometimes it is better to look on a file with new eyes. I debuged 2h an didn`t saw the missing field value!

[2022-10-31 15:45] #2704 closed

[2022-10-31 15:47] QuadStingray commented on #2703
[16716932497141043641.csv](https://github.com/questdb/questdb/files/9902617/16716932497141043641.csv)

You can use the fixed CSV File from the Issue #2704 ;-)
With the fixed file I had 6 wrong formattings in 20 request in relativ short time. (I clicked in postman to send after the last request was fulfilled.

[2022-10-31 17:01] puzpuzpuz commented on #2703
Thanks for these details! They're helpful.

[2022-10-31 17:38] pswu11 commented on #166
Hi @kaganmersin we're currently developing replication for QuestDB, you could check out our roadmap here for a better overview here:
https://github.com/orgs/questdb/projects/1/views/5
Also, happy to have a chat to give you more detail also to understand your need, you could join our Slack and reach out to me directly: https://slack.questdb.io/

[2022-11-01 03:19] siddharthans2000 commented on #2578
Hey is it issue still open?
can I start for the remaining tasks which are incomplete?

[2022-11-01 09:42] puzpuzpuz commented on #2692
I'm able to reproduce this one, so I'm picking it.

[2022-11-01 15:01] pswu11 commented on #2578
Hi @siddharthans2000 Hacktoberfest is over, but if you're interested in contributing certain features / fixing bugs here - feel free to try make a pull request. Or, you could try to look up existing GitHub issues, and see if there are other more interesting ones to work on.

[2022-11-01 15:04] #2692 closed

[2022-11-01 18:29] #2689 closed

[2022-11-02 15:22] jerrinot commented on #2590
fixed by https://github.com/questdb/questdb/pull/2627

[2022-11-02 15:22] #2590 closed

[2022-11-02 15:25] jerrinot opened #2713 "ILP client fails when interrupted in send()"
### Describe the bug

While profiling the ILP client I'm getting this error:
[code]
errno 4 is `EINTR` -> the thread was interrupted while in a syscall. we should restart the syscall instead of propagating the error.

### To reproduce

- Run ILP client
- Start async profile in the wall mode
- Wait for the error

### Expected Behavior

`EINTR` is handled transparently by restarting the syscall

###

[2022-11-03 07:54] SuriZhang commented on #2689
yes! sorry I just saw this.
I have further implemented some code in sqlancer and have found some potential bugs. I'm taking a look at the logs now. let's move the thread to slack for better comm : )

[2022-11-03 08:38] puzpuzpuz commented on #2689
Many thanks. Sure, let's do it.

[2022-11-03 08:42] SuriZhang commented on #595
some PRs have been merged:
https://github.com/sqlancer/sqlancer/pull/588
https://github.com/sqlancer/sqlancer/pull/602
https://github.com/sqlancer/sqlancer/pull/605

[2022-11-03 08:52] puzpuzpuz commented on #595
@SuriZhang this is awesome! Thanks once again for contributing QuestDB support to SQLancer.

[2022-11-03 09:00] puzpuzpuz opened #2714 "Unexpected result set with a no-op float filter"
### Describe the bug

Reported by @SuriZhang (found by SQLancer)

[code]

All of the following queries should return 42, but queries 2 and 3 return an empty result set:
[code]

### To reproduce

_No response_

### Expected Behavior

_No response_

### Environment

[code]

### Additional context

_No response_

[2022-11-03 09:47] puzpuzpuz commented on #2649
Couldn't reproduce this one on Linux and x86.

[2022-11-03 09:48] bluestreak01 commented on #2649
This is likely to do with tests running as a group and perhaps logger configured to roll files on size.

[2022-11-03 10:25] puzpuzpuz commented on #2266
Failed to reproduce this one on Linux and x86.

[2022-11-03 10:26] #2714 closed

[2022-11-03 10:26] ideoma commented on #2266
can be this one https://github.com/questdb/questdb/issues/2693

[2022-11-03 11:00] puzpuzpuz commented on #2060
Managed to reproduce this one on Linux and x86. Looking into it.

[2022-11-03 11:03] siberianhunger opened #2718 "Getting syntax error on detach partition attemt."
### Describe the bug

Getting following error on detach partition query attemt via python3.8 psycopg2 execution:
query - `ALTER TABLE 'test_markets' DETACH PARTITION WHERE timestamp < '2022-10-31';`
error - `'add', 'drop', 'attach', 'set' or 'rename' expected`
If I try to run this query in questdb browser interface it highlits DETACH instrustion
![image](https://user-images.githubusercontent.com/4

[2022-11-03 11:27] ideoma commented on #2718
Detach partition functionality added in 6.5.1

https://github.com/questdb/questdb/releases/tag/6.5.1

[2022-11-03 11:27] #2718 closed

[2022-11-03 11:41] john-e-lewis opened #2719 "insert into table does not support CTE queries"
### Describe the bug

insert into table does not support CTE queries

### To reproduce

create table 'conndata2' (
  ts timestamp,
  name string,
  active string
) timestamp(ts);

-- the following insert works as normal
insert into conndata2
SELECT           '1970-01-01T00:00:00', 'A', 'Y'
UNION ALL SELECT '1970-01-01T00:00:01', 'E', 'Y'

TRUNCATE TABLE conndata2

-- the following insert using CTE

[2022-11-03 12:19] puzpuzpuz opened #2721 "SQL engine issues found by SQLancer"
### Describe the bug

Reported by @SuriZhang

A few items in the below file are already fixed (#2714).

[questdb bugs 1103.1851.txt](https://github.com/questdb/questdb/files/9928197/questdb.bugs.1103.1851.txt)

### To reproduce

_No response_

### Expected Behavior

_No response_

### Environment

[code]

### Additional context

_No response_

[2022-11-03 12:30] puzpuzpuz commented on #2266
Let's close this issue then reopen if it reoccurs.

[2022-11-03 12:30] #2266 closed

[2022-11-03 17:49] ideoma opened #2727 "SQL: sample by 1h fill(linear) align to calendar does not align to calendar"
### Describe the bug

_No response_

### To reproduce

on demo https://demo.questdb.io/ run

[code]
![Screenshot 2022-11-03 at 17 48 26](https://user-images.githubusercontent.com/2159629/199796910-2b9eee0f-c014-4f87-930e-2e82832819a2.png)

if ` fill(linear) ` is removed the timing is aligned properly

![Screenshot 2022-11-03 at 17 49 21](https://user-images.githubusercontent.com/2159629/199797090-

[2022-11-03 19:20] jsjain opened #2729 "Getting error could not open read-write while trying to create multiple tables"
### Describe the bug

I am working on project where I need to store financial stock market data for multiple stocks in the database. For that I intend to create table for each symbol. Although this is one time job, but each month there are certain symbols which will be getting added therefore I will need to create around 1000 tables again and delete previous tables.
I have around 5000 symbols ther

[2022-11-04 00:23] #2719 closed

[2022-11-04 07:07] puzpuzpuz opened #2731 "Flaky PGJobContextTest.testInsertTimestampAsString"
### Describe the bug

Happened on linux-arm64

CI log fragment:
[linux-arm64.log](https://github.com/questdb/questdb/files/9935826/linux-arm64.log)

### To reproduce

_No response_

### Expected Behavior

_No response_

### Environment

[code]

### Additional context

_No response_

[2022-11-04 09:12] #2060 closed

[2022-11-04 10:15] puzpuzpuz commented on #1559
Closing this one as it's been a while since the last occurrence and I failed to reproduce it locally.

[2022-11-04 10:15] #1559 closed

[2022-11-04 10:21] jsjain opened #2733 "[AMI] Ignoring questdb because of bad file mode - must be 0644 or 0444"
### Describe the bug

I am using the official questDB AWS AMI, while using I am frequently getting message `email in file /var/spool/mail/root`  with error message as `error: Ignoring questdb because of bad file mode - must be 0644 or 0444.`

Reference slack thread link - [thread link](https://questdb.slack.com/archives/C1NFJEER0/p1667549069434599)

### To reproduce

1. Start new questDB instance

[2022-11-04 10:35] puzpuzpuz commented on #1543
It's been a while since we saw this failure and I couldn't reproduce it locally even with `stress-ng` consuming all cores, so I'm closing it.

[2022-11-04 10:35] #1543 closed

[2022-11-04 17:26] #2697 closed

[2022-11-07 14:03] #2641 closed

[2022-11-07 15:25] ideoma opened #2741 "Flaky testMetaDataSizeToHitExactly16K test fails with FD leak on Windows"
### Describe the bug

`testMetaDataSizeToHitExactly16K` WAL run on Windows with File Descriptor leak. FD is ILP connection context socket file descriptor.

See debug log attached
[scratch_41.txt](https://github.com/questdb/questdb/files/9953039/scratch_41.txt)

### To reproduce

_No response_

### Expected Behavior

_No response_

### Environment

[code]

### Additional context

_No response_

[2022-11-07 19:03] ideoma opened #2742 "Error logged when ILP aborts on QuestDB restart"
### Describe the bug

[code]

### To reproduce

_No response_

### Expected Behavior

_No response_

### Environment

[code]

### Additional context

_No response_

[2022-11-08 22:48] bluestreak01 commented on #2741
Fixed in https://github.com/questdb/questdb/pull/2457/commits/2954d742b0a4bd640f4515dc102026f08007f797

not just windows

[2022-11-08 22:48] #2741 closed

[2022-11-09 16:51] jerrinot opened #2751 "Flake testDropIndexPreservesIndexFilesWhenThereIsATransactionReadingThem"
### Describe the bug

[code]

[code]

### To reproduce

_No response_

### Expected Behavior

_No response_

### Environment

[code]

### Additional context

_No response_

[2022-11-09 18:12] jerrinot commented on #2677
a quick analysis:
[this](https://github.com/questdb/questdb/blob/f69a8297902cb8d2502368624be8ef971615be3d/core/src/main/java/io/questdb/cairo/vm/api/MemoryCR.java#L157) impl of `CharSequence` does not override `subSequence()` so the impl from `AbstractCharSequence` is used and it throws UOE.

https://github.com/questdb/questdb/blob/ff3f706e271362f94ae90d8fb0c407903b58b23c/core/src/main/java/io/que

[2022-11-10 08:34] jerrinot commented on #2713
fixed by https://github.com/questdb/questdb/pull/2739

[2022-11-10 08:34] #2713 closed

[2022-11-10 13:43] jerrinot opened #2755 "Superfluous logging in QuestDB AMI instances"
### Describe the bug

This is how QuestDB logs look like in QuestDB AMI instances:
[code]

notice the extra timestamps. probably the word _questdb_ is unnecessary too. I assume it's because QuestDB logs timestamps and then systemd(?) prefix it with own things.

### To reproduce

_No response_

### Expected Behavior

_No response_

### Environment

[code]

### Additional context

_No response_

[2022-11-10 13:59] puzpuzpuz commented on #2340
Failed recently on linux-arm64 (#2749):
[code]

[2022-11-10 14:51] #2677 closed

[2022-11-10 15:49] gribblem opened #2758 "Bug ? - [-1] timeout, query aborted"
### Describe the bug

This issue description was posted to questdb.io in error

Please see  https://github.com/questdb/questdb.io/issues/1170

### To reproduce

_No response_

### Expected Behavior

_No response_

### Environment

[code]

### Additional context

_No response_

[2022-11-11 00:00] shivambarot commented on #2623
@bziobrowski can you please assign me this task?

[2022-11-11 07:25] #2395 closed

[2022-11-11 07:28] huuhait opened #2761 "Add support FILL by PREV"
### Is your feature request related to a problem?

yes

### Describe the solution you'd like.

I think for optimize sql query like kline or candle query we should have something like continuous query in influxdb 1.8

Reason why RESAMPLE is not powerful for k-line data:
- still missing FILL by PREV BY COLUMN
- still missing data if this time is not avaible any data (time from or time end)

Hope que

[2022-11-11 09:02] javier commented on #2390
This is still nor working.

This query breaks, complaining a time zone and offset is needed

[code]

If I add the TZ and offset it works fine, but this should not be needed

[code]

[2022-11-11 09:33] bluestreak01 opened #2763 "Flaky LineTcpReceiverUpdateFuzzTest.testInsertUpdateSequential[NO_WAL]"
### Describe the bug

[code]

### Additional context

_No response_

[2022-11-11 09:33] jerrinot commented on #2390
Hello @javier,

According to the grammar at https://questdb.io/docs/reference/sql/sample-by/#syntax
when you align “to calendar” then either “time zone” or “with offset” is mandatory.
So one could say “working as designed” 🙈

<img width="537" alt="image" src="https://user-images.githubusercontent.com/158619/201309561-7619d05d-e0bc-40e0-9bda-5a8afeac9541.png">

Except it's not!

As you noticed when

[2022-11-11 09:34] bluestreak01 commented on #2763
Full log:

[65.txt.zip](https://github.com/questdb/questdb/files/9988989/65.txt.zip)

[2022-11-11 10:55] ideoma commented on #2758
Looks like it's timeout. https://questdb.io/blog/2021/12/20/release-prometheus-alertmanager/#automatic-sql-query-timeout

Please move the description of the issue to this repo

[2022-11-11 13:08] bluestreak01 commented on #2758
you should supply an alternative circuit breaker, without relying on default. Its hard to say how to supply it without seeing your code.

[2022-11-11 17:25] glasstiger commented on #2763
When a table is created CairoEngine locks the table as:
[code]
When the table is ready for use the locks are released as:
[code]

When the test detects an EV_UNLOCKED event published by SRC_WRITER (TableWriter in this case) it considers the table ready for UPDATE.
Looking at the above unlock order it is clear that metadata can be still locked after a writer unlock event, hence the possibility of g

[2022-11-12 23:25] victorstewart opened #2767 "long128"
### Is your feature request related to a problem?

_No response_

### Describe the solution you'd like.

add a long128 type

### Describe alternatives you've considered.

currently this requires either using the binary type, converting into a string, or using the long256 type, all of which require more storage space.

### Additional context.

_No response_

[2022-11-13 00:43] #2767 closed

[2022-11-14 13:18] #2763 closed

[2022-11-14 14:57] pswu11 opened #2771 "disproportionally slower execution time on specific LATEST ON query"
### Describe the bug

Disproportionally slower execution time on LATEST ON ... PARTITION BY ... when using with multiple symbols.

### To reproduce

I have tested below three queries on our demo site:
[code]
-> 482.2μs

[code]
-> 360.51μs

[code]
-> 9s 👈🏼  this query has taken significantly longer time than the other two,

### Expected Behavior

The last query should not be so much slower than the

[2022-11-14 15:22] bluestreak01 opened #2774 "Flaky testInsertsIsPerformedWhenWriterLockedAndDisconnectedLoop"
### Describe the bug

[code]

### To reproduce

_No response_

### Expected Behavior

_No response_

### Environment

[code]

### Additional context

_No response_

[2022-11-14 15:23] #2452 closed

[2022-11-14 15:24] gribblem commented on #2758
Thanks for the response. Below is selected relavant **extracts** from our code doing the query.
Code based on dev notes provided at https://questdb.io/docs/reference/api/java-embedded/#executing-queries.

"you should supply an alternative circuit breaker", where would that be applied ? (Cant find any API doc on how to do this)

`
protected void readHistory0(String entityId) throws SqlException {

[2022-11-15 09:41] #874 closed

[2022-11-15 12:22] Va1 opened #2777 "NullPointerException upon shutdown/restart"
### Describe the bug

We are using QuestDB for ingesting quite big amounts of data in realtime (via ILP) and noticed that every time we restart the instance, pretty much every time before stopping it outputs series of NullPointerException stack traces of its worker threads.

So I am reporting this and asking two questions:
1. is this behaviour OK? (does not seem so, tbh)
2. how do we prevent this

[2022-11-15 15:27] bluestreak01 commented on #2777
This looks like a bug to me, which we will need to investigate. It looks harmless to the data, e.g. seems a SQL execution via REST triggers this.

[2022-11-17 15:05] jnzd commented on #2691
I have encountered the same issue.
I will just describe my use case for a table with a single column of timestamps to give an idea where the demand for this might come from. I am aware that my specific use case is probably quite niche.

**Use case:** I am working on a tool for monitoring temporal logic policies/formulas. I am using QuestDB as a backend to log all the events that get passed to the

[2022-11-17 22:32] Va1 commented on #2777
@bluestreak01 yeah, the data is fine as far as i can tell.

what do you mean by this?

[2022-11-18 15:49] jerrinot commented on #2727
the `SampleByInterpolateRecordCursorFactory` is not aware of alignment at all.
Unlike other implementations of `SampleBy*RecordCursorFactory` it does not accept
[code]
as parameters.

[2022-11-18 19:23] bluestreak01 commented on #2340
this is a bug, the fuzz test does not log randoms it is using, so it is really hard to reproduce. I have added random logging in this PR: https://github.com/questdb/questdb/pull/2786

[2022-11-20 23:40] bluestreak01 commented on #2777
Thank you for clarifying that HTTP is disabled, it helped.

We should be enable to release the fix tomorrow.

[2022-11-21 05:02] KACHIDA commented on #2623
Hi @bziobrowski , I'm interested to work on the above issue, can you please assign me this task

[2022-11-21 11:01] #2777 closed

[2022-11-21 15:43] #2771 closed, assigned to puzpuzpuz

[2022-11-21 16:54] jerrinot commented on #1815
I've got a segfault in this test: Hosted Running tests with cover -> linux-other -> Run tests with Coverage.
This is the build: https://dev.azure.com/questdb/questdb/_build/results?buildId=12328&view=logs&j=cb27ad6b-0f10-50c9-3ba7-b96a7b5519e7&t=70f4cec6-ac7c-59b7-2703-938768aea310

Relevant log file:
[76.log](https://github.com/questdb/questdb/files/10058484/76.log)

[2022-11-21 18:27] #2390 closed

[2022-11-21 19:10] Roh-codeur commented on #2111
Hi @bziobrowski

thanks for your work on this database, this is quite awesome indeed.

Do we know if and when "COPY FROM STDIN" will be implemented, please?

thanks!
Roh

[2022-11-22 09:39] pswu11 opened #2794 "Expose additional Prometheus metrics for PGwire"
### Is your feature request related to a problem?

Here are some nice-to-have metrics requested by one of the users from our Slack community

- number of PGwire connections
- number of PGwire queries: similar to the `questdb_json_queries_total` but for PGwire
- number of file handles: helps to see how close we are to the limit

We should already have a foundation for them, so it's a matter of expo

[2022-11-22 10:47] puzpuzpuz commented on #2729
Server logs would be very helpful. Most likely you're hitting the kernel limits: https://questdb.io/docs/operations/capacity-planning/#os-configuration

[2022-11-22 11:10] tomtom215 opened #2795 "Cleanup security bugs reported by ArtifactHub"
### Describe the bug

Current images receive an "F" by the ArtifactHub scan
https://artifacthub.io/packages/helm/questdb/questdb?modal=security-report

### To reproduce

_No response_

### Expected Behavior

Many security policies will prevent users from deploying anything with an "F" for image security rating

### Environment

[code]

### Additional context

_No response_

[2022-11-22 15:39] jerrinot opened #2799 "Inconsistent null handling during explicit casting from numbers to string"
### Describe the bug

There appears to be inconsistencies in casting from numbers to string.
I'm using `CastLongToStrFunctionFactory` to illustrate the problem, but there is the same issue in `CastIntToStrFunctionFactory` and I assume also in other casting function factories.

**Behaviour I - Constants**
When an upstream long function is a constant then [the factory does not do any null check](htt

[2022-11-22 15:47] Va1 opened #2800 ""invalid partition directory inside table folder" error during startup after upgrading to 6.6"
### Describe the bug

Thank you for taking care of https://github.com/questdb/questdb/issues/2777 – we've rolled out the upgrade (from v6.5.5 to v6.6) and the error upon shutdown is gone.

however, after this upgrade we're experiencing an another error on every startup (one for each table):
[code]

the data, however, continues to be read and written and is generally in place.

i've sshed into the

[2022-11-22 15:47] eugenels opened #2801 "Flaky testVectorSumAvgDoubleRndColumnWithNullsParallel"
### Describe the bug

[code]

### To reproduce

_No response_

### Expected Behavior

_No response_

### Environment

[code]

### Additional context

_No response_

[2022-11-22 20:05] sklarsa commented on #2564
closed by https://github.com/questdb/questdb/pull/2737

[2022-11-22 20:05] #2564 closed

[2022-11-23 12:03] jerrinot opened #2805 "pgwire: Bug in function overload resolution strategy with prepared statements"
### Describe the bug

this test fails:
[code]

the error as received by a Postgres client: `org.postgresql.util.PSQLException: ERROR: inconvertible value: `boom` [STRING -> DOUBLE]`

The reason is simple: When a cast overload is being resolved (when parsing the query) then the type of `?` is unknown and the overload resolution strategy selects `CAST(DOUBLE -> STRING)` . Later the JDBC client sends

[2022-11-23 13:07] puzpuzpuz commented on #1815
Here is the crash dump report:
[questdb-crash-merge-e62db4076aff73f77de2f3a939d922e34248e188-1-Linux-1.11.log](https://github.com/questdb/questdb/files/10075677/questdb-crash-merge-e62db4076aff73f77de2f3a939d922e34248e188-1-Linux-1.11.log)

Notice the following line:
[code]

Zero `si_addr` here means that we're trying to read from the zero address in `Chars.utf8Decode()`. We get there via this cal

[2022-11-23 17:50] puzpuzpuz commented on #2513
I'm able to reproduce this one locally with `taskset -c 0,2`. Looking into it.

[2022-11-24 01:02] bluestreak01 commented on #2805
This can be fixed by creating a noop cast function from string to string.

Overload logic will select the widest type for the ? Out of all available (implemented)

[2022-11-24 01:03] bluestreak01 commented on #2805
As I mentioned above - this is not a bug in overload strategy

[2022-11-24 09:14] xiaoliang-up opened #2808 "how to query table‘s exists partition files(fileName) through sql"
### Describe the bug
i have a table,and it have many partition files.
to my understanding ,the partition files generate by time of insert data. now, i want to know the number of partition files and what these partitions file is  through sql query.
questdb can query tables and table columns  through sql at present;but can't query table's exists partition files.

### To reproduce

_No response_

###

[2022-11-24 10:23] jerrinot commented on #2805
Right, that makes sense.

The suggested workaround is quite clever. It'll work as long as the parameter can be converted into string without losing any information.

[2022-11-24 14:46] ideoma opened #2813 "Invalid number string parses as a double"
### Describe the bug

[code]

### To reproduce

Use `Numbers.parseDoubel("0X.8p102444")` it should output Infinity to match JDK.

### Expected Behavior

_No response_

### Environment

[code]

### Additional context

_No response_

[2022-11-25 07:29] 390029659 opened #2815 "TextImportTask could not import [phase=partition_import, ex= io.questdb.cairo.CairoException: [1455] could not mmap column [fd=2176, size=16777216] ]"
### Describe the bug

use commond “COPY data_hydrometeor FROM 'data_hydrometeor.csv' WITH HEADER true TIMESTAMP 'TIME' FORMAT 'yyyy-MM-ddTHH:mm:ss.SSSUUUZ';”  to import.
![image](https://user-images.githubusercontent.com/16483840/203924596-f73a5a14-c7fa-4d66-83f6-885e38e79ba2.png)
![image](https://user-images.githubusercontent.com/16483840/203925013-45303bee-1c0f-4f2f-865d-c3dcaec65b7a.png)

### T

[2022-11-25 14:51] #2513 closed

[2022-11-25 15:53] bluestreak01 commented on #2815
This is likely to have been fixed

Please try [6.6.1](https://github.com/questdb/questdb/releases/tag/6.6.1)

[2022-11-25 21:16] viper1 opened #2816 "archive partition"
### Is your feature request related to a problem?

The new symlink functionality for detached partitions (#2650) is fantastic, thanks for the great work!

An addition to qdb could completely automate a number of archive/"offload to slower storage" use cases.

### Describe the solution you'd like.

1. "ARCHIVE PARTITION" keyword
2. New config option cairo.archivedb=/db-archive/

Two possible implem

[2022-11-26 09:14] shinebayar-g opened #2819 "Is Gorm supported?"
### Is your feature request related to a problem?

Is https://gorm.io/ supported?

[code]

Gorm log
[code]

QuestDB log
[code]

### Describe the solution you'd like.

https://gorm.io/ support

### Describe alternatives you've considered.

_No response_

### Additional context.

_No response_

[2022-11-26 22:04] vjuranek opened #2820 "GSSAPI authnetication is closed abruptly"
### Describe the bug

When user has a kerberos ticket and tries to connect to the questdb, most of the tools tries GSSAPI authentication first and if not supported, continues with another type authentication (if there is any). QuestDB doesn't refuse GSSAPI gracefully, which leads to terminating the client program, with strange error like this:
[code]

### To reproduce

1. `kinit` (obtain a kerbero

[2022-11-27 04:36] shinebayar-g commented on #2819
Looks like raw SQL drivers are required.

[2022-11-27 04:36] #2819 closed

[2022-11-27 13:53] sharmadhiraj86 commented on #2705
Hii @puzpuzpuz, can you assign this issue to me? Also please let me know how can I approach the solution.

[2022-11-27 15:35] puzpuzpuz commented on #2705
@sharmadhiraj86 sure thing, assigned you to the issue. As for way to approach it, you should start with a reproducer test (or multiple tests) and then debug the code to understand what's going on and where the fix should be applied. The `row_number()` function itself remains in the `RowNumberFunctionFactory` class.

[2022-11-28 08:16] Luyang2902 opened #2823 "6.6.1 version is not stable on windows os"
### Describe the bug

the version 6.61  is not stable ,the status of qdb frequently be inactive ,there are two crash logs,
 my questdb is on windows11 os
[crash+1.log](https://github.com/questdb/questdb/files/10101718/crash%2B1.log)
[crash+0.log](https://github.com/questdb/questdb/files/10101719/crash%2B0.log)

### To reproduce

_No response_

### Expected Behavior

_No response_

### Environment

[2022-11-28 12:18] gribblem commented on #2758
In the latest 6.6.1, the number of these timeouts occuring is worse.

"you should supply an alternative circuit breaker", where would that be applied ? (Cant find any API doc on how to do this)

[2022-11-28 12:27] puzpuzpuz opened #2825 "Concurrent ILP connections aren't given fair slices of CPU time"
### Describe the bug

See the reproducer.

### To reproduce

Generate cpu and iot data with [TSBS](https://github.com/timescale/tsbs):
[code]

Run a QuestDB instance with the following config:
[code]

First, run iot benchmark:
[code]

Wait for a couple of reported result rows and run cpu benchmark:
[code]

You will observe a similar result for the cpu benchmark:
[code]

### Expected Behavior

_No

[2022-11-29 04:46] Me163 opened #2828 "COPY not working on a MacOS Homebrew installation"
### Describe the bug

COPY errors out with
`
[1] could not open read-only [file=/Users/kenk/Desktop/copy_from/energy_dataset
`

The odd thing is that using the "import csv" part of the web UI on the same file seems to work. But I can't rely on that because I need to manually specify one or more of the types of the columns (if there is a way to do that in with import in the web UI, let me know).

#

[2022-11-29 09:25] ideoma commented on #2828
Can you try using other folder than Desktop, Documents, Downloads on Mac as a woraround?

Mac OS has some security restriction on application accessing those, need to investigate what it is, but many of my applications don't have access there.

[2022-11-29 09:29] ideoma opened #2829 "Table Reader leaked after timed out query"
### Describe the bug

A reader leaked with scoreboard lock after timeout on the query

[code]

This happened on the version 6.5 and query execution scanned all the hourly partitions between dates in ascending order perhaps timing out on sorting the data.

### To reproduce

_No response_

### Expected Behavior

_No response_

### Environment

[code]

### Additional context

_No response_

[2022-11-29 09:54] newskooler opened #2830 "Add support for median function in SQL"
### Is your feature request related to a problem?

It's very easy to compute some aggregation functions, such as `avg` or `max`, but other are harder, such as `median`. Having native support in QuestDB would help a lot.

### Describe the solution you'd like.

Ideally it would be called `median` and would work in the same way as the other aggregation functions: https://questdb.io/docs/reference/fun

[2022-11-29 10:00] bziobrowski commented on #2623
I've cleared the assignee field because I  haven't heard from the person .
If there's no linked PR then it usually means that no one is working on the issue .

[2022-11-29 10:02] puzpuzpuz commented on #2830
As a more Postgres-compatible option, we could add support for the `percentile_cont` [function](https://www.postgresql.org/docs/9.4/functions-aggregate.html). Then calculating the median would be as simple as the following:
[code]

[2022-11-29 10:06] newskooler commented on #2830
Often I'd have to make a bunch of aggregations to data.
For example:
[code]
What you suggest would not let me do that, right? I will have to do another select on top of an existing select? Possibly even more complicated than that. Is that right?

[2022-11-29 10:52] puzpuzpuz commented on #2830
With `percentile_cont` your query should look like the following:
[code]

Am I missing something?

[2022-11-29 11:58] Roh-codeur opened #2831 "Slow inserts"
### Describe the bug

Hi, I absolutely love this product, QuestDB team has done an amazing job! I do face an issue

I have a table which has 3 Symbol columns(Ticker, Exchange, etc), a Date/Timestamp column and OHLCV columns. the Symbol columns have indices on them as well. When I try to insert rows in this table, the performance is quite bad, I am afraid. it takes more than an hour to insert 1 mil

[2022-11-29 13:43] tpreclik opened #2833 "StackOverflowError in PGWireServer"
### Describe the bug

In our data retention service we hit #1944. After upgrading to 6.3.1 this error is gone. However, we now run into a `java.lang.StackOverflowError` in `i.q.c.p.PGWireServer` when executing an `ALTER TABLE table_a DROP PARTITION WHERE timestamp < dateadd('h', 36, now());` query. The following function sequence is called recursively:

[code]

### To reproduce

Same steps as in #

[2022-11-29 14:39] jerrinot commented on #2833
hello @tpreclik, did you try a version newer than 6.3.1? ideally the latest and greatest. which currently is 6.6.1.

[2022-11-29 16:01] donet5 opened #2834 "binary type How to insert"
### Is your feature request related to a problem?

insert into  tablename  ( binaryType ) values (   0x010203 )

### Describe the solution you'd like.

_No response_

### Describe alternatives you've considered.

_No response_

### Additional context.

_No response_

[2022-11-29 16:02] donet5 commented on #2834
![image](https://user-images.githubusercontent.com/12455385/204580127-b90f0934-2467-49b4-83e8-744442d2858b.png)

[2022-11-29 16:02] donet5 commented on #2834
![image](https://user-images.githubusercontent.com/12455385/204580207-7a731e21-fe1c-437a-9add-ccc484809f58.png)

[2022-11-29 16:18] newskooler commented on #2830
If it works like this, then yes - that would be fine! : )

[2022-11-29 16:47] jerrinot opened #2835 "error when parsing a query with an empty string"
### Describe the bug

Run this query: `select '' from long_sequence(1);`

The web console shows `An error occured, please try again` and this is in the log:
[code]

As a user I'd expect an empty string to be selected. This also means an empty string cannot be inserted into a string column,  etc.

### Environment

[code]

[2022-11-29 17:16] newskooler commented on #2830
Though I would still suggest the following:
1. Change `avg` -> `mean` because `avg` is ambiguous.
2. Have a higher level method of `percentile_cont(0.5) WITHIN GROUP (ORDER BY price)` -> `median`.

Both of these should improve easy of use.

[2022-11-29 18:57] puzpuzpuz commented on #2830
We favor Postgres SQL dialect which calls it `avg`.

[2022-11-30 01:20] Me163 commented on #2828
This resolved the issue thank you!

[2022-11-30 10:35] donet5 opened #2836 ".Net Core BUG"
### Describe the bug

![image](https://user-images.githubusercontent.com/12455385/204773465-32fefebe-f7dd-4f8b-be2c-8af8675e49ba.png)

Npgsql.dll  Is greater than  6.0   error

5.0 Normal

[2022-11-30 10:37] donet5 commented on #2836
[ConsoleApp3.zip](https://www.donet5.com/_theme/ueditor/utf8-net/net/upload/file/20221130/6380543021452031716632094.zip)

​

[2022-11-30 17:49] ranjithkumarmv opened #2837 "User Management along with Auth"
### Is your feature request related to a problem?

_No response_

### Describe the solution you'd like.

similar to what influxdb has - https://docs.influxdata.com/influxdb/v2.5/users/

### Describe alternatives you've considered.

_No response_

### Additional context.

_No response_

[2022-11-30 18:45] jerrinot commented on #2820
fixed by #2821

[2022-11-30 18:45] #2820 closed