[2022-03-09 12:21] bluestreak01 opened #1939 "Adding index does not speed up SQL execution"
### Describe the bug

My symbol lookup filter was painfully slow. I decided to add index on said symbol. Query remained slow until instance restart. After restart query is much faster.

### To reproduce

_No response_

### Expected Behavior

_No response_

### Environment

[code]

### Additional context

_No response_

[2022-03-09 12:37] puzpuzpuz commented on #1939
Loosely related with #1705. That's because add index statement has to invalidate all cached queries (ideally only for the affected table, but invalidating all of them may be acceptable).

[2022-03-09 14:31] warnesey333 commented on #1936
Just to add onto this - running QuestDB on ZFS (2 XFS drives) works fine

[2022-03-10 11:48] #1930 closed

[2022-03-10 12:05] puzpuzpuz opened #1942 "Avoid full scan in LATEST ON"
### Is your feature request related to a problem?

[code]
on the demo box takes around 2.7-3 seconds to execute. That's because it boils down to a full scan done in `LatestByAllRecordCursor`:
https://github.com/questdb/questdb/blob/c506f7fab3b58dee8c0bd31de31c671f5db6ca12/core/src/main/java/io/questdb/griffin/engine/table/LatestByAllRecordCursor.java#L52-L66

### Describe the solution you'd like.

[2022-03-10 15:00] ideoma opened #1944 "Error: Could not publish writer ALTER TABLE task"
### Describe the bug

When table is constantly written to, ALTER TABLE SQL start to fail after few attempts (32 by default)

### To reproduce

1. Run ILP to constantly write table A
2. Run
```alter table A set PARAM commitLag = 1s```
32 time or more

### Expected Behavior

ALTER TABLE should not fail

### Environment

[code]

### Additional context

When number of alter table exceeds queue capacit

[2022-03-11 00:01] #1904 closed

[2022-03-11 04:40] bugfoot commented on #1517
I can also confirm that disabling `gssencmode` and `sslmode` works on Windows. Thanks @ideoma!

I'm happy to update the documentation. Should I create a spearate issue for that?

[2022-03-11 15:08] promanenko commented on #1228
any updates on the columnar compression?

[2022-03-13 08:39] HeZean commented on #1900
Hi, if this feature is considered necessary, I'd like to work on it 😄

[2022-03-13 13:12] eugenels commented on #1900
implementation of this feature is in progress

[2022-03-13 13:20] #1517 closed

[2022-03-13 14:04] bugfoot commented on #1416
@puzpuzpuz I started QuestDB `questdb.exe start` but the log directory is still not created under _C:\Windows\System32\qdbroot_.

[2022-03-13 14:15] zhangliyuSustech commented on #1910
I‘d like to work on it and my teammate finds something interesting. When I change  the second int to double, it will change into this
`column type mismatch [index=0, A=STRING, B=DOUBLE]`
This may help us to understand where is the bug

[2022-03-13 17:03] puzpuzpuz commented on #1910
Hi @zhangliyuSustech

AFAIK @bziobrowski is working on this issue. If you'd like to contribute, I suggest picking up one of the good first start issues: https://github.com/questdb/questdb/issues?q=is%3Aopen+is%3Aissue+label%3A%22Good+first+issue%22

[2022-03-13 20:10] XinyiQiao commented on #1701
What's the status of this issue? I'd like to work on this if it's still open. Thanks!

[2022-03-14 02:50] zhangliyuSustech commented on #1910
I‘m sorry that I'm not familiar with Github issues for the first time. If you still have some problems about this issue, I 'd like to talk about the solution with developers.

[2022-03-14 06:34] puzpuzpuz commented on #1701
Hi @XinyiQiao,

I don't think someone is working on this issue at the moment, so would be great if you picked it. Please check the comments on #1730 for some hints.

[2022-03-14 06:56] puzpuzpuz commented on #1416
Hi @bugfoot,

Did you try specifying the root dir when starting the database? E.g.:
[code]

[2022-03-14 07:56] balexus opened #1946 "atomicity does't work as expected"
### Describe the bug

i try to import CSV file using REST API /imp command. I send argument **atomicity**=0
but it ignores it and work as default i.e. **atomicity**=2
To see it i add "error" values to imported file expecting that questdb returns error and ignore whole file
but it works same as **atomicity**=2

### To reproduce

1) I have created table

CREATE TABLE "tblNewPricesData" (
    "Symbol

[2022-03-14 09:46] Rockstar907 commented on #1594
Block json color pattern.

[2022-03-14 09:49] bziobrowski commented on #1910
@puzpuzpuz  is right as I'm working on the issue . Issue is  much bigger and complex than it seems so it's not a good one to start working on qdb codebase .

[2022-03-14 09:56] fmoessbauer commented on #1944
We are running into this issue as well, when doing data retention. This becomes critical on systems where you cannot pause data ingestion but have to drop old data at some point in time.
On a system with a high data ingestion rate we where not able to retent data at all (while ingesting).

Sample query: `ALTER TABLE table_a DROP PARTITION WHERE timestamp <  dateadd('h', 36, now());`

[2022-03-14 12:00] snenkov opened #1948 "Ability to hide table"
### Is your feature request related to a problem?

My problem is that I see some tables which I don't need to see in the UI as a user.
Examples being:
![image](https://user-images.githubusercontent.com/13110986/158167624-3c15574b-e653-415d-b3e9-930dc08cfc9c.png)

### Describe the solution you'd like.

It would be nice if it's possible to hide table.
For example if a table name starts with `_` then

[2022-03-14 12:00] #1876 closed

[2022-03-14 12:05] snenkov commented on #1948
Like I mentioned in the proposal, I believe it would be nice to be more abstract than this.
I.e. the users themselves can define `_` (hidden or system) tables and then you can have the option in the Settings tab.
We may be talking about the same thing, but I am just clarifying in case.

[2022-03-14 12:06] insmac commented on #1948
Does this use case also involve things like filtering out these tables from, say, SQL editor autocomplete?

[2022-03-14 12:25] bluestreak01 commented on #1948
We can filter this out via SQL and configuration. @insmac could you remind me what SQL or view does web console use to return tables ?

[2022-03-14 12:26] HeZean commented on #359
Yep, returning `400` is more reasonable and helps user to clearly find out something wrong happened.

For existing users, they may ignore this "feature?", but new users may find it easier to check the exceptions from the returning value.

If it's needed, I'd like to work on it 😄

[2022-03-14 12:26] insmac commented on #1948
it's `tables()` 🙂

[2022-03-14 20:02] XinyiQiao commented on #1701
Great, I'm on it

[2022-03-15 05:44] bugfoot commented on #1416
@puzpuzpuz Yes, even with the (default Windows) root directory specified:
`questdb.exe start -d "C:\Windows\System32\qdbroot"`
and some `CREATE TABLE`, `INSERT` and `SELECT` operations performed there is no _log_ folder in sight under _qdbroot_.

[2022-03-15 15:02] amunra opened #1953 "Fix escaping of special characters in JSON response from /exec?query=..."
### Describe the bug

The JSON response sent back over HTTP doesn't encode certain characters correctly.

For example, if a value in a string column contains the char `\1` the byte value is copied verbatim in the response, breaking the client:

[code]

Instead, we should escape such chars as per the `escape` section of the [json website](https://www.json.org/json-en.html) and more in detail in the

[2022-03-15 15:25] amunra commented on #1953
This was discovered during system testing of the C/C++ ILP client library.

Specifically, the `c-questdb-client` repo's `./system_test/test.py` script's `def test_funky_chars(self):` testcase should be updated to include again the following section:

[code]

[2022-03-16 07:12] VansirCQ opened #1954 "Why can't the sampling function be based on microseconds? Currently, it can only be based on milliseconds"
### Is your feature request related to a problem?

_No response_

### Describe the solution you'd like.

_No response_

### Describe alternatives you've considered.

_No response_

### Additional context.

_No response_

[2022-03-16 08:16] postol opened #1955 "Add callback to embedded version that new partition for given table was created"
### Is your feature request related to a problem?

Use case: because we are storing large amount of data that won't fit on disk we need to move data continuously to cold storage. The process we have in mind would be - whenever new partition is created we know that we can gzip and move all older partitions to cold storage and then drop the partition via SQL command. We can implement this via watchi

[2022-03-16 12:52] #1948 closed

[2022-03-17 06:42] sebfia commented on #1938
Similar problem here - had to switch back to 6.2

[2022-03-17 07:16] puzpuzpuz commented on #1938
ILP transactions are implicit, so it may take some time for your rows to be committed. This documentation page explains commit strategies in a good level of detail:
https://questdb.io/docs/reference/api/ilp/tcp-receiver#commit-strategy

If you're only inserting a single row, either idle table timeout or interval-based commit should kick in. The first one should happen after `line.tcp.min.idle.ms.b

[2022-03-17 07:17] puzpuzpuz commented on #1938
@sebfia please the above comment. You should use the latest version (6.2.1) since it contains a number of bugfixes and optimizations.

[2022-03-17 11:38] vaisov commented on #1525
how soon asap looks like? It's middle of March now :)

[2022-03-17 13:30] bziobrowski commented on #1416
When running as :
- regular process, stdout is redirected to log/stdout-$date dir .
- service - stdout is discarded .

Since questdb.exe doesn't allow passing aribtrary CLI params (e.g. -Dout=log.conf) to java the only way to enable logging on windows is to set the following system parameters :
[code]
and (re)start service .
If you use non-absolute path for QDB_LOG_W_FILE_LOCATION then log file is

[2022-03-17 15:29] snenkov opened #1958 "Copy Schema to Clipboard does not work on Safari"
### Describe the bug

Copy Schema to Clipboard does not work on Safari

### To reproduce

Go to Sfari browser and try to copy the schema.

### Expected Behavior

It should work

### Environment

[code]

### Additional context

_No response_

[2022-03-17 20:17] #1958 closed

[2022-03-17 20:46] #1910 closed

[2022-03-18 09:20] #1955 closed

[2022-03-18 12:09] ideoma opened #1964 "Web Console: put cursor in the error position when run is applied to selection only"
### Is your feature request related to a problem?

I usually have many queries in the query editor in Web Console and I run them by selecting text and running selected text only.

Selected query text executed as expected but if it has a syntax error Web Console does not help to find it.

### Describe the solution you'd like.

When selected part of query executed and it has syntax error, remove sel

[2022-03-18 12:13] ideoma commented on #1954
Please give an example

[2022-03-18 12:15] insmac commented on #1964
@ideoma To clarify, if you only place the cursor within the desired query and hit execute instead of selecting, does highlighting work as expected?

[2022-03-18 12:17] ideoma commented on #1946
This looks like defaults of `maxUncommittedRows` and `commitLag` takes over `atomicity` setting. For a workaround, specify those 2 very high, e.g. set `maxUncommittedRows` to be greater than number of records uploaded

[2022-03-18 17:28] bluestreak01 commented on #1954
not enough information, please reopen with more details

[2022-03-18 17:28] #1954 closed

[2022-03-18 20:17] puzpuzpuz opened #1966 "Port overflow-protected avg() implementation to SIMD"
#1732 removed SIMD-based implementations of avg() since they were problematic in both sum overflow and the end result aggregation (they were returning a single double value for every partition which led to incorrectly calculated end average value). Those C++ functions with scalar implementations.

We should try to implement vectorized versions of these functions and measure their performance. The

[2022-03-19 23:14] snenkov opened #1968 "UI does not have a side scroll on an empty table"
### Describe the bug

If you create an empty table with more columns than your screen can see, then the UI does not present a side-scroll.
If you populate this table, the side scroll appears.

### To reproduce

Create an empty table with many columns and try to see the columns not directly visible.

### Expected Behavior

The side-scroll should be there on an empty table.

### Environment

[code]

[2022-03-21 03:32] zhangliyuSustech commented on #1749
I‘m confused that this issue whether has been fixed? It's still open but is similar to 1764

[2022-03-21 07:49] marregui commented on #1701
hi @XinyiQiao how are you?
I am working on #1967 , I was tempted to fix this issue on non nullable types in there by always returning:
- true: for `col IS NOT NULL` when col's type is [char, byte, bool]
- false: for `col IS NULL` when col's type is [char, byte, bool]
then I saw your comment, are you working on it? if so thank you for contributing!!, do you need any help?

[2022-03-21 11:29] glasstiger commented on #1902
has been fixed in #1928

[2022-03-21 11:29] #1902 closed

[2022-03-21 11:31] insmac commented on #1968
@snenkov Could you provide a screen recording of the before mentioned issue?

[2022-03-21 11:34] insmac commented on #1936
@warnesey333

We have a PR in flight, #1963, that will make this issue go away, however it won't fix the underlying issue of compatibility. You'll be able to use the Web Console though.

[2022-03-21 12:49] zhangliyuSustech commented on #1679
What's the status of this issue? I'd like to work on it!

[2022-03-21 12:51] puzpuzpuz commented on #1679
@zhangliyuSustech I don't someone is working on this one, so your contribution is highly welcome. 👍

[2022-03-21 14:34] bziobrowski opened #1970 "Group by validation"
### Describe the bug

1. Group by clause is ignored unless aggregate function is used in select clause .

[code]

returns
1 a
1 a
2 b

but should produce
1 a
2 b

2. When group by is used with aggregate function on key columns it's not possible to specify expressions based on key column(s)

[code]

returns  "not enough columns in group by" error

3. Group by column validation doesn't always work

[2022-03-21 18:33] kaon commented on #1938
@puzpuzpuz thanks for your sharing. It may be a bad practice, what can we do if we wanna store such time in formatted string?

From https://questdb.io/docs/reference/api/ilp/overview,

QDB should be able to put the data to default column type instead of discarding them in silence.

[2022-03-21 20:04] XinyiQiao commented on #1701
Hi @marregui Yes I'm working on it and will fix it following your logic above. I will reach out if anything comes up. Please let me know if there's any timeline I need to be aware of. Thank you!

[2022-03-21 22:08] snenkov opened #1972 "Improve and expand error messages"
### Is your feature request related to a problem?

When using the UI, the error message seem super short.
This is nice at first since it keeps the design clean, I keep finding myself unaware of what to do after reading the error message. I need more information in order to act.

### Describe the solution you'd like.

I believe it would be nice to have a onion-like approach to error messages - i.e.

[2022-03-22 06:11] puzpuzpuz commented on #1938
The thing is that your timestamps will be stored as epoch timestamps in any case. It's only a matter of an intermediate representation. It should be straightforward to convert your timestamp/date objects in the client application to an epoch timestamp instead of a formatted string. If you still think that having support for formatted timestamp string, please open a new issue for that enhancement.

[2022-03-22 10:27] zhangliyuSustech commented on #1679
I have scheduled this issue, I will try my best to fix it in three weeks.

[2022-03-22 13:08] marregui commented on #1701
Hi @XinyiQiao , that is fantastic!! Thank you again.

My own goal is to merge my branch today/tomorrow. There is no real timeline except, the sooner it gets merged, the earlier it gets out in a release, and the quicker you get it into a production environment. I find it thrilling.

[2022-03-22 17:54] amunra opened #1974 "Port 0 configuration for easier ephemeral instance testing."
### Is your feature request related to a problem?

During testing it's possible to configure the server to bind to TCP port 0 for its various listening ports (i.e. the ANY port),
but the resolved port is not logged or otherwise made available through other means.

Supporting port 0 properly would allow for more resilient system testing.

### Describe the solution you'd like.

The logs should conta

[2022-03-22 17:59] amunra opened #1975 "Validate `server.conf`"
### Describe the bug

Currently keys written to `server.conf` go undetected.

This means that not only typos go undetected, but lack of validation is a risk during version migration as settings that used to apply in a previous version have no effect in a newer one without warning -- even if new settings are supposed to be used.

### To reproduce

* Create a key with a typo.
* Watch the QuestDB ins

[2022-03-22 18:53] #1926 closed

[2022-03-22 18:53] #1416 closed

[2022-03-23 12:08] puzpuzpuz opened #1976 "Unsupported type error when using a SAMPLE BY sub-query"
### Describe the bug

[code]

The following query
[code]
returns `Unsupported type: TIMESTAMP` error.

The same query, but without the SAMPLE BY clause works as expected.

### To reproduce

_No response_

### Expected Behavior

_No response_

### Environment

[code]

### Additional context

_No response_

[2022-03-23 12:08] puzpuzpuz commented on #1976
Reported by @snenkov

[2022-03-23 14:03] puzpuzpuz commented on #1976
Did a quick investigation of the issue. The problem seems to be related with the `fill()` list. The query engine eliminates the unused aggregate function (`sum(value_traded)`), but does not consider that when matching functions with the corresponding `fill()` values. So, `max(last_trade_timestamp)` gets matched with `0` value instead of `prev`. The following query doesn't lead to eliminated functi

[2022-03-23 14:27] #1889 closed

[2022-03-24 09:52] bziobrowski opened #1980 "Improve bind variable type handling"
### Describe the bug

QDB sql compiler doesn't use pg-wire bind variable types passed in BIND phase and uses defaults sometimes leading to bind errors when guess is wrong (DOUBLE is the default) .

### To reproduce

Run the following code with pg JDBC  driver :

[code]

and observer that server returns
PSQLException with _"could not parse [value='abc', as=DOUBLE, index=0_]"

### Expected Behavior

[2022-03-24 14:56] amunra commented on #1385
Implemented: https://github.com/questdb/c-questdb-client

[2022-03-24 14:56] #1385 closed

[2022-03-24 16:03] bluestreak01 opened #1981 "silent message loss over ILP ?"
### Describe the bug

Customer is confident that they send data as usual, but there is discrepancy between what is in the database vs what they think they sent. There is no way in present to reconcile where data was lost or why. No errors are reported in the database and record counts is non-zero, just less that expected.

We need a way to record number of events we receive per connection and perh

[2022-03-24 16:54] GothamsJoker commented on #1975
Good afternoon,

I would like to look into this issue if it is open to contributors. I looked into the server.conf but I do not see where the keys are being written to. Can you point me in the correct direction and or suggest the correct place to start?

Thank you!

[2022-03-24 17:09] GothamsJoker commented on #1953
Good afternoon,

I would like to look into this issue. Can you point me in the correct direction as to where this should be worked on? I am unsure of the correct file location. Any further information is greatly appreciated!

[2022-03-24 21:13] AbdelouahabKhelifati commented on #1809
I think it's an important aggregation too. Could we add it please?

[2022-03-25 07:23] VansirCQ opened #1984 "Why can't the sampling function be based on microseconds? Currently, it can only be based on milliseconds"
### Is your feature request related to a problem?

![image](https://user-images.githubusercontent.com/37134815/160073726-1b54a396-2077-4e64-80ea-57ef6a022981.png)
here is details, in griffin\engine\groupby\TimestampSamplerFactory.java

### Describe the solution you'd like.

The sampling dimension provided by questDB is at least 'T', which means milliseconds, but the scene on my side is microsecond

[2022-03-25 09:53] snenkov opened #1986 "FILL does not yield an error when aggregation are less than fill inputs."
### Describe the bug

I just noticed that if I use `SAMPLE BY` and I do aggregation over one column then I also use `FILL(0, PREV)` (as if I am front filling as if I did aggregations over two columns) - it still works.
I would think this should give an error.

### To reproduce

_No response_

### Expected Behavior

I expect this to yield an error.

### Environment

[code]

### Additional context

[2022-03-25 12:12] amunra commented on #1975
Thanks for volunteering to help out!
I can walk you through this over Zoom if you like (contact me on https://slack.questdb.io/ - My name is "Adam Cimarosti").

In the meantime, here are some pointers:
* Track which properties exist used in `core/src/main/java/io/questdb/PropServerConfiguration.java` into a `HashSet known`.
* Then `bad_names = new HashSet(properties.keys()); bad_names.remove_all(k

[2022-03-25 12:16] amunra commented on #1953
Thanks for volunteering to help out!
I can walk you through this over Zoom if you like (contact me on https://slack.questdb.io/ - My name is "Adam Cimarosti").

In the meantime, here are some pointers:
* The method that needs tweaking is `escapeSpace` in `core/src/main/java/io/questdb/cutlass/http/HttpResponseSink.java`.
* Tests should be somewhere in `core\src\test\java\io\questdb\cutlass\http\IO

[2022-03-28 06:31] rahilbhansali commented on #1450
any update or timeframe on when there maybe support for sqlalchemy?

[2022-03-28 12:56] marregui commented on #1359
Hi @null-dev

I have just tested in master, and this code passes (not part of the codebase, but will commit it if you would like me to):

[code]

Things to note:
- We can select a `java.sql.Timestamp` from QuestDB and simply insert it as-is.
- We can spell out a `java.sql.Timestamp` with microsecond precision by setting the nanos appropriately.

[code]
Thank you for the report!!. I personally feel

[2022-03-28 19:36] #1900 closed

[2022-03-28 20:22] GothamsJoker commented on #1975
Thank you for helping me get started! I am working on setting this up.

Are we testing if the the properties key is valid as in potential typos in the server.conf or typos created in PropServerConfiguration? For instance one being "shared.worker.yield.threshold" in server.conf should match "this.sharedWorkerYieldThreshold = getLong(properties, env, "shared.worker.yield.threshold", 100);" in PropSe

[2022-03-28 22:45] m2b opened #1991 "Time weighed averages"
### Is your feature request related to a problem?

Data from IoT sources is not always at a equal interval.  The standard SQL avg assumes the avg=sum(values)/count(values).  If the time between samples differs this is not desired.  The are many use cases in industry.  This can be handled with hyperfunctions in SQL databases.  See https://www.timescale.com/blog/what-time-weighted-averages-are-and-w

[2022-03-29 05:41] null-dev commented on #1359
Unfortunately, the issue is still present, I modified two lines in your test: https://gist.github.com/null-dev/0662d7c6fc322542adca7891234691bd/revisions and it no longer passes.

Also, observe how the following test doesn't pass either:

[code]

[2022-03-29 07:44] amunra commented on #1975
We care about typos in the server configuration.

[2022-03-29 12:58] marregui commented on #1359
I see!, indeed, I am having a look at this, will keep you updated, thank you for spotting it!!!!!!!

[2022-03-29 18:50] marregui commented on #1359
it is a bug, I will attempt to get it fixed/merged this week.

[2022-03-30 14:16] marregui commented on #1359
hola, I have created a PR with convoluted tests, as I need it to get a better understanding of whether this is indeed a bug, or an artefact of the fact that we use java.sql.Timestamp, which works on millisecond precision and then it internally handles up to nanos precision with setNanos, while QuestDB understands microsecond precision :)

[2022-03-31 07:36] marregui opened #1996 "Copy Schema to Clipboard in web console to format the DDL so that it is indented"
### Is your feature request related to a problem?

In the web console you can copy the schema of tables to the clipboard, and then paste it to the web console itself, or wherever you need. Here is an example of the content of the clipboard when you perform the deed on the `trips` table in `https://demo.questdb.io/`:

[code]

one liner 785 characters long.

My first reaction to this is to format th

[2022-03-31 20:48] jerrinot commented on #1818
hello @Yitaek, while working on this function we realized there is a potential issue with timezones.

QuestDB does not store timezones, timestamps are always internally represented as milliseconds from the epoch. This may or may not be a problem depending on your schema and the type of query the Google Data Studio runs.

May I ask you how do you ingest data into QuestDB? Are you using Postgres pro

[2022-03-31 21:24] Yitaek commented on #1818
Hi @jerrinot , I ran into this while working on this tutorial: https://blog.devgenius.io/exploring-crypto-prices-with-questdb-and-google-data-studio-cb3ddced0308

I was using the CSV upload function via console. I don't think dataset has timezone specified, so just assumed UTC (in `2020-04-11 23:59:59` format)

[2022-03-31 21:34] jerrinot commented on #1818
That's very useful, thank you!

[2022-04-01 00:42] VansirCQ commented on #1984
is there any owner can resolve this question :)

[2022-04-02 01:17] huanghe-1 commented on #1890
ok now ,It 's  my environment config proplem。

[2022-04-02 01:17] #1890 closed

[2022-04-04 12:04] jerrinot opened #2001 "No such file or directory when installed from brew"
### Describe the bug

Installed QuestDB on a rather fresh MacOS (running on ARM64) via brew and I'm getting an error when starting it.
Installation:
[code]
I didn't want to run QuestDB as a service hence I did what brew told me to do: `questdb start`. However I got this error:
[code]

I'm a total MacOS noob, but I guess the brew package is running on behalf of a non-priviledged user who cannot wri

[2022-04-04 12:30] jerrinot commented on #2001
This is likely the culprit: https://github.com/questdb/questdb/blob/c16b1e0a2654b266329e99ea8e6c7a0ee4f1bc04/core/src/main/bin/questdb.sh#L34

It's assuming the default installation path is `/usr/local/var/questdb`, but when installed via brew on ARM then the path is different: `/opt/homebrew/opt/questdb`. The when QuestDB is starting it tried to create a bunch of subdirectories in a non-existing

[2022-04-04 12:36] jerrinot commented on #2001
Just a note to avoid forgetting: Once this is fixed we should update [documentation](https://questdb.io/docs/get-started/homebrew#install-questdb) too - it's referring to the brew installation path:
<img width="879" alt="image" src="https://user-images.githubusercontent.com/158619/161544809-658adbc6-f78f-49f0-895f-96ef0b315f4c.png">

[2022-04-04 12:50] bziobrowski opened #2002 "Sql with Group by hour(ts) ignores where clause"
### Describe the bug

Grouping by hour(designated timestamp) ends up ignoring where clause due to bug in hour expression optimization .
Problem lies with SqlCodeGenerator:2200 and :2209 .
Where clause are removed from the model when filter factory is generated so when pageFramingSupported=false then factory is cleared and created again, but this time there's no where in model .

SQL to reproduce (

[2022-04-04 13:00] #1996 closed

[2022-04-04 13:17] amunra opened #2004 "REST API /exp CSV escaping incompatible with MS Excel"
### Describe the bug

If string/symbol columns tabs or new-line characters these are escaped in a manner that is similar to JSON escaping.

Today:

[code]

Our current escaping isn't compatible with MS Excel.

What we want:

For point of comparison, we should do whatever the `csv` module in Python's standard library does as it mirrors Excel closely from a compatibility point of view.

[code]

We c

[2022-04-04 13:27] mariusgheorghies opened #2005 "Put PGwire in read-only mode"
### Describe the solution you'd like.

QuestDB does not have RBAC yet and I would like to expose pgwire in read-only mode without putting the whole db in read-only. (I still want to be able to ingest via ILP)

[2022-04-04 13:53] bziobrowski opened #2006 "Timestamp interval expression miscalculation"
### Describe the bug

Qdb seems to ignore some parts of timestamp expressions in where clause if values are both literals and function call results .

[code]

Query should return two nulls (as of 2022-03-25T13:49:40.950084Z ) but returns
min                         max
**2022-03-23T10:00:00.000000Z 2022-03-31T10:00:00.000000Z**

Compare to :

[code]
That returns  two nulls .

### To reproduce

_No

[2022-04-04 22:27] shimondoodkin opened #2007 "variable sampling offsets for columns"
### Is your feature request related to a problem?

how to offset a single column in a query?
probably possible to make two quires with joins

how to prepere data for machine learning

### Describe the solution you'd like.

make sql syntax something like
select a,b,c OFFSET BY -5 SAMPLES as target1, d OFFSET BY -10 SAMPLES FILL NULL  as target2 from table

### Describe alternatives you've considere

[2022-04-05 09:43] argshook commented on #2004
I'm here just to leave these links:

* [RFC4180 by IETF](https://datatracker.ietf.org/doc/html/rfc4180#section-2) definition of CSV format
* [csv-spec.org](https://csv-spec.org)

if anything, QuestDB should probably follow some spec, instead of accomodating specific implementation of MS Excel or similar.

[2022-04-05 15:58] amunra opened #2009 "Web console SQL editor window does not render correctly on Mac/Firefox - likely font issue"
### Describe the bug

The web console renders some odd characters on MacOS/Firefox; not rendered in Safari, renderered as a box on Chrome.

These glitches appear when hovering over lines that can be collapsed or expanded.

See lines 3 and 6 in the attached screenshot:

![web-console-rendering-issue](https://user-images.githubusercontent.com/1499096/161795964-ec10cd66-e68f-4db7-be6f-5f49872500e0.pn

[2022-04-05 16:19] #2009 closed

[2022-04-05 16:19] amunra commented on #2009
Issue was already fixed in 6.2.1.

[2022-04-05 17:50] shimondoodkin commented on #2007
Another related problem of preparing data for machine-learning is to chop a series into columns and make the columns relative in some way
like from:

1
2
3
4
5

into:
maybe first prepare

relate  instance[1..3], target
null,   1, 2, 3,   4
1        2, 3, 4,   5
2        3, 4, 5,   null

with command like - make some operation over all columns here it is division

select instances[...]/relative ite

[2022-04-05 17:59] shimondoodkin commented on #2007
Another related problem of preparing data for machine-learning is to chop a series into columns and make the columns relative in some way
like from:

1
2
3
4
5

into:
maybe first prepare

relate  instance[1..3], target
null,   1, 2, 3,   4
1        2, 3, 4,   5
2        3, 4, 5,   null

with command like - make some operation over all columns here it is division

select instances[...]/relative ite

[2022-04-06 11:16] jerrinot opened #2011 "UX: Consider printing port numbers when starting"
### Is your feature request related to a problem?

As a new user I'm starting questdb (installed via `brew`) and all I see is this:
[code]
 I need to guess/search documentation/remember on what port(s) is qdb listening.

### Describe the solution you'd like.

It would be nice if questdb printed ports where it listens to. that would make the life of new users simpler.

### Describe alternatives you

[2022-04-06 11:18] bluestreak01 commented on #2011
Port numbers are printed into log file. Perhaps we can print URL on a documentation page ?

[2022-04-06 11:22] jerrinot commented on #2011
That could work too.

As a user I like when servers print their own URL/ports.
Something like:
[code]
As a user, I find it very convenient. But it can get chatty easily and there is this issue with containers where it can be straight misleading. And adding caveats means more noise. So perhaps a link to docu "Getting Started" is a good compromise.

[2022-04-06 12:54] argshook opened #2012 "fails to execute query that ends with `ALIGN TO CALENDAR`"
### Describe the bug

A query like this, ending with `ALIGN TO CALENDAR;` fails with `'time zone' or 'with offset' expected`

[code]

However, the same query but without a semicolon at the end runs fine:

[code]

(notice no `;` at the end)

It seems that this behaviour is due to a fallback which is used when
`ALIGN TO CALENDAR` does not specify neither `WITH OFFSET` nor `TIME ZONE`:

https://githu

[2022-04-06 14:41] #1942 closed

[2022-04-06 15:38] #2012 closed

[2022-04-06 18:14] jfcalvo opened #2015 "Invalid column error using table_name.column in query"
### Describe the bug

I get an unexpected `invalid column: table_a.cache_key` error executing the following query:

[code]

`cache_key` column only exists on `table_a`.

It only works if instead of using `table_a.cache_key` we changed it to `cache_key` inside the `COUNT_DISTINCT`:

[code]

With this change the query works as expected.

I have been discussing this issue with @bziobrowski on Slack a

[2022-04-07 02:33] VansirCQ commented on #1984
@fuzzthink @laa @mpolden @marregui

[2022-04-07 08:16] jerrinot commented on #2011
I just realized just printing the path to logfile might be the best. the logfile already contains the port numbers. and it's useful in other cases too.

[2022-04-07 09:19] shimondoodkin commented on #1371
probably the solution is kind of sorted rolling window.

my algorithm for general rolling window was:
is a calculation window as sorted array. and a history queue of items in the window.

items removed from history queue removed from window
items added to window also added to history queue

then
for percentile there is sampling of the window

[2022-04-07 12:14] jerrinot commented on #2005
a self-note: this looks like an interesting place: https://github.com/questdb/questdb/blob/2fcf366fe8cc29da8a08ad4f4cea36d563703c7b/core/src/main/java/io/questdb/cutlass/pgwire/PGBasicAuthenticator.java#L60

[2022-04-07 14:49] ideoma opened #2016 "Assertion error in FunctionParser"
### Describe the bug

[code]

### Additional context

_No response_

[2022-04-07 15:08] ideoma commented on #2016
More log in https://questdb.slab.com/posts/telemetry-error-log-g1kcnaat

[2022-04-07 21:00] sadaiyandi-exalens opened #2019 "Very frequent random crash"
### Describe the bug

We are seeing the very frequent crash. there is no particular sequence or with certain data. the crash is really random.

 A fatal error has been detected by the Java Runtime Environment:
 SIGSEGV (0xb) at pc=0x00007f88f8bfd930, pid=548526, tid=548553
JRE version: OpenJDK Runtime Environment AdoptOpenJDK (11.0.9.1+1) (build 11.0.9.1+1)
Java VM: OpenJDK 64-Bit Server VM AdoptO

[2022-04-07 22:26] ideoma commented on #2019
Would be good if you try 6.2.1, few bugs were fixed there.
Also would be good if you can post `hs_err_pidXXXX.log` file of the crash, it's created in the working directory of the process.

[2022-04-07 22:34] sadaiyandi-exalens commented on #2019
sure. I will try it in 6.2.1
[hs_err_pid563208.log](https://github.com/questdb/questdb/files/8447211/hs_err_pid563208.log)
[hs_err_pid559837.log](https://github.com/questdb/questdb/files/8447212/hs_err_pid559837.log)
[hs_err_pid558993.log](https://github.com/questdb/questdb/files/8447213/hs_err_pid558993.log)

[2022-04-07 22:52] sadaiyandi-exalens commented on #2019
@ideoma I don't see the crash in 6.2.1. I will update here if I see it in further testing. Thank you so much for your support

[2022-04-08 08:01] bziobrowski commented on #2016
Already fixed in https://github.com/questdb/questdb/pull/1997 .

[2022-04-08 08:01] #2016 closed

[2022-04-08 11:27] bziobrowski commented on #1683
I think it was due to overly high value set for cairo.sql.map.key.capacity that ended up allocating a lot of memory that was then held via cache and sometimes even caused OOM.
Query takes about 100ms on demo now vs 6 ms on local .

[2022-04-08 11:30] #1683 closed

[2022-04-08 14:23] #2006 closed

[2022-04-11 07:40] zhangliyuSustech commented on #1679
I think this issue is beyond my ability, but I will continuously pay attention to it and discuss with my classmates for solution.

[2022-04-11 07:58] bziobrowski commented on #1679
No problem. Thanks for letting us now .

[2022-04-11 10:12] marregui commented on #1984
hi @VansirCQ the solution is correct, minus the comment (should be micros). You could push a PR with this modification. For tests, possibly:

- SampleBySqlParserTest : extend tests to cover the new case (would be nice to cover all cases).
- TimestampSamplerFactoryTest : as above :)
- SampleByTest : Possibly a test to exemplify use of micro sampling, with your specific use case to validate it.

wil

[2022-04-11 16:37] amunra opened #2025 "Add params to REST to fix SQL injection"
### Is your feature request related to a problem?

We've seen code like this in one of the tutorials:

[code]

String interpolation in the query exposes the customer (and database) to SQL injection.

### Describe the solution you'd like.

We should provide an additional way to support this via, for example, a `params` query parameter list and avoid this issue:

[code]

I.e. this would expand to, f

[2022-04-11 16:57] puzpuzpuz commented on #2025
I agree that this would be a nice addition. On the other hand, PG Wire should be considered a secure alternative to be used in user applications. HTTP API is only good for scripts and local interaction.

[2022-04-12 06:36] puzpuzpuz commented on #1042
Note: 6.2.1 added `line.tcp.disconnect.on.error` config option to forcefully close ILP TCP connection on any error.

[2022-04-12 07:43] Luyang2902 opened #2026 "6.2.1 version have problem accessed from postgres and odbc"
### Describe the bug

![image](https://user-images.githubusercontent.com/98975457/162906915-f5ba9c03-2500-4e31-8ad7-b59e79c0ecf3.png)

the 6.2.0 version can access from postgres odbc ,but 6.2.1 can't

I can get records from odbc and "pass through"  in 6.2.0 version ,but failed in 6.2.1

### To reproduce

_No response_

### Expected Behavior

_No response_

### Environment

[code]

### Additional c

[2022-04-12 11:09] bluestreak01 commented on #2026
What version of PostgreSQL ODBC driver do you have ?

[2022-04-12 21:46] #2002 closed

[2022-04-13 10:07] puzpuzpuz commented on #1939
Are you sure that it's the case? I conducted some experiments and it seems to be that all queries that use the modified table should get recompiled because of a `ReaderOutOfDateException` exception thrown when obtaining a `TableReader`. The exception would be thrown since the table version has changed when compared to what's in the pooled reader. WDYT?

https://github.com/questdb/questdb/blob/919e

[2022-04-13 10:09] bluestreak01 commented on #1939
I’m not sure, I tried to capture users feedback in the description. Perhaps there are outliers from the rule? Does adding index always bump correct version?

[2022-04-13 12:09] #2005 closed

[2022-04-13 12:24] puzpuzpuz commented on #1939
Yes, it does and the bump is non-conditional: https://github.com/questdb/questdb/blob/ed76490b452a8ae6e2b045fe68a5d812611fcf05/core/src/main/java/io/questdb/cairo/TableWriter.java#L571

Is it possible that one of factories (or cursors) caches the `TableReader` and doesn't call `ReaderPool#get()` on `getCursor()` call? Seems very unlikely to me and I failed to find any such (broken) factories in th

[2022-04-13 17:20] #1818 closed

[2022-04-14 09:47] bziobrowski commented on #2019
@sadaiyandi-exalens  Did you experience a crash since switching to 6.2.1 ?

[2022-04-14 15:01] sadaiyandi-exalens commented on #2019
[stdout-2022-04-14T11-58-44.txt](https://github.com/questdb/questdb/files/8490219/stdout-2022-04-14T11-58-44.txt)

[2022-04-14 15:30] ideoma commented on #2019
Will it be possible to share code which leads to the crash?
If you could log into a file the data you send to via ILP before the crash that would also help to reproduce.

[2022-04-14 18:10] davetapley commented on #219
Triggers will also be required for #1077

[2022-04-14 22:19] Cobalt-27 commented on #297
Hi, I would like to work on this issue if it's not fixed yet.

[2022-04-15 14:06] Cobalt-27 commented on #297
The bug can be triggered with the following test case
`    @Test
    public void testDoubleConversion10Places() throws Exception{
        assertMemoryLeak(
                ()->{
                    compiler.compile("create table tab (val double)",sqlExecutionContext);
                    executeInsert("insert into tab values (111.1111111);");
                    TestUtils.printSql(

[2022-04-15 14:08] Cobalt-27 commented on #297
The bug can be triggered with the following test case
[code]
It seems that `Numbers.parseDouble()`, as it's mentioned, parses double incorrectly, it simply uses a loop to calculate its value. I  plan to write an IEEE754 converter to replace it.

[2022-04-15 20:59] #1705 closed

[2022-04-16 11:21] jerrinot commented on #297
@Cobalt-27 If you are not afraid of math then [this (PDF) paper](https://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.45.4152&rep=rep1&type=pdf) looks like a decent start. It's not simple at all, but it could be fun to code it from scratch.

I looked at Apache Harmony and they use a native parser. Kotlin folks [borrowed the same code](https://github.com/JetBrains/kotlin-native/blob/d1bd91e5b3

[2022-04-16 14:27] Cobalt-27 commented on #297
Thank you for your advice, I would give it a try.

[2022-04-16 14:32] MatthewLENG2002 commented on #1452
Hello, I'm interested in this issue, could you assign this to me?

[2022-04-16 14:45] puzpuzpuz commented on #1452
@MatthewLENG2002 sure thing. Look forward to your contribution. Thanks!

[2022-04-16 15:14] fabiomilheiro opened #2034 "Available in Azure?"
### Describe the solution you'd like.

Can we make QuestDB available in Azure please?

### Describe alternatives you've considered.

Creating a new GCP or AWS account creates a bureaucratic hassle I'd prefer to avoid. I'm trying to keep everything in Azure.

### Additional context.

If you have already considered this, do you have an ETA please?

[2022-04-17 17:04] pivovarit commented on #2001
Even better: create a periodic job that would ensure that such a basic operation succeeds (GitHub Actions is free for public projects, wink wink)

[2022-04-17 19:08] jerrinot commented on #2001
good idea!

FYI: the brew formula is [fixed](https://github.com/Homebrew/homebrew-core/pull/98593), this issue is left open as a reminder to update the documentation. And you just reminded it to me, thanks for that!

[2022-04-17 20:19] sadaiyandi-exalens commented on #2019
@ideoma please find the https://github.com/sadaiyandi-exalens/testdataset/blob/main/DS1-TB11-R79.tar.xz data, column name which has dot are replaced with an underscore.
@bluestreak01 as you suggested we created a table upfront still we are seeing the crash but it reduces the occurrence of the crash and also additionally it's created a new issue.

info: line_proto is a list of strings (ILP)

    se

[2022-04-17 21:25] bluestreak01 commented on #2019
The information you provided is very helpful, thank you! The "connection reset" is server disconnecting client in case of malformed ILP text. If you search the log for ` E `, e.g  <space>E<space> you should see type cast errors:

[code]

Please lets us have a sample ILP line you're producing, perhaps we can help you spot issues

[2022-04-18 07:59] Cobalt-27 commented on #297
#### The bug

In the current version, the command

[code]

returns

[code]

It's apparently bugged since double has precision up to 15 digits, and `111.1111111` is only 10 digits long

#### The fix

It can be fixed in a relatively simple way.

When converting a double`111.1111111`, `Numbers.parseDouble()` first turns it into an integer`1111111111`, then return `1111111111* 1E-7` as result.

`C#`[N

[2022-04-18 09:34] Cobalt-27 commented on #297
The difference between these two approaches can be observed by simply executing:
[code]
This works for other cases as well, the second manner becomes broken when handling a large integer.

[2022-04-18 09:35] jerrinot commented on #2034
hi @fabiomilheiro, thank you for opening this request. Can you please elaborate on what exactly you mean by "Making in Available in Azure"? Do you mean a marketplace? A ready-to-use disk image?

Depending on your deployment strategy you can use QuestDB on Azure right now: If you are using bare VM instances then you can [download the binaries](https://questdb.io/docs/get-started/binaries), you can

[2022-04-18 10:22] #1452 closed

[2022-04-18 13:35] Twilight-Shuxin commented on #1916
Hi, I'd like to volunteer for this issue. I guess the problem is occuring when indexes are used in the selection process.

[2022-04-18 15:48] Twilight-Shuxin commented on #1916
I guess I have found the problem. In this function below, before the added line the case of empty string is ignored. If this should be the correct way, I'll pull a request.
`public Function createBindVariable(SqlExecutionContext sqlExecutionContext, int position, CharSequence name) throws SqlException {
        this.sqlExecutionContext = sqlExecutionContext;
        if (name != null && name.length

[2022-04-18 20:19] jerrinot commented on #297
Hello @Cobalt-27, thank you for spending time on this!

You wrote: _[...] since double has precision up to 15 digits, and 111.1111111 is only 10 digits long_
Are you sure about this statement? Double gives you 52 fraction bits and some seemingly simple numbers won't fit into it. For example, try to convert the number 1.1 into binary. It won't fit. Thus some error is expected, the goal of the parse

[2022-04-18 23:03] Cobalt-27 commented on #297
Thanks, that's really helpful. I will spend some time working on this paper to make sure this practice is indeed correct.

As for the '15 decimal digits',  `111.11111109999999 ` may not be a wrong answer, thanks again for pointing out this mistake.

So instead of claiming that the fixed method can obtain a result with less error, it should be said that this method returns the one that can be print

[2022-04-19 03:29] Cobalt-27 commented on #297
Hello @jerrinot, I have read the pre-mentioned [(PDF) How to Read Floating Point Numbers Accurately (researchgate.net)](https://www.researchgate.net/publication/2295884_How_to_Read_Floating_Point_Numbers_Accurately), and I would like to explain why we should use `/1E7k` but not `*1E-k` when `k` is a positive integer.

#### what's wrong with Questdb's parse method?

The paper's author claims that f

[2022-04-19 03:30] Cobalt-27 commented on #297
That theory can't cover all cases for `f*10^e`, for instance: what if both `10^e` and `10^-e` are too large for double to be accurately represented.

The paper offers a "slow path" to handle these circumstances, while C# adopts a different slow path(https://arxiv.org/pdf/2101.11408.pdf), but they all share the same fast path.

[2022-04-19 03:38] Cobalt-27 commented on #297
In summary:
1. the majority of inputs can be handled by the "fast path": questdb's parseDouble() is a wrong implementation of the fast path whose outputs are not guaranteed to be the best approximation.
2. long inputs should be parsed using a "slow path" with higher precision: sadly current questdb has no such a method, it would use the fast path and obtain a sub-optimal result.

[2022-04-19 10:40] KevinChen16 commented on #1984
Hi, could I have the chance to finish the pull request with tests?

[2022-04-19 10:43] VansirCQ commented on #1984
you wanna try this logic?&nbsp; appreciate it!&nbsp; please test it and push thoese code

---Original---
From: ***@***.***&gt;
Date: Tue, Apr 19, 2022 18:41 PM
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: Re: [questdb/questdb] Why can't the sampling function be based onmicroseconds? Currently, it can only be based on milliseconds (Issue #1984)

Hi, could I have the chance to finis

[2022-04-19 11:53] newskooler commented on #297
FWIW it's not a bug only on CSV import I believe. I see in my data too (ILP stream) and was wondering what it is...
Very annoying - thanks for raising it and attempting to solve 🙏

[2022-04-19 12:17] sadaiyandi-exalens commented on #2019
@bluestreak01 thanks for the suggestion. We are able to fix most of the connection reset. still, we are seeing the connection reset issue. I couldn't make out the root cause of the issue from the log
[stdout-2022-04-18T09-15-00.txt](https://github.com/questdb/questdb/files/8512846/stdout-2022-04-18T09-15-00.txt)
[hs_err_pid3002.log](https://github.com/questdb/questdb/files/8512847/hs_err_pid3002.l

[2022-04-19 18:19] fabiomilheiro commented on #2034
Thanks, @jerrinot. Initially, I was just thinking of getting a something ready to deploy like the droplets in Digital Ocean or equivalent solutions but you are correct and I did just that yesterday, actually. Cheers!

[2022-04-19 18:19] #2034 closed

[2022-04-20 06:58] jerrinot commented on #297
@Cobalt-27: cool analysis, thanks for spending your energy on it, much appreciated!
Are you planning to send a Pull Request to fix the fast path?

[2022-04-20 07:03] Cobalt-27 commented on #297
Yes, I will send a pr later, also, thank you for giving me some helpful advice on this issue.

[2022-04-20 16:23] bluestreak01 commented on #2019
It does seem as if you still adding columns on the fly with ILP. If you grep for ` ADDED`  in the log, you should see that

[2022-04-20 18:26] KevinChen16 commented on #1984
Sure. But I would like to know how your scene uses microseconds as you described above so that I could write the test to exemplify its use. Could you please share the scene or its description with me? Thanks!

[2022-04-20 18:33] KevinChen16 commented on #1984
And @marregui I've read your requirements for tests, and could you please tell me whether the requirement to extend tests means writing brand new test cases only for microseconds or reusing the similar tests as existing cases just by changing the parameter of "sample by"? Thanks!

[2022-04-21 14:22] CutieDeng commented on #2015
I'm sorry because I cannot make your situation recurrent.

That's my attempt to reach it but fail.
<img width="1393" alt="Screen Shot 2022-04-21 at 22 21 13" src="https://user-images.githubusercontent.com/74101347/164478871-cb2bbe2e-b77d-4055-a92a-9e6255ebf007.png">

[2022-04-21 15:09] HeZean opened #2045 "DDL should be disabled via /exp"
### Describe the bug

Currently we can execute DDL commands via `/exp` API endpoint, which doesn't seem to make sense, since `/exp` is for exporting data, the correct way to execute a DDL command should be using the `/exec` endpoint.

I'm not sure if this is a feature or a bug, the docs doesn't mention this. If I'm wrong, please close this issue.

### To reproduce

1. Assume that the QDB is runnin

[2022-04-21 16:53] #359 closed

[2022-04-22 02:30] KevinChen16 commented on #1984
Hi! I've pulled the test cases in #2050 , please check it to confirm whether my tests are correct, thanks! @marregui @VansirCQ @bluestreak01

[2022-04-22 07:20] marregui commented on #1984
hey hey @KevinChen16 thank you for the PR! I had a look and left some comments :), overall looks good, well done.

[2022-04-22 12:55] Twilight-Shuxin commented on #1514
Hi, I'm not so sure whether I'm able to apply for these issues already in the TO-DO list? I have read the code of questDB, and I think I'm able to acheive this feature by modifying the parser of CREAT TABLE statements. If help is welcomed, I'd love to give it a try.

[2022-04-22 14:24] CurriedFloat opened #2052 "Aggregate function FIRST is slow and crashes."
### Describe the bug

After some testing on https://demo.questdb.io/ to confirm what we were seeing in our system.
FIRST seems slow compared to for example AVG.

-- testing on trips table --

select vendor_id, **avg**(passenger_count) from trips group by vendor_id
=>
4 rows in 521ms
Execute: **390.09ms**
Network: 130.91ms
Total: 521ms
Count: 3.88s Compile: 567.46μs

select vendor_id, **first**(pas

[2022-04-22 14:55] bluestreak01 commented on #2052
thank you for spotting this, `first` is un-optimised compared to `avg`. We can fix this for sure. 503 on demo is proxy override. There seem to be max time SQL can take is 30s before proxy returns 503 to the web console. So it doesn't crash - just slow

[2022-04-22 14:55] bluestreak01 commented on #2052
thanks for the doc spot too!

[2022-04-22 14:57] CurriedFloat commented on #2052
I think `last` has the same problems

[2022-04-22 15:28] KevinChen16 commented on #1984
I have modified some codes in the new commit, please check, thanks!

[2022-04-23 02:52] jttmtv commented on #353
I would like to work on this issue, is that ok?

[2022-04-23 07:35] CutieDeng commented on #1716
Can I have a try? But I am confusing about some points that:
- The format of the input/output file is `.csv` or `.json `?
- It seems exist a typo with an extra `"` char in the above content: "{\"filed1"\":1, \"filed2\":1, \"filed3\":\"admin\", \"filed4\":1}", exactly after the 'field1' word.
- I fails to import a json file in questDB, maybe I do not understand the exact format of it. 😭

[2022-04-23 08:43] MatthewLENG2002 commented on #2045
I'm also not sure if this is a bug or should this be fixed? If it is, can I work on this issue?

[2022-04-23 09:50] marregui commented on #1984
Hey @KevinChen16 I have left a comment, almost there!

[2022-04-23 10:43] KevinChen16 commented on #1984
Thanks! And I've just pulled the newest version there, please check if I mislead anything or make mistakes. Appreciate it!

[2022-04-23 20:43] jerrinot opened #2058 "Unrecognized VM option 'UseParallelOldGC' on JDK 17"
While trying to start  the  _Any (no JVM)_ QuestDB version on JDK 17 I have got the following error:

[code]

[code]

It's probably related to https://openjdk.java.net/jeps/366
The fix should be easy:  Use `-XX:+UseParallelGC` instead of `-XX:+UseParallelOldGC`. This switch will enable the parallel collector for both young and old generations.

[2022-04-23 21:58] jerrinot commented on #353
hello @jttmtv, this looks like a good entry point: https://github.com/questdb/questdb/blob/8442ddb97dc0be09e29dea40892ffdadc8b2705d/core/src/main/java/io/questdb/griffin/SqlCompiler.java#L2575

it seems the magic is happening here: https://github.com/questdb/questdb/blob/6eca37b8f27bb1d51efc6cd8e68199ef2bd57b82/core/src/main/java/io/questdb/griffin/engine/table/TableListRecordCursorFactory.java#L9

[2022-04-24 06:16] puzpuzpuz commented on #2058
Looks like a duplicate of #1926

[2022-04-24 07:06] jerrinot commented on #2058
that's right!
closing as dup.

[2022-04-24 07:06] #2058 closed

[2022-04-24 07:57] CutieDeng commented on #716
Maybe it's a good attempt for me to add this support. I have written a simple test for it.

[2022-04-24 12:10] Twilight-Shuxin commented on #1423
Hi, I'd like to try working on this issue. Here's my basic approach: first select as without first clause, than sort the results in time order. On the sorted list apply full scan and pick out the ones first appearing. I wonder whether this approach could meet the requirements? I'm not so sure.

[2022-04-24 14:37] Luyang2902 opened #2059 "when "readonly=true""
### Describe the bug

hi,   when  I ran this program with the config of http security  as  "readonly=true" , the python program can't quit
when I　change the config as "readonly=false" there is no this problem.
import pandas as pd
import psycopg2 as pg
import io
conn = pg.connect(user="admin",
                                  password="quest",
                                  host=" myhost",

[2022-04-25 09:39] puzpuzpuz opened #2060 "Flaky ReaderPoolTest.testLockBusyReader test"
Happened on arm64
[code]

[2022-04-25 13:50] jerrinot opened #2062 "Webconsole reports "QuestDB not reachable" when there is SQL execution error"
I'm on the latest master(d28ebe906) and when I try to query a non-existing table via webconsole then I'm getting a misleading error: "QuestDB is not reachable [400]"

It appears any kind of an error, including SQL syntax error, is interpreted like this.
<img width="1078" alt="image" src="https://user-images.githubusercontent.com/158619/165102314-6041f4a5-9dc9-4323-8a31-fff8bec9114c.png">

This is

[2022-04-25 13:52] bluestreak01 commented on #2062
@argshook there was a recent contribution, which changed HTTP response codes from 200 to 400. I think this is what broke the web console

[2022-04-25 14:56] jerrinot commented on #2062
@HeZean you are right. I was using new backend code with old console.
When I rebuild it with the `build-web-console` profile then it behaves as expected. sorry for the false alarm.

[2022-04-25 14:56] #2062 closed

[2022-04-26 06:28] shuitai opened #2063 "(QuestDB is not reachable [503]"
### Describe the bug

select vendor_id, cab_type, sum(passenger_count)
from 'trips'
group by vendor_id, cab_type
limit 10

run this sql query cannot get the result (QuestDB is not reachable [503])

### To reproduce

select vendor_id, cab_type, sum(passenger_count)
from 'trips'
group by vendor_id, cab_type
limit 10

### Expected Behavior

get result, not 503

### Environment

[code]

### Additional

[2022-04-26 12:40] agonzal6-v opened #2064 "Connection PosgREST with QuestDB"
### Describe the bug

Hello,

Coming from here:
https://github.com/questdb/questdb/issues/450

Im trying to connect posgREST with QuestDB using Wire protocol, however, I had not sucess. I believe there is some implementation missed on QuestDB in order to support Wire protocol.
I'm using the next environment variables in the docker container to connect posgREST. Username, password, db name are the

[2022-04-26 13:05] agonzal6-v commented on #2064
Im aware about the native Rest support, however, im missing some method to protect it against unauthorized use.
Everybody is able to reach que REST API and web console as soon as its exposed to internet, without any token/username+password auth.
PostgREST already solve this issue, it has auth method implemented.

Another option is use, for example, nginx, acting as a API gateway. But Im looking fo

[2022-04-26 13:24] jerrinot commented on #2064
I see, thanks for the insight into your motivation, that's very helpful!
I think for now a reserve proxy like nginx is your best shot. we could create a guide/how-to document as this appears to be a popular request.

[2022-04-26 13:45] jerrinot commented on #297
fixed by #2055
Massive Thank You to @Cobalt-27!

[2022-04-26 13:45] #297 closed

[2022-04-26 13:48] pswu11 commented on #1631
@all-contributors bot, please add @argshook for code contributions on the UI, new ideas, design, and bug reporting

[2022-04-26 13:58] pswu11 commented on #1631
@all-contributors bot, please add @amunra for code contribution, documentation, and bug reporting

[2022-04-26 13:59] pswu11 commented on #1631
https://github.com/all-contributors bot, please add @GothamsJoker for code contribution

[2022-04-26 13:59] pswu11 commented on #1631
@all-contributors bot, please add @GothamsJoker for code contribution

[2022-04-26 14:00] pswu11 commented on #1631
@all-contributors bot, please add @kocko for code contribution

[2022-04-26 14:01] pswu11 commented on #1631
https://github.com/all-contributors bot, please add @jerrinot  for code contribution, ideas, and bug reporting

[2022-04-26 14:05] newskooler opened #2073 "Support for gRCP"
### Is your feature request related to a problem?

I'd like to read QDB data as fast as possible.

### Describe the solution you'd like.

I believe to achieve the above (for thousands of users) [gRCP](https://en.wikipedia.org/wiki/GRPC) is a good solution.

### Describe alternatives you've considered.

REST or PG wire protocol are two alternatives. Both should be slower that gRCP

### Additional c

[2022-04-26 14:06] pswu11 commented on #1631
@all-contributors bot, please add @Cobalt-27 for code contribution

[2022-04-26 14:07] pswu11 commented on #1631
@all-contributors bot please add @eschultz for code contribution

[2022-04-26 14:09] pswu11 commented on #1631
@all-contributors bot, please add @XinyiQiao for code contribution

[2022-04-26 14:11] pswu11 commented on #1631
@all-contributors bot please add @terasum for documentation update

[2022-04-26 14:22] pswu11 commented on #1631
@all-contributors bot, please add @PlamenHristov for code contribution

[2022-04-26 14:25] pswu11 commented on #1631
@all-contributors bot, please add @HeZean for code contributions on new features and bug fixes

[2022-04-26 15:08] puzpuzpuz commented on #1975
@amunra can we close this one considering that #1998 is now merged?

[2022-04-26 15:21] jerrinot commented on #2059
a related PR was merged: https://github.com/questdb/questdb/pull/2061
@Luyang2902 could you please try the latest master? do you know how to do it?

[2022-04-26 15:29] #1937 closed

[2022-04-26 16:23] bluestreak01 commented on #2019
We can reliably reproduce the crash with information from your logs. The workaround seems to provide table with designated timestamp, for example:

[code]

[2022-04-26 20:39] amunra commented on #1975
Yes, closed.

[2022-04-26 20:39] #1975 closed

[2022-04-27 08:00] puzpuzpuz opened #2082 "Flaky LineTcpCommitTest.testCommitIntervalBasedDefaultLagZero test"
Occured on mac-other:
[code]

[2022-04-27 08:01] puzpuzpuz opened #2083 "Flaky LineTcpReceiverFuzzTest.testDuplicatesReorderingColumnsSendSymbolsWithSpace test"
Occured on mac-other:
[code]

[2022-04-27 09:46] #2026 closed

[2022-04-27 12:21] HeZean commented on #2063
Hi @shuitai,

Are you using a proxy like nginx, which may return 503 on timeout?

As I remember, QDB itself doesn't use code 503, but sometimes queries can be a bit slow (for example, all the cache misses), but you can retry once and get the result immediately.

[2022-04-27 13:01] #1359 closed

[2022-04-27 19:38] glasstiger commented on #2019
Pushed a fix for the issue in the above pull request.
Will be included in version 6.3.
Can provide a patched 6.2.1 version too on request.
Please, ping me if you need it.

[2022-04-27 19:50] glasstiger commented on #2019
Please, also note that this change is to make sure QuestDB is not crashing when the type of the dynamically added field is mutated.
QuestDB will drop such lines with a type cast error printed to the log.
You should also investigate on your side and make sure that data ingested into QuestDB consistently uses data types.
The description of the pull request above provides more detail and an example o

[2022-04-28 03:42] marvin-hansen commented on #2058
Why has this and #1926 has been closed without resolution?

I have this issue, means, QuestDB fails to start on OSX with JDK 17

The parallel collector was deprecated in JDK 9 and removed in JDK 10.
https://bugs.openjdk.java.net/browse/JDK-8151084

The new default is the G1 collector and for any JDK version 9 and above would be

-XX:+UseG1GC

https://www.oracle.com/technetwork/tutorials/tutorials-

[2022-04-28 05:47] jerrinot commented on #2058
Hi @marvin-hansen ,

This issue was fixed in the master branch: https://github.com/questdb/questdb/pull/1969/commits/1791521754abf5af27e0e7eb5c0ded259e06cc56
The fix will be included in the next release, which will be shipped soon.

[2022-04-28 05:50] marvin-hansen commented on #2058
Awesome,

thanks for the update!

Marvin Hansen

On Thu, Apr 28, 2022, 13:47 Jaromir Hamala ***@***.***> wrote:

[2022-04-29 13:17] HeZean commented on #2025
Hi, I'd like to try this, can you assign it to me?

Up to now, I find these implemented classes may be helpful:

[code]

I think we can start by reusing these, like what `PGConnectionContext` does.

This may be close to the first solution mentioned in [#285 (comment)](https://github.com/questdb/questdb/issues/285#issuecomment-734346250).

[2022-04-29 13:42] ideoma opened #2086 "Update of org.postgresql to latest v42.3.4 leads to crashes in tests"
### Describe the bug

After changing dependencies in core/pom.xml

[code]

There were few crash dumps in Azure CI run
[questdb-crash-merge-3902d950f47558eac9816e6b3473aa1b2d553e0c-1-Linux-1.11.log](https://github.com/questdb/questdb/files/8591183/questdb-crash-merge-3902d950f47558eac9816e6b3473aa1b2d553e0c-1-Linux-1.11.log)
[hs_err_pid12150.log](https://github.com/questdb/questdb/files/8591184/hs_

[2022-04-29 14:52] puzpuzpuz commented on #2025
Sure, I've assigned you. Look forward to your contribution. 👍

As for #285, yes, that issue is certainly helpful.

[2022-05-01 02:24] misselvexu opened #2088 "QuestDB web console long type data display lost precision issues"
### Describe the bug

`questdb` console sql query display results in the processing of long type data display lost precision issues.

### To reproduce

None.

### Expected Behavior

- Web Console Execute Result .
<img width="1317" alt="image" src="https://user-images.githubusercontent.com/3436472/166129490-9467e794-a0a8-413c-b44f-d4bcdc81f172.png">

- REST Api Execute Result .
<img width="1092" al

[2022-05-01 04:59] daiser opened #2089 "ALIGN TO CALENDAR does not work with FILL(LINEAR)"
### Describe the bug

I want `sample by` my data, align it to calendar with offset and fill missing points using liear extrapolation. But result I get aligned to first data-row. Other FILL options seems to work fine except for LINEAR.

### To reproduce

Sample table as:
[code]

Sample data:
[code]

Issue:
[code]

For example, FILL(PREV) works as expected.
[code]

### Expected Behavior

I expect re

[2022-05-01 11:15] uski commented on #569
+1 on running QuestDB on a Raspberry Pi !

I am using Raspberry Pi boards as dataloggers, and it is pretty obvious that I need a time series database for that purpose. QuestDB would be perfect due to its low code and memory footprint, if only I could run it there

[2022-05-01 12:46] daiser commented on #2089
Possible workaround: use multiple values fill with any other fill type. E.g, with constant `0`.
`select created, avg(value) from 'issue' sample by 1m fill(linear,0) align to calendar with offset '00:00';`

[2022-05-02 07:23] puzpuzpuz commented on #569
@uski QuestDB restored ARM64 support since 6.0, so you should be able to run it on RPi. We have an ARM64 machine in our CI pipeline, so all tests run and pass succesfully on ARM64.

[2022-05-02 07:46] jerrinot commented on #569
@uski bear in mind many Raspberry PI distributions run the CPU in the 32bits mode and QuestDB supports 64 bits ARM only. The CPUs of all modern Raspberry boards are perfectly capable to run in 64 bits tho.

If you are on Raspberry Pi OS (aka Raspbian) then you have to choose the [64 bits build](https://www.raspberrypi.com/software/operating-systems/#raspberry-pi-os-64-bit) which was actually relea

[2022-05-02 08:15] puzpuzpuz commented on #1923
Failed recently on mac-other.

[2022-05-02 08:57] bluestreak01 commented on #2045
It’s an oversight, @MatthewLENG2002 it would be awesome if you could help 👍

[2022-05-02 09:55] puzpuzpuz opened #2092 "Metadata's timestamp index breaks sample by in desc order case"
With recent changes `RecordMetadata#getTimestampIndex()` is allowed to return non-`-1` value in the ORDER BY designated_ts DESC case (also see `RecordCursorFactory#hasDescendingOrder()`). This can be easily seen on filtered scan queries, but not only. Previously, the contract was different: a non-`-1` value was returned only for empty ORDER BY and ORDER BY designated_ts ASC cases.

This change bre

[2022-05-02 11:17] marregui commented on #2089
it would appear that align to calendar is altogether being ignored, looks like a bug, will have a look.

[2022-05-02 14:17] puzpuzpuz commented on #1938
Should be fixed in #2085

[2022-05-03 07:19] marregui commented on #1749
hi @zhangliyuSustech the PR for 1764 was stale (abandoned by the author) and the ticket closed.

[2022-05-03 08:41] rahilbhansali opened #2095 ">= doesn't seem to work for a float point precision"
### Describe the bug

I have a query which checks if a stock price falls within a specific low-high range. It works well in postgresql. However, when I use the same query in QuestDB, it fails to pick up the price data.

I've attached the sample for the day's data to this. When you run this on QuestDB, it'll show no results found. However, the right answer is the price data from 7:33am which has th

[2022-05-03 19:42] jerrinot commented on #2095
hello @rahilbhansali,

I tried to reproduce the issue. I'm on QuestDB 6.2.1. I imported the CVS file by running `curl -F data=@data_price_history_candlestick_minute_symbol_202205031406.csv 'http://localhost:9000/imp'`

I used QuestDB web console to run the query and I can see a result being returned:
<img width="1430" alt="image" src="https://user-images.githubusercontent.com/158619/166553595-3755

[2022-05-03 19:54] jerrinot commented on #2095
for what is worth: I'd recommend not to use floating point types to represent price. It has inherit precision issues and some numbers cannot be represented at all. The simple/usual workaround is to choose a base unit - for example cents - and use that. Example: Instead of storing 11.65 as a floating type you store 1165 as an integer. This way you avoid floating point precision issues.

[2022-05-04 09:01] bziobrowski commented on #2095
Issue can be reproduced only if high is a float .
Under the hood record's float is converted to double in LtDoubleVVFunctionFactory and that assigns value slightly lower than the constant argument - 11.65 .

[2022-05-04 11:40] #2019 closed

[2022-05-04 12:19] puzpuzpuz opened #2098 "Flaky TableWriterTest.testAddColumnConcurrentWithDataUpdates test"
Occured on linux-cairo:
[code]

[2022-05-04 12:20] bluestreak01 commented on #2098
@puzpuzpuz what branch is this on ?

[2022-05-04 12:39] puzpuzpuz commented on #2098
That's `fix_timestamp_index_checks`

[2022-05-05 07:48] marregui commented on #1616
will revisit if it becomes an actual problem. Closing for now.

[2022-05-05 07:48] #1616 closed

[2022-05-05 07:50] marregui commented on #1749
Being approached in PR https://github.com/questdb/questdb/pull/2093

[2022-05-05 11:17] agonzal6-v commented on #2064
Hello again,

I implemented the workaround to authorize the access using nginx proxy manager.
It has a option to create access levels with basic authorization.

![npm-4](https://user-images.githubusercontent.com/100560153/166912661-bc848509-967a-4a53-8c2d-5a8db27e5384.jpg)

[2022-05-05 11:17] #2064 closed

[2022-05-05 15:43] #2092 closed

[2022-05-05 17:03] ideoma commented on #1944
Fixed in https://github.com/questdb/questdb/pull/1959

[2022-05-05 17:03] #1944 closed

[2022-05-06 14:38] jerrinot opened #2104 "`tables()` function does not display tables migrated from 6.2.x"
### Describe the bug

I upgraded my local questdb from 6.2.x to 6.3 and when I call `show tables;` then I can see all old tables.

However when I do just `tables()` then it returns only the tables created after the migration to 6.3. Tables created on 6.2.x are not visible.

`show tables` returning all tables:
<img width="921" alt="image" src="https://user-images.githubusercontent.com/158619/167154

[2022-05-06 14:52] pswu11 commented on #2059
@Luyang2902 the fix mentioned above is included in [our latest release 6.3](https://github.com/questdb/questdb/releases/tag/6.3), would be great if you can test it out and let us know whether this issue still occurs. 🙏🏼

[2022-05-06 14:52] jerrinot commented on #2104
from the log:
[code]
perhaps the migration procedure did not kick in? I see this in the log: `2022-05-06T14:20:16.278695Z I i.q.c.m.EngineMigration table structures are up to date`. This is the first log after upgrading to 6.3. I cannot see anything about tables being upgraded, etc.

[2022-05-06 15:53] jerrinot commented on #2104
this was my mistake. my storage was in an inconsistent state as a few weeks ago I had started 6.3-snapshot against my 6.2 storage. It likely did a partial upgrade. so when a proper 6.3 was starting it thought the storage was already upgraded. while in fact, all the columnar & table metadata files were on 6.2. sorry for a false alarm.

[2022-05-06 15:53] #2104 closed

[2022-05-06 16:51] ideoma opened #2105 "Flaky test AsyncOffloadTest.testParallelStressMultipleThreadsSingleWorkerJitDisabled"
### Describe the bug

[code]

### To reproduce

Run 30 seconds in a loop on ARM OSX

### Environment

[code]

[2022-05-06 17:23] ospqsp opened #2106 "Unhandled Error causing :9003 to report unhealthy status"
### Describe the bug

not entirely sure as not immediately detected

(sorry!...will upgrade process to more immediately flag unhandled errors/unhealthy status)

i run at terminal prompt :~/qdb/log$ grep -B 20 -ir 'unhandled error \[job=' '.'

## To reproduce

### OCCURANCE A:

[code]

### OCCURANCE B:

[code]

### Expected Behavior

no unhandled error.

### Environment

[code]

### Additional cont

[2022-05-06 17:41] puzpuzpuz commented on #2105
@ideoma there should be some exceptions printed to stderr once the test fails. Could you share them?

[2022-05-06 19:03] ospqsp commented on #2106
another example--perhaps unrelated...same result though.

./stdout-2022-05-06T17-29-09.txt-       at io.questdb.mp.MCSequence.root(MCSequence.java:31)
./stdout-2022-05-06T17-29-09.txt-       at io.questdb.mp.FanOut.root(FanOut.java:128)
./stdout-2022-05-06T17-29-09.txt-       at io.questdb.mp.AbstractSSequence.root(AbstractSSequence.java:71)
./stdout-2022-05-06T17-29-09.txt-       at io.questdb.mp

[2022-05-06 19:03] ospqsp commented on #2106
that last error is on 6.3

[2022-05-06 19:04] bluestreak01 commented on #2106
oh, sorry! We'll fix asap

[2022-05-06 19:05] bluestreak01 commented on #2106
it would also be good to get log lines just after error message (last line in your log)

[2022-05-06 19:08] ospqsp commented on #2106
restating the log with +50 lines post unhandled error notice

./stdout-2022-05-06T17-29-09.txt-       at io.questdb.mp.MCSequence.root(MCSequence.java:31)
./stdout-2022-05-06T17-29-09.txt-       at io.questdb.mp.FanOut.root(FanOut.java:128)
./stdout-2022-05-06T17-29-09.txt-       at io.questdb.mp.AbstractSSequence.root(AbstractSSequence.java:71)
./stdout-2022-05-06T17-29-09.txt-       at io.questd

[2022-05-06 19:09] ospqsp commented on #2106
let me know if you need more

[2022-05-06 19:13] bluestreak01 commented on #2106
thank you, this is enough for now. Just to confirm that last log is 6.3 ?

[2022-05-06 19:14] ospqsp commented on #2106
many thanks vlad--you're correct. the last log snippet is 6.3, the others were 6.2.1

[2022-05-06 19:18] bluestreak01 commented on #2106
i think i know what the issue is, could you try adding this config to your server.conf as a workaround:

[code]

[2022-05-06 19:19] bluestreak01 commented on #2106
@puzpuzpuz there is issue using symbol functions with async offload, multiple threads are using same table reader instance.

[2022-05-06 19:29] puzpuzpuz commented on #2106
Is that issue related with this one?

[2022-05-06 19:30] bluestreak01 commented on #2106
i'll tackle it asap, fairly serious issue

[2022-05-06 19:32] puzpuzpuz commented on #2106
OK, I missed the latest messages. Filter functions being stateless is too good to be true.

[2022-05-07 13:13] HeZean opened #2108 "Cannot use psycopg2 to insert NaN for float type via prepared statement"
### Describe the bug

When we are providing `math.nan`, `numpy.NaN` or so to prepared statements, psycopg2 will replace it as `'NaN'::float`, but currently QDB doesn't support using `::` to cast a string into float.

See https://stackoverflow.com/questions/72059578/passing-nan-floats-to-questdb

### To reproduce

_No response_

### Expected Behavior

_No response_

### Environment

[code]

### Add

[2022-05-07 13:16] HeZean commented on #2108
The modifications won't be much... If we really need to fix it, I think I can create a PR 😀

[2022-05-09 03:15] yiwojiu opened #2110 "An CAST ERROR occurred while writing data using ILP"
### Describe the bug

For high write performance, I use the ILP to write data.
When I have created a table and then write data through ILP, there will be errors related to value type cast.
From the release note，I know in questdb-6.3 user can set the default column type.However, if there are multiple numeric types in different tables, such as byte/int/short/float/double/long , this configuration ma

[2022-05-09 07:27] puzpuzpuz commented on #2110
Hello,

You should be using `i` suffix for all integer types, like long or short. If you don't use the suffix, the type is assumed to be a floating point type, `double`. So, your ILP message should look something like the following:
[code]

[2022-05-09 08:02] yiwojiu commented on #2110
thanks a lot!
Can you give a message line example of type char?

[2022-05-09 08:39] #2110 closed

[2022-05-09 08:51] puzpuzpuz commented on #2110
Char column should be as simple as `char_col1="a",char_col2="z"`

[2022-05-09 09:53] #482 closed

[2022-05-09 10:24] bziobrowski commented on #1707
Current demo timings (with JIT and multithreaded filter processing enabled) :
[code]
4s  (returns 1302837790 rows)

`select * from trips where passenger_count=2;
1.5s  (returns 235 503 614)

If you add limit clause , e.g. limit 10000 then you can go well below 1s .

As for "forver true" predicate slowing things down -
- trips table contains 1634599313 records (so not 1.6mil but 1634 mil or 1.6 bil

[2022-05-09 10:24] #1707 closed

[2022-05-09 17:44] ckennerknecht opened #2111 "Support for stdin bulk copy?"
Hii devs and community,

For my bachelor thesis I need to export ~1 trillion rows historical data in a proprietary storage format to a TSDB for some benchmarks.
I have already implemented a C++ exporter to PostgreSQL/TimescaleDB with the [libpqxx](https://github.com/jtv/libpqxx) library and now I would also like to benchmark QuestDB.

I have hoped that I can target my local QuestDB instance with t

[2022-05-10 07:55] bziobrowski commented on #2111
Hi @ckennerknecht .
While COPY FROM filepath works (for CSV format) , COPY FROM STDIN is not implemented .
If you plan to use the former then you need to set cairo.sql.copy.root in server.conf.
Best way to import data to QDB is through ILP or CSV  .
I'm working on speeding up loading of huge files to partitioned tables .
Regards,
Bolek

[2022-05-10 11:11] puzpuzpuz commented on #2105
Should be fixed in #2107

[2022-05-10 12:35] HeZean opened #2112 "Comparison between "infinities" isn't as expected"
### Describe the bug

Consider such query:
[code]

the behavior of `inf = inf` is different from both Java (follows IEEE754):
[code]
and Postgres ("Ideally, QuestDB should behave as Postgres.")

### To reproduce

_No response_

### Expected Behavior

Should at least return true for the following examples:
[code]
An alternative solution: provide some function like `is_infinity(float)` + `is_infinit

[2022-05-10 12:39] HeZean commented on #2112
@jerrinot could you please help add more related information about the standards? I believe any contributor who want to solve this will appreciate it :)

BTW, I couldn't find any official document that specifies the equivalent comparisons between infinities, only discussions in StackOverflow or so were found.

[2022-05-10 12:40] HeZean commented on #2112
For some related discussions, please see #2109

[2022-05-10 12:44] puzpuzpuz opened #2113 "Potential memory leak in O3"
To reproduce, change `AsyncFilteredRecordCursorFactoryTest#testDeferredSymbolInFilter()` to:
[code]
and run it in a loop.

Occasionally, you'd get:
[code]

I didn't look into the reason, but it could be an O3 mem leak or just a broken test.

The code depends on #2107

[2022-05-10 14:37] jerrinot commented on #2112
@HeZean I am certainly not an expert, but I found [this JavaDoc](https://github.com/openjdk/jdk/blob/9835678a8658110cd2dac489cf55ab3d9074ea6d/src/java.base/share/classes/java/lang/Double.java) to be a decent intro to IEEE 754 surprises.

As a general rule: We aim to behave the same as Postgres whenever it's possible. Postgres does not always honour IEEE 754. If there is a conflict between IEEE 754

[2022-05-10 17:22] HeZean commented on #2088
Hi, I've checked the code, as far as I am concerned, the problem was JavaScript it self. After the frontend fetch the Json string response, it directly parse it, unfortunately, some results may out of the bound of `Number.MAX_SAFE_INTEGER` aka `9007199254740992`.

To solve this, we may need to implement (or use? QDB may not want to have much dependencies) functions similar to some 3rd-party lib li

[2022-05-10 22:12] ckennerknecht commented on #2111
Alright, thank you.

[2022-05-10 22:12] #2111 closed

[2022-05-11 00:32] misselvexu commented on #2088
So，What's next plan?😘

[2022-05-11 02:32] HeZean commented on #2088
@bluestreak01 thanks for the tip, that's quiet a brilliant approach! We don't even need to have js parse the number, and users won't care about what a long is actually been taken as (string or number).
So the only thing left for us is to add several `"` into the existing tests? If so, I'm willing to take several minutes to fix it.

[2022-05-11 09:51] shuitai commented on #2063
@HeZean
please the query
select vendor_id, cab_type, sum(passenger_count)
from 'trips'
group by vendor_id, cab_type
limit 10

in your demo page, you could reproduce it, if using clickhouse with 1 instance, similar data size, it could return result in several seconds.

[2022-05-11 12:19] mfandre opened #2116 "Give an way in helm deploy to change the root asset path"
### Is your feature request related to a problem?

I installed questDB to my AKS cluster using helm, but my ingress is looking to route that is different from "/". The questdb console is trying to get js/css files from wrong root path.

![](https://i.stack.imgur.com/dcUY5.jpg)

### Describe the solution you'd like.

Add some env var that can be set on helm deploy to change the asset_path value.

#

[2022-05-11 13:54] jerrinot commented on #2116
I learned from @insmac that's the asset path as [documented here](https://questdb.io/docs/develop/web-console/#providing-an-asset-path) is actually a build-time option, not a runtime option. So making this configurable for end-users will need changes in both QuestDB-Core and QuestDB-Kubernetes repos.

[2022-05-11 13:58] #2108 closed

[2022-05-11 19:24] #1809 closed

[2022-05-11 19:44] mfandre commented on #2116
To avoid this behavior I created a subdomain to maintain the root path. But I think this an important feature that can be useful to others.
<img width="1439" alt="image" src="https://user-images.githubusercontent.com/1164677/167932585-08dd2416-600d-40fb-aff4-b339916fc078.png">

[2022-05-12 11:10] ideoma opened #2117 "Flaky test testVectorSumAvgDoubleRndColumnWithNullsParallel"
### Describe the bug

java.lang.AssertionError: expected:<avg	sum
0.50035043	834470.437288

0.500350379	834470.437288

### To reproduce

Run in a loop

### Expected Behavior

_No response_

### Environment

[code]

### Additional context

_No response_

[2022-05-12 12:27] kallewesth opened #2118 "Support for string_agg"
### Is your feature request related to a problem?

I'd like to be able aggregate distinct values of a column into a string.

### Describe the solution you'd like.

Add an aggregating function which does the equivalent of what `string_agg` does in PostgreSQL. The `count_distinct` function almost does what I want, but instead of counting the different distinct values, I'd like to get them. Alternati

[2022-05-12 12:45] bluestreak01 commented on #2118
To help us understand broader use case and clear assumptions, do you mind providing an example of `string_agg` in a SQL that `SELECT DISTINCT value from table` cannot substitute ?

[2022-05-12 14:45] kallewesth commented on #2118
If `SELECT DISTINCT value, sum(number) as count from table` would return this:
[code]
Then I'd like to be able to do something like `SELECT string_agg(DISTINCT value, ',') as values, sum(number) as total from table`:
[code]
Today I could do `SELECT count_distinct(value) as values, sum(number) as total from table`:
[code]
I don't know what makes most sense, if it should be named like `string_agg_di

[2022-05-12 17:31] KevinChen16 commented on #2118
Hi @bluestreak01 and @kallewesth ! If this issue could be considered a valuable feature, could I have the chance to realize it? Thanks!

[2022-05-12 17:43] bluestreak01 commented on #2118
Thank you @kallewesth

sure, @KevinChen16 you can have a go!

My concern is with limits, what if there is 1M distinct values? We might need to restrict the implementation from potentially destroying instance.

[2022-05-12 17:46] KevinChen16 commented on #2118
I think we can count the number of strings that need to be aggregated in advance and throw failure when the amount is larger than a boundary value? Or do you have any better thoughts? Thanks!

[2022-05-12 19:50] HeZean commented on #2063
Hi @shuitai, thanks for the information you provided. As I tested, the `503` code was sent by the proxy of *demo.questdb.io* (timeout after 30sec), the frontend checks the status code and will display `QuestDB is not reachable` for any status code other than `200` or `400`.

The query does take an unbearably long time due to the `sum()` function, however. We can test for that on *demo.questdb.io*,

[2022-05-12 19:57] HeZean opened #2121 "Subquery failed for count(*)"
### Describe the bug

When placing a subquery as the argument of `long_sequence`, it may fails.

### To reproduce

On https://demo.questdb.io/, you can use the 'trips' table to test it:
[code]
the error message was `too few arguments for '*' [found=0,expected=2]`

### Expected Behavior

Executes as
[code]

### Environment

[code]

### Additional context

_No response_

[2022-05-12 20:42] HeZean commented on #2063
Similar to #2052 [(comment)](https://github.com/questdb/questdb/issues/2052#issuecomment-1106596651)

[2022-05-13 10:18] kallewesth commented on #2118
Yes that's a valid point, some boundary value would be good. Thanks a lot @KevinChen16 for picking this up!

[2022-05-16 06:29] shuitai commented on #2063
@HeZean
I think the root cause is not sum() function, when group by multi columns( >=2 ) ( group by a, b), the query will cost lots of time.
So maybe questdb should optimize the groupby performance.

[2022-05-16 06:36] AbdelouahabKhelifati opened #2125 "Loading a large dataset bug"
Hello, I am trying to load a large dataset (300GB) into QuestDB. I first load it directly into a temporary table (step 1), that I then use to create my desired dataset table (step 2), see example below. During the second step, the overhead of the system is maximal to the ressources of my machine (32cores, 128GB RAM) for 12 hours, then the system crashes and the table d2 ends up with 0 rows.

[code

[2022-05-16 07:13] bziobrowski commented on #2125
Hello @AbdelouahabKhelifati .
Could you share the crash log ?
Is the input data sorted by ts ?

If you're importing timestamp with non-default ts format ( yyyy-MM-ddTHH:mm:ss.SSSUUUZ )   then you it's better to use /imp rest endpoint and and specify it in schema request piece , .e.g
[code]
You can find more at : https://questdb.io/docs/guides/importing-data/

[2022-05-16 07:16] HeZean commented on #2063
@shuitai sorry for being lack of time for me to do a further research about it, but it would be awesome if you would like to do some benchmark.

(Not sure about whether the following examples could help, could you please try analyze them?)
[code]
[code]
[code]

[2022-05-16 08:47] ideoma commented on #2125
If your data is ordered by time you should be able to insert it into a table with Designated timestamp. Try to specify `batch` parameter of the insert as documented in https://questdb.io/docs/reference/sql/insert#inserting-query-results

[code]

[2022-05-16 08:50] ideoma commented on #2121
`long_sequence` function accepts constant argument only at the moment as it's mostly used in tests.

What is your use case for it to accept variable argument?

[2022-05-16 08:58] HeZean commented on #2121
Only to reproduce #2063, not in the production env.

Just to second confirm that, is `long_sequence` designed not to parse any inner braces?
I will close this issue then, or maybe we can have some modifications to make it support that :)

[2022-05-16 10:04] AbdelouahabKhelifati commented on #2125
@bziobrowski , I couldn't find where the logs are outputted.

@ideoma The `batch` and `commitLag` parameters seem to get the job done. Thanks a lot!

Thank you both!

[2022-05-16 10:04] #2125 closed

[2022-05-16 13:08] #2088 closed

[2022-05-16 14:33] ospqsp opened #2127 "unhandled error"
### Describe the bug

occurred after seemingly normal usage;
`select-group-by TradeDate, count() count from (select [TradeDate, RIC, Bid, Ask] from PJ timestamp (TradeDate) where RIC ~ 'SPX' and RIC != '.SPX' and Bid != null and Ask != null)

### To reproduce

./stdout-2022-05-06T17-29-09.txt-select TradeDate, count from PJ where RIC ~ 'SPX' and RIC != '.SPX' and Bid!=null and Ask!=null group by T

[2022-05-16 15:47] ospqsp commented on #2127
@ideoma thanks alex--i added this one as i had thought it shouldn't occurr with cairo.sql.parallel.filter.enabled=false
(which previously was true, but the current unhandled error occurred with it as false)

[2022-05-16 16:08] ospqsp commented on #2127
i had thought i had, but perhaps not. i've certainly just restarted it and I'll keep a watch out.

[2022-05-17 07:43] stekman commented on #2025
Just another factor to think about: When using PG Wire I realized that for our use-case we need to send in table name and column names in a secure way to the prepared statement. This is not possible in JDBC. So what would be great addition here would be to have the possibility to use '?' for table name and columns as an addition to the possibilities in JDBC.

[2022-05-17 08:00] bziobrowski commented on #2025
@stekman  Could you explain the use case ?
Prepared statements are normally optimized and planned once and then used multiple times .
Tables and columns (I assume you don't mean string literals but sql identifiers) are essential to optimization so parameterizing them would force cached plan invalidation and then parsing/optimization/planning.

[2022-05-17 10:56] stekman commented on #2025
Yes, that is describing my problem and the need for this in the REST interface. Our application relies heavily on the CSV import feature and the column and table names come from this import. Thus we need to query the database with different table and column names each time, depending on file content and name of the table. So we will of course not get any optimization in planning etc, but it would

[2022-05-17 11:16] #2105 closed

[2022-05-17 11:16] #2106 closed

[2022-05-17 12:53] pswu11 commented on #1631
Hi @all-contributors bot, please add @iridess for code contribution and docs improvement.

[2022-05-17 14:22] bluestreak01 commented on #2127
this is fixed in https://github.com/questdb/questdb/releases/tag/6.3.1

[2022-05-17 14:22] #2127 closed

[2022-05-17 21:52] #2113 closed

[2022-05-18 04:54] #2063 closed

[2022-05-18 09:11] bluestreak01 commented on #2086
Fixed in https://github.com/questdb/questdb/pull/2087

[2022-05-18 09:11] #2086 closed

[2022-05-18 09:13] bluestreak01 commented on #2059
closing due to lack of response

[2022-05-18 09:13] #2059 closed

[2022-05-18 09:20] bluestreak01 commented on #1981
More context:

This issue is to do with occasional heavy out-of-order ingest, which ends up moving around 100Gb worth of data. While O3 is taking place it propagates back pressure all the way to the TCP client. So the ILP slow-down is perceived as data loss.

We're working on storage restructuring, which will solve this problem

[2022-05-18 09:24] ideoma commented on #2121
It does parse inner braces as far as I can tell, but even if it doesn't and then fixed next problem will be that `select count(*) from 'trips'` is not a constant and in fact in QuestDB world it's not even a scalar, so there are few problems to make it work.

[2022-05-18 09:37] HeZean commented on #2121
Yeah I understand, thanks for pointing that out. Users can bypass this anyway, by running multiple queries.

[2022-05-18 09:37] #2121 closed

[2022-05-18 11:37] jscarrott opened #2135 "The helm chart index.yaml is corrupt"
### Describe the bug

It looks like half a merge conflict has been left in the index.yaml available here: https://helm.questdb.io/index.yaml
These lines specifically 518:522
[code]

This is causing some of our terraform to fail as it is invalid.

### To reproduce

_No response_

### Expected Behavior

_No response_

### Environment

[code]

### Additional context

_No response_

[2022-05-18 13:31] mariusgheorghies commented on #2135
@jscarrott Thank you for submitting the issue.
It was fixed in the PR https://github.com/questdb/questdb-kubernetes/pull/58

`helm repo update` and you should be able to use version 0.20.1 of the helm chart

[2022-05-18 14:44] #2135 closed

[2022-05-19 12:57] stalek71 commented on #1104
**It could be really cool feature.** I use `FORMAT binary` for an import and for queries/export (on postgresql).
In a case of the import I encode buffer data the way they look native to postgres so it's much more faster then sending data in a text form and parsing it (in my case about 10x faster).

This is import part:
`COPY ts.point(serie_id, datetime, value, version_ts, scope_type, scope_id) FRO

[2022-05-19 14:54] ideoma opened #2139 "Extend ILP to allow to set non-designated timestamp column to current server timestamp"
### Is your feature request related to a problem?

Sometime it's useful to see the difference between the event timestamp and the timestamp it is got written in QuestDB. To do that a column with server timestamp auto generated by QuestDB is needed.

### Describe the solution you'd like.

Add feature to ILP parser to write server timestamp to a column

[code]

I suggest using syntax `now()` because

[2022-05-20 00:39] huuhait opened #2141 "Failed to sync from Debezium to QuestDB via JDBC"
### Describe the bug

Kafka connect payload
![image](https://user-images.githubusercontent.com/40519768/169425889-8c095d24-eb0a-43f8-b1d0-09c77affc1bd.png)

But i always get error message:
[code]

### To reproduce

_No response_

### Expected Behavior

_No response_

### Environment

[code]

### Additional context

_No response_

[2022-05-20 11:12] bziobrowski opened #2143 "Parallel import"
### Is your feature request related to a problem?

Currently imports (via COPY command or /imp endpoint) are done sequentially and import data in file order.
When importing to table with designated timestamp that is :
- non-partitioned - out of order rows are skipped
- partitioned - out of order rows are stored but ingestion speed suffers if such row(s) are added to already closed partitions .
Mor

[2022-05-21 09:35] jerrinot commented on #2141
hello @huuhait thanks for reporting the issue!
Is this working when you configure the Connect Sink to write to Postgres instead of QuestDB?

[2022-05-21 09:49] jerrinot commented on #2141
this issue seems remarkably similar to https://github.com/confluentinc/kafka-connect-jdbc/issues/585
Please try to use one of the flattening transforms described in the linked issue and report back. Thanks a lot!

[2022-05-21 10:20] jerrinot commented on #2141
@huuhait this looks like the way the go: https://docs.confluent.io/platform/current/connect/transforms/flatten.html

[2022-05-22 02:31] huuhait commented on #2141
Hi problem by my CDC
thanks for support

[2022-05-22 02:31] #2141 closed

[2022-05-22 07:39] KevinChen16 commented on #2118
Hi @kallewesth! I had some ideas about the issue now, but I wonder where I should add this feature, in other words, what file path should I use to put the new function. Thank you!

[2022-05-22 16:14] jerrinot commented on #2141
hello @huuhait, can you please elaborate on what exactly was wrong in your setup and how did you fix it? It could help others facing the same issue. Thanks a ton!

[2022-05-23 12:46] #2045 closed

[2022-05-24 07:06] puzpuzpuz opened #2146 "Default cairo.sql.map.key.capacity value seems to be too large for certain SAMPLE BY queries"
### Sample

[code]

[code]

With all default the following query takes 1+ sec on my machine:
[code]

It returns 1000 rows which is nothing. The database seems to be doing nothing but calling `FastMap#clear()` -> `DirectLongList#zero()` -> `Vect#memset()` methods. Each `clear()` execution has to copy `-1` value into a quite large off-heap array. See the below flamegraph.

![Screenshot from 2022-05-

[2022-05-24 12:44] puzpuzpuz opened #2148 "Add support for ALTER TABLE t ALTER COLUMN instrument DROP INDEX statement"
Some users may be experimenting with indexes, adding and removing them for certain columns. In this case, being able to drop an index would save the user from having to copy the whole table into a new one.

[2022-05-25 04:14] Shivansh-Mittal commented on #593
Can I insert json file data in my questdb table from C# ?

[2022-05-25 04:18] Shivansh-Mittal commented on #1692
Can data be inserted from json file to the table via npgsql approach in C# ?

[2022-05-25 06:46] jerrinot commented on #593
hi @Shivansh-Mittal you parse the JSON file in C# and then use a Postgres client to connect to QuestDB and use SQL bulk update as [documented here](https://questdb.io/docs/reference/sql/insert#examples)

[2022-05-25 08:19] puzpuzpuz opened #2151 "Web Console executes next statement instead of the current one when the cursor is at the end position"
### Describe the bug

As simple as the following screenshot:
![web-console-cursor-issue](https://user-images.githubusercontent.com/37772591/170215641-89503b54-d914-46e5-a04d-95c502876625.png)
1

### To reproduce

_No response_

### Expected Behavior

_No response_

### Environment

[code]

### Additional context

_No response_

[2022-05-25 10:34] HeZean commented on #2151
Hi, I'd like to fix it, but could you please point out whether we need a test for it? Or can I directly open a PR?

[2022-05-25 10:56] insmac commented on #2151
@HeZean

Thanks for looking into this. There is no test suite within `questdb/questdb` repository, but you might want to look into this if you want:
https://github.com/questdb/ui/blob/main/packages/browser-tests/cypress/integration/console/editor.spec.js

We have a cypress spec sheet in a separate repository which runs across a set of common editor use cases. If you have experience with Cypress an

[2022-05-26 18:09] HeZean commented on #2151
Hi @insmac, I tried running the tests, and got in touch with a new, inspiring testing framework (thanks for introducing it to me!)

However, there may be something wrong with my env that tests all got timeout and I'm afraid I cannot add a test by myself, without being able to pass it locally.

If you wish, a test case that that fully checks statement slicing may be added:
[code]

[2022-05-27 03:26] russelljahn commented on #569
Confirmed I was able to build QuestDB 6.3.1 from source on 64-bit Raspbian and run it. I've tested connecting to the web console through my browser via a different computer on my LAN, and things are looking solid! 👍

Appreciate the QuestDB team getting ARM64 working again! I'm looking forward to using it.

[2022-05-27 05:56] jerrinot commented on #569
Excellent news, thanks for reporting back!

[2022-05-27 09:25] KevinChen16 commented on #2112
Hey @jerrinot! I would like to solve this, but could you please tell me where the '=' is used to be calculated in the main code? Thanks a lot!

[2022-05-27 14:51] #2151 closed

[2022-05-27 16:18] jerrinot commented on #2112
hi @KevinChen16 that's awesome!

The factory for checking equality of two doubles is [this](https://github.com/questdb/questdb/blob/a9e369826f3e1923194926a16366b31f4fb64392/core/src/main/java/io/questdb/griffin/engine/functions/eq/EqDoubleFunctionFactory.java#L40) But my guess is that it never makes it there. To fix this you will likely have to change the [expression parser](https://github.com/que

[2022-05-27 16:21] KevinChen16 commented on #2112
Thanks! And that's what I have just done -- adding special treatment for `Infinity`, and I think I will make a PR in minutes or 1 hour. I hope that you can check it, thanks!

[2022-05-28 10:41] operatorpk opened #2161 "SIGILL at select where-query"
### Describe the bug

executing the following query via web interface crashes questdb

select date_time, e10 from prices where e10 = 0 limit 500

excerpt from log file, omitted duplicate error lines:

`

### To reproduce

1. CREATE TABLE prices (ID LONG, station_id STRING, e5 DOUBLE, e10 DOUBLE, diesel DOUBLE, date_time TIMESTAMP)
2. SELECT  date_time , e10 from 'prices' where e10 = 0

### Expecte

[2022-05-28 11:40] jerrinot commented on #2161
hell @operatorpk thanks for reporting the issue! Can reproduce it with an empty table? Is QuestDB server running on Intel CPU? I tried to reproduce it, but it seems to work fine for me. Is it crashing reliably for you? Did you modify QuestDB configuration or is it all on default? Can you share /root/.questdb/hs_err_pid1.log ?

[2022-05-28 11:41] puzpuzpuz commented on #2161
@operatorpk do you have an x86 CPU or it's ARM? Could you also share exact Docker version you're using? The issue might do something with Rosetta.

[2022-05-28 11:44] puzpuzpuz commented on #2161
Could you also share full server logs? I'm interested in JIT compiler setting logging.

[2022-05-28 12:26] operatorpk commented on #2161
QuestDB is running in docker on an Synology NAS using Intel CPU. Docker version is 20.10.3-1239. As you can see from the logs the error is quite reproducable. But indeed it works fine for empty tables. QuestDB configuration is all default.

[QuestDB log.csv](https://github.com/questdb/questdb/files/8791123/QuestDB.log.csv)
[hs_err_pid1.log](https://github.com/questdb/questdb/files/8791126/hs_err_p

[2022-05-28 12:33] operatorpk commented on #2161
to reproduce the error: CREATE TABLE prices (ID LONG, station_id STRING, e5 DOUBLE, e10 DOUBLE, diesel DOUBLE, date_time TIMESTAMP);
1. create table:
2. add some data: INSERT INTO pricestest (ID, station_id, e5, e10, diesel, date_time)
VALUES(
    5,
    'e1a15081-2573-9107-e040-0b0a3dfe563c',
    0,
    0,
    0,
    to_timestamp('2021-12-31T11:25:00', 'yyyy-MM-ddTHH:mm:ss')
);
3. query data: sel

[2022-05-28 13:42] puzpuzpuz commented on #2161
I can't reproduce this on i7-1185G7 and Ubuntu 20.04. As a workaround, you could disable JIT-compilation. That could be done with `cairo.sql.jit.mode=off` config property or `QDB_CAIRO_SQL_JIT_MODE=off` environment variable.

Also, looks like your CPU (Celeron J4025) doesn't support AVX-2 (and not only this instruction set), so JIT compiler has to use scalar instructions. To help us debugging this

[2022-05-28 17:07] foosmate commented on #1423
The filter that needs to be applied is literally this:

Each row is significant (must be selected) if at least one value differ from the previous row (ordered by time). All rows don't matching this criteria are not significant and can be dropped.

Special case would be a table having a column referring to a sensor id. In this case the rule needs to be applied on id level (per sensor).

[2022-05-28 18:14] HeZean commented on #1911
A guess: the problem was caused by `monaco-editor` API's `getWordAtPosition`, which cuts the word `'2012-04-12T12:00:0A'` on the first dash.

https://github.com/questdb/questdb/blob/37432fc6090de1d882ca278d365924f1a488e530/ui/src/scenes/Editor/Monaco/utils.ts#L217-L224

Could anyone kindly point out the next step? I'm not familiar with monaco -- maybe there are other APIs, or may set `-` as escape

[2022-05-28 18:31] HeZean commented on #2025
This issue couldn't be fixed soon I'm afraid. Currently I'm preparing for my final exams -- I'll try be back on this in my summer vacation (in about 1mo), if anyone has brilliant idea and cannot wait to have it fixed, please pick it up.

[2022-05-28 18:33] KevinChen16 commented on #2118
This issue couldn't be fixed soon I'm afraid. Currently, I'm preparing for my final exams -- I'll try to be back on this in my summer vacation (in about 1mo), if anyone has a brilliant idea and cannot wait to have it fixed, please pick it up.

[2022-05-28 18:38] #2112 closed

[2022-05-29 07:42] operatorpk commented on #2161
Now I enabled JIT compiler debugging and executed the query, see log attached.

[QuestDB JIT debug 2022-05-29.csv](https://github.com/questdb/questdb/files/8792865/QuestDB.JIT.debug.2022-05-29.csv)

For now disabling JIT-compilation via the proposed environment variable fixes the problem. Thanks for helping although it's note quite satisfying.

[2022-05-30 06:51] puzpuzpuz opened #2167 "Support bind variables in WITHIN operator in LATEST ON queries"
WITHIN only supports constants ATM, while it would be nice to have support for bind variables:
https://questdb.io/docs/reference/operators/spatial/#within

[2022-05-30 07:21] puzpuzpuz opened #2168 "Improve indexing performance for symbol tables with large amount of distinct values"
### Scenario

A user is ingesting some data (~300M rows) into a table with 270K distinct symbol values. For each of these 270K symbols we end up with at least one `posix_fallocate()` necessary to add a new value block. See the below flamegraph - it's quite illustrative.

![Screenshot from 2022-05-27 13-03-10](https://user-images.githubusercontent.com/37772591/170937576-b6abdd41-c585-42df-9aa8-cc87

[2022-05-30 10:31] puzpuzpuz opened #2170 "Review whether QuestDB is vulnerable to CVE-2022-21449 and document mitigations for the end users"
### Describe the bug

ILP auth is using ECDSA to verify signatures, so it may be vulnerable to https://nvd.nist.gov/vuln/detail/CVE-2022-21449

We need to review this vulnerability and come up with mitigation instructions for the end users.

### To reproduce

_No response_

### Expected Behavior

_No response_

### Environment

[code]

### Additional context

_No response_

[2022-05-30 10:38] #2161 closed

[2022-05-30 16:06] TheTanc opened #2171 "Wrong results on DISTINCT on subqueries"
### Describe the bug

I am getting wrong query results on subqueries using DISTINCT

### To reproduce

Consider the following query

[code]

Results may be
```tickerA1, TickerA2, TickerB1, TickerB2, TickerC1, TickerC2```

However, consider the following:

[code]

Results are

Results may be
```tickerA1, TickerA2```

### Expected Behavior

In this case, the tickers across tables A,B,C are all uniqu

[2022-05-31 14:06] marregui opened #2173 "Update displays unexpected behaviour"
### Describe the bug

I have run the following queries using a PGWire client (https://github.com/marregui/quest):

1. Create a table:
[code]
2. insert two rows:
[code]
3. update the temperature
[code]

so far so good.

4. Add a column:
[code]
5. Set the value for the column to true:
[code]

This did not work, `sensor_data.isValid` remains false.

Bonus problem: In http the problem is worse.

### T

[2022-05-31 14:08] marregui commented on #2173
Supporting material which explains the problem in audio-visual media:

https://user-images.githubusercontent.com/255796/171193284-47317fe0-10e8-45f1-9c30-fd094c7c5e3c.mp4

[2022-05-31 16:42] ideoma commented on #2170
#2175 and #2172

[2022-05-31 18:12] #2173 closed

[2022-06-01 03:35] AND2797 commented on #2168
Looks interesting, going to try and take a look at this!

[2022-06-01 07:09] marregui opened #2179 "SET statement parses just fine by QuestDB, yet it is not meant to be valid"
### Describe the bug

Given this table definition (as a practical example):

[code]

and these two rows:

[code]

the following statement is legal, returning ok, yet producing no result:

[code]

Notice the missing `UPDATE sensor_data` that should prefix the statement, which would change its meaning.

The expected behaviour would be an exception along the lines of:

[code]

[2022-06-01 07:55] puzpuzpuz commented on #2168
Hi @AND2797

I've added a reproducer test to the issue description. Please note that the bottleneck shows up only on non-default index value block capacity (see the comments in the snippet).

[2022-06-01 10:22] puzpuzpuz opened #2181 "Flaky LogFactoryTest.testRollingFileWriterByHour test"
Occurred on windows-other runner:
[code]

[2022-06-01 11:52] lucgirardin opened #2182 "Inconsistent results between 6.3 and 6.4"
### Describe the bug

From the description of the queries below, you will see that:

`Query A1` with QuestDB 6.4 returns an incorrect number of rows
`Query A1` and `A2` are perform very poorly (and never even finish with larger databases)
`Query B1` results in a puzzling extra row

A copy of the database can be made available upon request.

[code]
`2442 rows`

[code]
`2442 rows`

[code]
`4106 rows

[2022-06-01 14:00] ideoma commented on #2182
It's certainly related to the bug that `UNION` does not apply `DISTINCT` on the whole result set at the moment. This is being fixed by #2123

[2022-06-02 07:18] alexey-milovidov commented on #1525
It is still relevant. The same error.

[2022-06-02 07:52] puzpuzpuz commented on #2182
Query A1 returns same 862 rows for me on both 6.3, 6.4 and latest commit from `master`. That's on Intel CPU, Ubuntu 20.04, OpenJDK 17.0.2. @lucgirardin could you double check this query and share your machine/OS/JRE specs?

[2022-06-02 07:54] lucgirardin commented on #2182
Will redo all the tests once a new version of QuestDB has been released with the UNION bug has been fixed.

[2022-06-02 16:41] GavinRay97 opened #2185 "Compatibility with Hasura: SQL Parse Error when querying `pg_catalog`"
### Describe the bug

Hiya, I was recently asked whether QuestDB can be used as a datasource for Hasura
I tried to add it via the pg wire protocol part, but the query we use for metadata introspection fails to parse:
- https://github.com/hasura/graphql-engine/blob/d5610242542eb10c8d3ba825f2bd34fb23fb4faf/server/src-rsr/pg_table_metadata.sql

Specifically, it seems like this part of the statement i

[2022-06-03 11:19] rahilbhansali commented on #2095
@jerrinot - Appreciate the comments and the thought. I think the issue is the double and the float. My bigger table had the column as a 'Float' but the csv I attached auto-detected the column as a double. I think @bziobrowski's explanation is probably the reason.

I'll take your recommendation to store it as an integer, appreciate it!!

Also - apologies for the serious delay in the response, I did

[2022-06-03 11:19] #2095 closed

[2022-06-03 11:34] Hnoooode opened #2186 "Hi"
@fuzzthink

[2022-06-03 11:35] bluestreak01 commented on #2186
Please do not spam the issues

[2022-06-03 11:35] #2186 closed

[2022-06-03 12:47] b0123456789 opened #2187 "A column has date type,but display datetime."
### Describe the bug

![a](https://user-images.githubusercontent.com/21169660/171856241-12fd56b8-9bf8-40e3-bb8b-3e4573965eab.png)

### To reproduce

_No response_

### Expected Behavior

_No response_

### Environment

[code]

### Additional context

_No response_

[2022-06-03 13:06] bluestreak01 commented on #2187
What is the issue here?

[2022-06-03 13:06] bziobrowski commented on #2187
@b0123456789  Please have a look at date definition at https://questdb.io/docs/reference/sql/datatypes/ .

[2022-06-03 16:05] b0123456789 commented on #2187
thanks

[2022-06-03 16:06] #2187 closed

[2022-06-03 16:46] ospqsp opened #2188 "Status: Unhealthy Unhandled errors: 3"
### Describe the bug

as you can see from the log file, I created an empty table, then tried to insert a small amount of data intoo it ~ 150MB. it took an inordinately long amount of time so I killed the client code.

I redacted the data to 10 lines of CSV and re-attempted client code is still hung after ~10 minutes of collecting log files etc.

the schema I was using is this:
'[{"name": "RIC", "t

[2022-06-03 16:52] ospqsp commented on #2188
Expected Behavior:
fail quickly and gracefully if something isn't correctly encoded (i am guessing at the timestamp encoding as I couldn't find an example or lexical definition that unambigously applies to my scenario)

[2022-06-03 18:50] bluestreak01 commented on #2188
Thanks, we should be able to fix this asap

[2022-06-05 07:13] b0123456789 opened #2189 "could not open read-only [file=/home/tey/.questdb/db/stock_history/default/change_percent.d"
### Describe the bug

_No response_

### To reproduce

1.Open web console
2.Run sql  `SELECT * from 'stock_history'`

### Expected Behavior

_No response_

### Environment

[code]

### Additional context

DDL:

CREATE TABLE 'stock_history' (
  ts TIMESTAMP,
  code SYMBOL capacity 256 CACHE index capacity 256,
  symbol STRING,
  market_type INT,
  name STRING,
  change_percent DOUBLE,
  settlement

[2022-06-05 07:37] puzpuzpuz commented on #2189
Could you include a full error log message? It should contain an OS error code in square brackets. Most likely the QuestDB process lacks file permissions or something as trivial.

[2022-06-05 09:57] b0123456789 commented on #2189
where is the log file?

[2022-06-05 09:58] b0123456789 commented on #2189
questdb.zip include all filles.

[2022-06-05 10:12] b0123456789 commented on #2189
[stdout-2022-06-05T18-02-46.zip](https://github.com/questdb/questdb/files/8839757/stdout-2022-06-05T18-02-46.zip)

File from ~/User/questdb./log

[2022-06-06 00:45] AND2797 commented on #2168
I am adding some code here I wrote to test for different index block sizes... probably this test can be written in a more elegant way, but here are the results at a glance - my file system is NTFS.

[code]

[code]

[2022-06-06 06:37] puzpuzpuz commented on #2189
The error code is 2:
[code]
which means that the file doesn't exist. I don't see any other meaningful errors in the log. Could it be the case that you were doing `kill -9` for the QuestDB process or maybe observing a crash? That could be the reason for the column file being absent.

[2022-06-06 07:24] b0123456789 opened #2191 "Update very slow"
### Describe the bug

Update 100 records take 10 seconds, query and insert is fast.

### To reproduce

Run script below

### Expected Behavior

_No response_

### Environment

[code]

### Additional context

[code]

[2022-06-06 07:28] bluestreak01 commented on #2191
Questdb is not a CRUD database. Updates are are supposed to be infrequent

[2022-06-06 07:41] b0123456789 commented on #2189
`kill -9` is  not the reason, I had try, it work well.
it happend  sometime when doing a lots of inserting .

[2022-06-06 07:43] b0123456789 commented on #2191
Is it  possible to being fast?

[2022-06-06 07:44] puzpuzpuz commented on #2189
Are you be able to reproduce it? As for this particular table, you should try recreating it if that's possible.

[2022-06-06 07:56] b0123456789 commented on #2189
Yes I can, recreating is ok after removing `~/$user/.questdb` and recreating table.
But it still  happend sometime when doing a lots of inserting .

[2022-06-06 07:58] puzpuzpuz commented on #2189
Could share a minimal reproducer for this issue?

[2022-06-06 07:58] puzpuzpuz commented on #2189
Also, can you see any errors in the server logs while you're doing inserts?

[2022-06-06 08:00] b0123456789 commented on #2189
server logs ?  where is it ?

[2022-06-06 08:01] b0123456789 commented on #2189
Content is same in   `~/$user/questdb./log/xx.log`

[2022-06-06 08:42] ideoma commented on #2191
Update speed will be roughly same for any record count you want to update. Speed depends mostly on the partition size you want to update.

If you want to update 200 records faster, do it in a single statement, it will be 200x faster.

[2022-06-06 09:28] puzpuzpuz commented on #2168
For me (Ubuntu 20.04 + ext4), runs with >1024 size may take quite a long time. Example:
[code]

[2022-06-06 09:33] puzpuzpuz commented on #2189
In the previously provided log file, I can see that you're running UPDATE statements in parallel with INSERTs. Also, TRUNCATE TABLE. Can you reproduce this issue reliably? If so, what do you do to make it happen?

[2022-06-06 12:19] b0123456789 commented on #2189
Only insert a lot of data.

[2022-06-06 12:21] b0123456789 commented on #2191
thanks, I'll try.

[2022-06-06 14:13] ideoma opened #2192 "Geohash to String Equals function has false positives"
### Describe the bug

Equals function for geohash and string may return TRUE on rows where string cannot be converted to geohash

### To reproduce

[code]

![image](https://user-images.githubusercontent.com/2159629/172177571-d081e1cd-76b2-4b29-a53d-5e94502a9580.png)

### Expected Behavior

Should only return records where both sides are nulls or same value

### Environment

[code]

### Additional

[2022-06-06 15:10] superichmann opened #2193 "Exporting float data to CSV E Format"
### Describe the bug

Hi,

I am exporting float data (in quest - double) to CSV and getting values such as 9.0E-4 instead of 0.0009

How can I instruct QuestDB to export the values in the same way they are presented in the UI?

Thanks :)

### To reproduce

Insert data from C# in line format with flaots.
Go to UI
Export as CSV

                        _sender
                            .Table("One

[2022-06-07 11:20] bluestreak01 opened #2195 "Flaky io.questdb.cutlass.pgwire.PGJobContextTest.testUpdateAsync"
### Describe the bug

Full log is attached below this snippet

[code]

[62.txt.zip](https://github.com/questdb/questdb/files/8852695/62.txt.zip)

### To reproduce

_No response_

### Expected Behavior

_No response_

### Environment

[code]

### Additional context

_No response_

[2022-06-07 12:10] MalikRizwanBashir commented on #166
Is this feature still alive or dropped?

[2022-06-07 12:17] puzpuzpuz commented on #2195
Maybe it be the same thing as what's addressed here https://github.com/questdb/questdb/blob/0c3c396b4f58609bc18ef1097d1edb40d4825e6a/core/src/test/java/io/questdb/griffin/engine/table/AsyncFilteredRecordCursorFactoryTest.java#L498-L510 ?

[2022-06-07 12:59] #2193 closed

[2022-06-07 12:59] superichmann commented on #2193
Fixed - Created a new table with explicit float data type and inserted from old table

[2022-06-07 13:15] pswu11 commented on #166
Hi @MalikRizwanBashir our team is currently working on the related feature. What is your use case?

[2022-06-08 09:01] 362115815 opened #2197 "tcp-line-server disconnected without any error message output in log file"
### Describe the bug

I'm using ILP to insert data,  but the tcp-line-server always disconnect after sending several rows. I couldn't find some error message in log file,  so I printed out the row data and finally found that there is a space char in a symbol column value, eg:
'test,name=sss ,ind=ddd value=13\n' , the right format should be 'test,name=sss\ ,ind=ddd value=13\n'

the log writer didn'

[2022-06-08 10:43] ideoma opened #2199 "AWS marketplace image should have file limit extended to max for QuestDB service"
### Describe the bug

Setting file limit to max is not trivial on our AMI image, we should set it for the users ourself

Here is the instruction of how to do it on the running box, we need to pre-run it on the AMI

Add the following to /etc/sysctl.conf (sudo):
[code]

Apply the above changes (sudo):

[code]

Since the database is run as root, add the following lines to /etc/security/limits.conf (s

[2022-06-08 12:55] Luyang2902 opened #2201 "support create view"
### Is your feature request related to a problem?

why not support view ?it's very important function to database.

### Describe the solution you'd like.

_No response_

### Describe alternatives you've considered.

_No response_

### Additional context.

_No response_

[2022-06-08 13:58] cumtqiangqiang opened #2202 "recent unsafe memory access operation in compiled Java code"
### Describe the bug

java.lang.InternalError: a fault occurred in a recent unsafe memory access operation in compiled Java code
at io.questdb.cairo.SymbolMapWriter.lookupPutAndCache(SymbolMapWriter.java:267) ~[questdb-6.4-jdk8.jar:6.4-jdk8]
at io.questdb.cairo.SymbolMapWriter.put(SymbolMapWriter.java:194) ~[questdb-6.4-jdk8.jar:6.4-jdk8]
at io.questdb.cairo.SymbolMapWriter.put(SymbolMapWriter.jav

[2022-06-08 13:59] bluestreak01 commented on #2202
this is embedded use-case I am assuming ? Could you share the inserting code ?

[2022-06-08 15:07] bluestreak01 commented on #2202
cool, what is table structure ? Reason I ask is that `row.put*` calls do not do any checked as to value vs column types. It is hugely important not to insert wrong value into columns.

[2022-06-08 15:19] cumtqiangqiang commented on #2202
The table structure type is the same with the value type. If it is different ,I think it will not insert any data,but it insert about 850000 rows. And I changed one of Symbol type to string type, then it can run normal for long time, is there any issue about symbol type ? . I'll keep watching my program running status.

[2022-06-08 15:40] cumtqiangqiang opened #2203 "Caused by: io.questdb.cairo.CairoException: [0] Partition '1970-01-01.0' does not exist"
### Describe the bug

Caused by: io.questdb.cairo.CairoException: [0] Partition '1970-01-01.0' does not exist in table 'XXX directory. Run [ALTER TABLE account_update DROP PARTITION LIST '1970-01-01.0'] to repair the table or restore the partition directory.

Occasionally I come across this problem，I need to drop the table and recreate, is it an issue ?

[2022-06-08 16:17] bluestreak01 commented on #2202
which column index is timestamp ?

[2022-06-08 16:40] cumtqiangqiang commented on #2202
create table if not exists table_test (time timestamp,
host symbol,
cluster symbol,
tesk symbol,
timeMs long,
exchTimeMs long,
order string,
idText string,
ccy string) timestamp(time) PARTITION BY DAY;    It is the sql.

[2022-06-08 16:46] bluestreak01 commented on #2202
when first column is the timestamp you should populate columns starting with 1, e.g.

[code]

column types have to match `put*()` calls exactly, e.g. you cannot `r.putStr(x, "abc")` into `SYMBOL` column

[2022-06-08 16:55] cumtqiangqiang commented on #2202
Yes , I do, I create column index use ++i,
int i = 0;
row.putSym(++i, this.hostName);
row.putSym(++i, this.cluster);
row.putSym(++i, this.tesk);

[2022-06-08 16:55] cumtqiangqiang commented on #2202
Yes , I do, I create column index use ++i,
int i = 0;
row.putSym(++i, this.hostName);
row.putSym(++i, this.cluster);
row.putSym(++i, this.tesk);

[2022-06-08 16:57] bluestreak01 commented on #2202
oh, I should have read this more intently:

Could you elaborate on 3 threads ? These threads insert into the same table or several ?

[2022-06-09 05:46] cumtqiangqiang opened #2204 "A fatal error has been detected by the Java Runtime Environment"
### Describe the bug

Batch insert about 1h later, I select some data use web console sql ,then the questdb service will crashed. I can you have fixed the similar issue. is it the same issue ?

[code]

### To reproduce

_No response_

### Expected Behavior

_No response_

### Environment

[code]

### Additional context

_No response_

[2022-06-09 05:47] cumtqiangqiang commented on #2204
sorry,there is an issue show on this page, looks bad.

[2022-06-09 14:21] bluestreak01 commented on #2204
@cumtqiangqiang could you attach the /data/home/user/soft/questdb-6.4-rt-linux-amd64/hs_err_pid8977.log please ?

[2022-06-09 14:22] bluestreak01 commented on #2202
I'm going to link issues together, since they stem from the same use-case:

https://github.com/questdb/questdb/issues/2204
https://github.com/questdb/questdb/issues/2203

[2022-06-09 14:26] bluestreak01 commented on #2202
It would most certainly help of you could share your publishing code unredacted. 6.4 ingests data over 1000s of instances with no problem. It would make sense to try to study writing code first.

Regarding `p1` and `p2` - are these processes ? We do not have any code that would cause writing `processes` communicate with each other. If they die simultaneously, I would look at external causes, such

[2022-06-10 04:33] vino486 opened #2207 "why questdb cannot insert rows out of order?"
I'm trying to insert live stream data. Sometimes there is the following error message: "questdb cannot insert rows out of order".

[2022-06-10 06:05] puzpuzpuz commented on #2207
Out of order ingestion is not supported on non-partitioned tables. It could be what you observe. Could you check your table schema, say, via Web Console? To do that hover the mouse over the table name and click the right mouse button. There will be a Copy schema menu item that you should use.

[2022-06-10 14:46] bluestreak01 commented on #2202
This is the sign of corrupt table. Please, provide publishing code - the issue is there

[2022-06-10 14:51] cumtqiangqiang commented on #2202
you mean you want the code that I how to  insert to questdb right? Thanks.

[2022-06-10 14:51] cumtqiangqiang commented on #2202
you mean you want the code that I how to  insert to questdb right? Thanks.

[2022-06-10 14:56] cumtqiangqiang commented on #2202
sure ,I will show my code later, Thank you very much for you quick replay. Thanks

[2022-06-11 10:13] john1337 opened #2213 "does questdb support cluster ?"
### Is your feature request related to a problem?

there are a lot of of data in iot circumstancr,so i am wondering does questdb support cluster

### Describe the solution you'd like.

_No response_

### Describe alternatives you've considered.

_No response_

### Additional context.

_No response_

[2022-06-11 15:51] cumtqiangqiang commented on #2202
https://github.com/cumtqiangqiang/QuestDbPro/blob/main/src/main/java/app/sink/QuestdbSink.java

This is the code write to questdb. And for my code,there is consumer thread consume data from kafka ,then write to questdb. so I ran a simulation of my own program in this demo. Thanks.

[2022-06-11 20:15] #1749 closed

[2022-06-13 08:43] suconghou opened #2216 "parse error"
### Describe the bug

[code]

### To reproduce

telegraf 1.22.4 with config

[code]

### Expected Behavior

_No response_

### Environment

[code]

### Additional context

_No response_

[2022-06-13 08:50] #2207 closed

[2022-06-13 08:52] ideoma commented on #2213
No, as of current version 6.4.1 it does not. There are few workarounds like mirroring the input to multiple instances. This is high in the roeadmap

[2022-06-13 08:52] #2213 closed

[2022-06-14 02:11] suconghou opened #2219 "memory leak - group by string"
### Describe the bug

[code]

at lease 10000 rows in the table

### To reproduce

use web conosle

exec these sql one by one , memory cost increased almost 500MB after all the sql executed

[code]

### Expected Behavior

_No response_

### Environment

[code]

### Additional context

_No response_

[2022-06-14 02:34] 362115815 commented on #1268
Use row_number to make a compromise,  eg:

[code]

[2022-06-14 05:48] cumtqiangqiang commented on #2202
forget to tell you that, access data by webconsole ,This error happens offen.

[2022-06-14 06:13] bluestreak01 commented on #2219
Can it be cache?

[2022-06-14 06:48] suconghou commented on #2219
but it eventually cost 4GB memory and does not reduce for hours , when it started, it cost 500MB , just with some query , it runs out of memory within a day

[2022-06-14 08:45] postol opened #2221 "Ability to monitor behavior and statistics of queries"
### Is your feature request related to a problem?

We are seeing performance degradation of quest but without visibility to query statistics it is a bit difficult to find out what is causing the performance issues. It seems it is not ingestion side based on currently exposed metrics.

### Describe the solution you'd like.

Currently the database expose quite a few very helpful metrics related to w

[2022-06-14 09:42] puzpuzpuz commented on #2221
Thanks for creating the issue!

The number of executed queries counter is a piece of cake. Execution times for queries should ideally be a histogram metric. As for the most consuming queries, I don't think they should be exposed as a metric. That's because for many users each query may be unique and exposing them as a metric would lead to high cardinality which is problematic in Prometheus. We'd b

[2022-06-14 10:26] postol commented on #2221
100% agree and definitely makes sense

[2022-06-14 11:19] bluestreak01 opened #2222 "Flaky io.questdb.cutlass.http.DispatcherWriterQueueTest.testAlterTableAddDisconnect"
### Describe the bug

failed on Linux, full log attached

[code]
[56.txt.zip](https://github.com/questdb/questdb/files/8899234/56.txt.zip)

### To reproduce

_No response_

### Expected Behavior

_No response_

### Environment

[code]

### Additional context

_No response_

[2022-06-14 14:02] bluestreak01 opened #2224 "Flaky io.questdb.cutlass.http.DispatcherWriterQueueTest.testRestUpdateTimeout"
### Describe the bug

Memory leak in the test below. Full log is attached.

[code]

[70.zip](https://github.com/questdb/questdb/files/8900432/70.zip)

### To reproduce

_No response_

### Expected Behavior

_No response_

### Environment

[code]

### Additional context

_No response_

[2022-06-14 14:21] amunra opened #2225 "ILP: Support parsing floating point with exponential notation"
The ILP protocol fails to parse floating points with exponential notation.

For example, the following line can't be parsed:

[code]

Currently, as a work-around, client libraries need to avoid exponential notation.

[code]

[2022-06-14 14:22] amunra commented on #2225
For more context, see: https://github.com/questdb/c-questdb-client/issues/3.

[2022-06-14 17:44] #2222 closed

[2022-06-15 08:12] pswu11 commented on #2182
Hi @lucgirardin we released a patch version last week: https://github.com/questdb/questdb/releases/tag/6.4.1 including the bug fix #2123 - could you give it a try and let us know if this fixes your issue? Thanks!

[2022-06-15 10:20] ideoma commented on #2224
Should be fixed in #2226

[2022-06-15 10:20] #2224 closed

[2022-06-15 12:20] #2082 closed

[2022-06-15 12:20] #2083 closed

[2022-06-15 12:59] pswu11 commented on #2201
Hi @Luyang2902 please provide more context on the feature and how you intend to achieve. Thanks!

[2022-06-15 14:44] #1840 closed

[2022-06-15 15:00] pswu11 commented on #2171
Hi @TheTanc could you double check whether this is fixed by #2123 in 6.4.1? Thanks!

[2022-06-15 15:25] #1984 closed

[2022-06-15 17:17] bluestreak01 commented on #2202
thanks, so these are the fields on the table, please notice types (i'm skipping `time` field 0 here):

[code]

this is how your code writes them:

[code]

[2022-06-15 19:26] cumtqiangqiang commented on #2202
Seems you didnot see this new code.And there is sql to create table.I thinks it is match with the field type.Thanks
https://github.com/cumtqiangqiang/QuestDbPro/blob/main/src/main/java/app/sink/QuestdbSink.java
create table if not exists  test_position
(
pTime timestamp,
pBookId symbol,
count int,
pOrder string,
pTag symbol,
margin double,
rate double,
mode symbol
) timestamp(pTime) PARTITION BY D

[2022-06-16 02:34] suconghou opened #2231 "merged partition frequently caused disk io util 100%"
### Describe the bug

2022-06-16T02:18:11.380483Z I i.q.c.TableWriter purged [path=/root/.questdb/db/access_log/2022-06-16T01.38019]
2022-06-16T02:18:11.425173Z I i.q.c.TableWriter sorting o3 [table=access_log]
2022-06-16T02:18:11.425466Z I i.q.c.TableWriter sorted [table=access_log]
2022-06-16T02:18:13.011681Z I i.q.c.TableWriter merged partition [table=`access_log`, ts=2022-06-16T01:00:00.000000

[2022-06-16 03:11] suoyi123wang opened #2232 "Infinit Loop"
### Describe the bug

There is infinit loop in method `searchValueBlock`  whose class is `io.questdb.cairo.BitmapIndexUtils`

### To reproduce

Here is the test case:
<img width="708" alt="image" src="https://user-images.githubusercontent.com/44200574/173982543-5314479b-c6d2-4265-8876-485f444010f1.png">

Here is the source code:
<img width="741" alt="image" src="https://user-images.githubuserconte

[2022-06-16 10:42] ideoma opened #2233 "When vm.max_map_count is low Java_io_questdb_std_Rosti_keyedIntCount can crash QuestDB"
### Describe the bug

When vm.max_map_count is not sized enough and `DISTINCT symbol_col` runs with rosti count in 6.4 it can crash QuestDB with

[code]

### To reproduce

- Create a database with 1000 tables with symbol column. Can be same table copied with different name
- Set vm.max_map_count to 1024
- Run `SELECT DISTICNT symbol_col FROM <table>` on every table

### Expected Behavior

QuestDB

[2022-06-16 10:53] ideoma opened #2234 "Increase vm.max_map_count in docker image"
### Is your feature request related to a problem?

Our docker image has default setting in /etc/sysctl.conf

`vm.max_map_count`

This is not enough for databases with lots of files.

### Describe the solution you'd like.

We should set higher limit in /etc/sysctl.conf, perhaps

[code]

### Describe alternatives you've considered.

_No response_

### Additional context.

_No response_

[2022-06-16 13:54] stekman opened #2235 "Upgrade 6.2 to 6.4.1 fails with crash if there is corrupt data"
### Describe the bug

We have been running the docker image for 6.2 for a while testing our application. 6.2 has been crashing some times during this time leaving corrupt tables on disk. Crashes were due to out-of-memory and some csv-imports with special characters in header names (I will later investigate if this bug is still alive, but this is not the current issue). All the broken tables have .

[2022-06-16 14:06] ideoma commented on #2235
Thanks for comprehensive description. Would be good to see corrupt table if possible or a csv to create it. Unfortunately presence of `.lock` file does not necessary mean that the table is corrupt.

[2022-06-16 14:23] stekman commented on #2235
He was quick with giving ok for one of the files (columns get duplicated in import in this).
Uploaded file:
[duplicate_columns_in_quest.csv](https://github.com/questdb/questdb/files/8919668/duplicate_columns_in_quest.csv)

Resulting folder:
[t_29a93738-3e89-47c6-ad0d-a7bf7ffb8f7a.zip](https://github.com/questdb/questdb/files/8919697/t_29a93738-3e89-47c6-ad0d-a7bf7ffb8f7a.zip)

[2022-06-16 14:53] ideoma commented on #2234
Docker container will take the host setting, no way to change from within the image

[2022-06-16 14:53] #2234 closed

[2022-06-16 14:57] bluestreak01 commented on #2231
are you using QuestDB embedded ?

[2022-06-17 01:56] suconghou commented on #2231
@bluestreak01  no, I am using it by docker  image `questdb/questdb`, which version is 6.4.1

[2022-06-17 05:26] DylanQiao commented on #1645
i have the same issue when i exit the Thread and re-run the function

[2022-06-17 05:26] DylanQiao commented on #1645
<version>6.4-jdk8</version>

[2022-06-17 08:32] puzpuzpuz commented on #532
Closing this one since Prometheus endpoint was added. Feel free to create separate GH issues around potential enhancements.

[2022-06-17 08:32] #532 closed

[2022-06-17 09:54] ideoma commented on #2202
If you post a trimmed version of your application to open source (or via slack) where we can reproduce the issue we can help to debug.

Embedded usage is "unsafe" there are too many ways to break the database and it's hard to establish what you're doing wrong by exception message, corrupt table examples and parts of the code.

[2022-06-17 10:52] ideoma commented on #2225
QuestDB supports exponential notation especially after #2211

[2022-06-17 10:52] #2225 closed

[2022-06-17 11:01] ideoma commented on #2216
Can you include Telegraf QuestDb connection configuration please?

[2022-06-17 11:03] ideoma commented on #2204
Closing this one, embedded DB use, let's try to figure out what's going on in #2202

[2022-06-17 11:03] #2204 closed

[2022-06-17 11:04] ideoma commented on #2203
Closing this one, embedded DB use, let's try to figure out what's going on in #2202

[2022-06-17 11:04] #2203 closed

[2022-06-17 11:08] ideoma commented on #2197
We have built few ILP client for different platforms, they check validity of the fields.

https://github.com/questdb/net-questdb-client
https://github.com/questdb/c-questdb-client
https://github.com/questdb/go-questdb-client

Re the original issue, log can swallow some line under pressure. Was the server logging a lot the moment the disconnect happened?

[2022-06-17 13:07] suconghou commented on #2216
@ideoma

`/etc/telegraf.conf`
[code]
telegraf --config /etc/telegraf.conf

[code]

[code]

[2022-06-17 13:07] cumtqiangqiang commented on #2202
upload this demo for about many days. this demo can Reproduce the problem.After insert about 40 mins, select by webconsole, the questdb will crash.
https://github.com/cumtqiangqiang/QuestDbPro/blob/main/src/main/java/app/sink/QuestdbSink.java
create table if not exists test_position
(
pTime timestamp,
pBookId symbol,
count int,
pOrder string,
pTag symbol,
margin double,
rate double,
mode symbol
)

[2022-06-17 13:14] ideoma commented on #2216
We don't allow '-' (minus) char in column name

https://github.com/questdb/questdb/blob/944ee3aff891df389fe1862db03698829cc05de1/core/src/test/java/io/questdb/cairo/TableUtilsTest.java#L50

[2022-06-17 13:22] ideoma commented on #2202
Can you put together  how to run it? I started `App.main` and got back

[code]

[2022-06-17 13:41] ideoma commented on #2202
If I insert code to create table when engine create I run to the end like

[code]

everything runs happily to the end

[code]

[2022-06-17 13:48] cumtqiangqiang commented on #2202
I create table by webconsole. suppose it has issue ? thanks , I will try it. I can run this demo happily to the end too. the key issue is that after about 40 minutes, I select data by web, the table is crashed.

[2022-06-17 13:57] ideoma commented on #2202
Perhaps your table definition mismatch between your Web and Embedded API. Try to drop and re-create table

[2022-06-17 14:02] cumtqiangqiang commented on #2202
droped many times.

[2022-06-17 14:06] suconghou commented on #2216
@ideoma  then we need some workaround  to ignore this column , or tell telegraf to fix this

[2022-06-17 14:09] puzpuzpuz commented on #1384
Implemented and available on https://github.com/questdb/go-questdb-client

[2022-06-17 14:09] #1384 closed

[2022-06-17 14:30] ideoma commented on #2216
Can you ignore it at the source? What sends to the telegraf? The second message has invalid unquoted strings, so it's not only problem of the column names, whole data stream need some sort of clean up

[2022-06-17 18:41] #2233 closed

[2022-06-20 00:37] jacksonlancaster opened #2241 "Add substring function"
substring(string strtoeval, star int, end int)

[2022-06-20 01:22] 362115815 commented on #2197
Nope, I sent only one line manually in python env through the socket and the disconnect happened. Not tested in other platforms. And other invalid case like an integer column received a float value,  the server would disconnect with an error msg:
[code]

[2022-06-20 08:54] jerrinot commented on #2241
Hello @jacksonlancaster,

thanks for raising a feature request. Can you please describe the use-case a bit? Is meant clean data before presenting them to the application? Or perhaps for joining?

[2022-06-20 15:01] zamazan4ik opened #2246 "Document supported hardware architectures"
Hi!

Could you please put the information about supported architectures to the documentation please? E.e. about supported architectures for different operating systems, some specific requirements to the supported instructions, if you have any (e.g. maybe AVX is required - I do not know). I have found information only about supporeted operating systems. Also, after some research I have found a JIT

[2022-06-20 15:07] bluestreak01 commented on #2246
JIT is limited to AVX2 amd64 architecture, does not yet work on ARM

[2022-06-21 03:13] HeZean commented on #2241
Hi @jerrinot, what about just let me first impl a `substring` function which works same as psql? Don't let my proposal interrupt your discussion : )

[2022-06-21 10:15] puzpuzpuz commented on #262
UPDATE support was added in 6.4.

[2022-06-21 10:15] #262 closed

[2022-06-21 10:25] puzpuzpuz opened #2252 "Change Data Capture (CDC) support"
### Is your feature request related to a problem?

A number of users requested a way to "listen" to database changes instead of pulling it themselves. If we add support for [CDC](https://en.wikipedia.org/wiki/Change_data_capture) say, via integration with [Debezium](https://debezium.io/), that would be feasible.

Another use case would be exporting data into misc sinks, such as message queues, BLO

[2022-06-21 20:56] jacksonlancaster commented on #2241
@jerrinot Yes the purpose is to help filter out the data before presenting to the applicaiton.

[2022-06-22 07:57] juancastellano115 opened #2256 "Use of deprecated NodeJS package in documentation"
Hi!

I was reviewing this page of the documentation https://questdb.io/docs/develop/query-data#http-rest-api, and just noticed the NodeJS example in the **HTTP REST API** section is using the `querystring` package, which has been deprecated.

SOLUTION:

- Use the URLSearchParams built-in function

The NodeJS example could be something like this:

[code]

Thanks for your time!

[2022-06-22 19:36] bluestreak01 opened #2259 "Flaky PGJobContextTest.testUpdateAsyncWithReaderOutOfDateException"
### Describe the bug

The issue may not be this test specifically, but most likely async offload without JIT. This failed on ARM64. `CB2` is circuit breaker used by async offload

[code]

### To reproduce

_No response_

### Expected Behavior

_No response_

### Environment

[code]

### Additional context

_No response_

[2022-06-23 08:28] marregui commented on #1679
Hi @XinyiQiao , thank you very much for offering help!! another T-shirt in the horizon :)
You are very welcome to work on the issue, we have assigned it to you.
Have a lot of fun!!

[2022-06-23 08:31] bluestreak01 opened #2260 "Flaky PGFlushQueryCacheTest.testFlushQueryCache"
### Describe the bug

[code]

### To reproduce

_No response_

### Expected Behavior

_No response_

### Environment

[code]

### Additional context

_No response_

[2022-06-23 14:39] bluestreak01 opened #2261 "Flaky TableReaderTest.testAddColumnPartitionConcurrentCreateReader"
### Describe the bug

[code]

### To reproduce

_No response_

### Expected Behavior

_No response_

### Environment

[code]

### Additional context

_No response_

[2022-06-23 21:34] AbdelouahabKhelifati opened #2262 "Error file [errno=2, path=/path/] although file exists"
I have launched QuestDB through this way:

    docker run -p 9000:9000 --memory="100g" --name docker_questdb -v questdb/questdb

After uncommenting the following line in the `server.conf`:

    cairo.sql.copy.root=

Then running the import command:

    COPY d1temp FROM '/home/user/d1_data/d1.csv'

would generate the following error:

    QuestDB could not open file [errno=2, path=/home/user/d1_da

[2022-06-24 07:57] #2259 closed

[2022-06-24 07:59] shlex opened #2265 "Version 6.4.1 failed to drop table on windows system"
### Describe the bug

log : Table remove failed

### To reproduce

CREATE TABLE my_table(ts timestamp,col int) timestamp(ts);

DROP TABLE 'my_table';

### Expected Behavior

_No response_

### Environment

[code]

### Additional context

2022-06-24T07:53:43.448957Z I i.q.c.h.p.JsonQueryProcessorState [1748] exec [q='select build']
2022-06-24T07:53:43.449013Z I i.q.c.h.p.QueryCache hit [thread=ques

[2022-06-24 08:04] bziobrowski commented on #2265
Hi @shlex . Windows error code 5 is 'Access denied' . Please check if qdb process/user has rights to remove the table .
Maybe table was created when qdb was running as administrator and now it's running as regular user or something made the file read-only .

[2022-06-24 09:51] puzpuzpuz opened #2266 "Flaky LineTcpReceiverUpdateFuzzTest.testInsertUpdateSequential test"
Failed on mac-other:
[code]

Adding more context:

[code]

[2022-06-24 11:56] pokliu opened #2267 "An undeletable partition appears in questdb"
### Describe the bug

Run: select * from aws_iot_device_shadow_update order by ts desc limit 10;

[19:47:20] Partition '54448-04-21' does not exist in table 'aws_iot_device_shadow_update' directory. Run [ALTER TABLE aws_iot_device_shadow_update DROP PARTITION LIST '54448-04-21'] to repair the table or restore the partition directory.

Run: ALTER TABLE aws_iot_device_shadow_update DROP PARTITION LI

[2022-06-24 14:21] phc27x opened #2269 "double precision is not faithful with other IEEE 754 double systems"
### Describe the bug

QuestDB is misparsing floating point numbers represented as string.

Numbers which are distinguishable in IEEE are coming back as indistinguishable from Quest.

Does QuestDB provide any method for 100% faithful insert of IEEE doubles? And 100% faithful reading of doubles back from the database? ( eg some db use extra-precision-digits as a way to guarantee faithful export out

[2022-06-24 14:38] bluestreak01 commented on #2269
thanks, we use an implementation of https://www.researchgate.net/publication/2295884_How_to_Read_Floating_Point_Numbers_Accurately

For more context the issue is with string-to-double conversion, for this:

[code]

produces:

[code]

[2022-06-24 14:39] bluestreak01 commented on #2269
as a side note, we'd like to converge on binary data transfer quite soon

[2022-06-24 15:28] phc27x commented on #2269
Thanks for prompt reply. FWIW the values am using were chosen as exact double with extra precision in following way:

[code]
Gives what should be unambigously correct decimal-string version of what these double-precision values mean:
[code]
And the bug is evidenced by fact QuestDB confuses the middle two as being the same value:
[code]

[2022-06-24 18:08] #2260 closed

[2022-06-26 18:11] alexey-milovidov opened #2272 "Sometimes it hangs and refuse to process more queries."
### Describe the bug

I've set up QuestDB on a fresh VM with Ubuntu 22.04 and trying to run some queries:

[code]

create.txt:
[code]

queries.sql:
[code]

run.sh:
[code]

Initially, I faced many troubles with the queries, including:
- HAVING is not supported;
- COUNT(DISTINCT) is not supported;
- count_distinct does not work for `long`;
- if I set up a designated timestamp column, it skips almost

[2022-06-26 18:28] bluestreak01 commented on #2272
Hi Alexey, thank you for your continued interest and the comprehensive benchmark! We appreciate it a lot and it is our goal to make QuestDB better. We're already on the way to address some of the benchmark woes:

- `having` syntax is indeed not yet supported, however functionally `having` can be replaced with sub-query, e.g.
[code]

it might be a good idea though for SQL optimiser to support `havi

[2022-06-27 03:51] suconghou opened #2274 "program dead but docker keeps running"
### Describe the bug

when the docker run a few days , it logs

[code]

it seems program have dead , I can not open the web ui.

but the docker is not dead , it keeps running

### To reproduce

_No response_

### Expected Behavior

_No response_

### Environment

[code]

### Additional context

_No response_

[2022-06-27 03:58] suconghou commented on #2274
when I restart the docker , It go into  this bug  https://github.com/questdb/questdb/issues/2231 caused disk io util 100%

[code]

[2022-06-27 08:02] ideoma commented on #2272
Thanks for creating the issue @alexey-milovidov

`LIMIT OFFSET ` has different syntax. Use LIMIT <lower bound>,<upper bound> instead
https://questdb.io/docs/reference/sql/limit/

Could you elaborate what `string != null` or `string=null` query produces wrong result? I don't see word `null` in the queries list.

[2022-06-27 10:26] bziobrowski commented on #2265
Hi @shlex . I was able to reproduce and prepared a fix that should go out in 6.4.2 .

For the time being - you should be able to delete any table after qdb restart .

[2022-06-27 16:07] #2146 closed

[2022-06-27 16:24] #2199 closed

[2022-06-28 07:30] puzpuzpuz commented on #2256
One small addition. There is a simpler way to URL encode query params - that's [`encodeURIComponent()`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/encodeURIComponent) function:
[code]

[2022-06-28 08:44] oddcitizenape commented on #2265
The bug behaves a bit differently for me - I can delete a table exactly once. If you try to delete a second table, it is only partially deleted (except for the files _meta, _todo_, _txn, _txn_scoreboard). As a result, the table is still listed, but can no longer be read or deleted - even after restarting QuestDB.

Here is an excerpt from the log:

2022-06-28T08:32:25.989617Z I i.q.c.h.p.JsonQueryP

[2022-06-28 09:00] bziobrowski commented on #2265
It is the same thing and depends on how many times tables() function was called from how many threads (because statements are cached per-thread) and which table it listed last by the function .
Windows doesn't allow deleting open files so delete statement starts removing files in table directory until it finds the first one it can't and then returns error code . Directory traversal order is filesy

[2022-06-28 11:59] lucgirardin commented on #2182
Unfortunately nor 6.4.1 nor 6.4.2 fix the issue for me. Using these version, I get no result (after a long delay) for the following query:

`{"query":"SELECT DISTINCT * FROM bus INNER JOIN ((SELECT datetime,\"from\" as busId FROM branch WHERE logical) UNION (SELECT datetime,\"to\" as busId FROM branch WHERE logical)) u ON bus.busId = u.busId AND bus.datetime = u.datetime WHERE bus.datetime = to_ti

[2022-06-28 12:25] #2262 closed

[2022-06-28 17:12] juancastellano115 commented on #2256
Great suggestion @puzpuzpuz! Thanks for sharing it, I just created the [PR](https://github.com/questdb/questdb.io/pull/916) using [encodeURIComponent](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/encodeURIComponent) in all the NodeJS examples of the documentation. 😄

[2022-06-29 03:54] pokliu commented on #2267
I may have reproduced the bug, but it has nothing to do with the datatable migration. When I submit data using `pg` protocol and the timestamp is wrong (1000 times larger than the nanosecond value), questdb may not verify the timestamp, so an illegal partition is created

[2022-06-29 10:34] huuhait opened #2285 "Add support LIMIT and ORDER BY for SAMPLE BY"
### Is your feature request related to a problem?

_No response_

### Describe the solution you'd like.

Hi, for now I can't use limit in SAMPLE BY
![image](https://user-images.githubusercontent.com/40519768/176416174-fae5dfa5-313d-48fc-95f6-601ae87020e7.png)

Hope questdb will support it

### Describe alternatives you've considered.

_No response_

### Additional context.

_No response_

[2022-06-29 11:33] puzpuzpuz opened #2286 "Flaky PGFlushQueryCacheTest.testFlushUpdateCache"
### Describe the bug

Failed on linux-arm64:
[code]

### To reproduce

_No response_

### Expected Behavior

_No response_

### Environment

[code]

### Additional context

_No response_

[2022-06-29 13:18] bluestreak01 commented on #2285
I wish I could just copy-paste SQL from your screenshot ....

[code]

[2022-06-29 13:32] bluestreak01 commented on #2285
what do you mean by "it will be lag"?

[2022-06-29 14:24] amunra commented on #2269
Round-tripping issues also with these numbers:
[code]

[2022-07-01 06:59] puzpuzpuz commented on #2219
@suconghou could you set `http.query.cache.enabled=false` and `pg.select.cache.enabled=true` [config](https://questdb.io/docs/reference/configuration) properties and try repeating the experiment? These properties disable query caches for HTTP and PG Wire APIs. If this helps, then you should consider fine-tuning `*.cache.block.count` and `*.cache.row.count` values for the caches to limit overall me

[2022-07-01 07:00] puzpuzpuz commented on #2201
Related to https://github.com/questdb/roadmap/issues/16

[2022-07-01 07:02] puzpuzpuz commented on #2195
Should be fixed with #2263. Feel free to reopen if this test failure reoccurs.

[2022-07-01 07:02] #2195 closed

[2022-07-04 15:27] ideoma opened #2294 "SQL: `select * trades` should be parse error"
### Describe the bug

_No response_

### To reproduce

1. go to (demo)[https://demo.questdb.io/]
2. query `select * trades`. Note of missing `FROM` keyword

One row with 1 returned

### Expected Behavior

SQL error

### Environment

[code]

### Additional context

_No response_

[2022-07-05 09:47] #2148 closed

[2022-07-05 12:50] ideoma opened #2295 "Incorrect ORDER BY priority"
### Describe the bug

_No response_

### To reproduce

1. On Demo run
[code]
2. Observe timestamp order is DESC

### Expected Behavior

Order by should first by first clause then second if the items within first are equal. The query should return data sorted in ASC order by timestamp

### Environment

[code]

### Additional context

_No response_

[2022-07-06 06:32] puzpuzpuz opened #2297 "Support PARTITION BY WEEK"
### Is your feature request related to a problem?

We have users periodically asking for week-based partitioning.

### Describe the solution you'd like.

Add WEEK to the PARTITION BY options.

### Describe alternatives you've considered.

_No response_

### Additional context.

This PR should give enough hints on how to implement this feature: https://github.com/questdb/questdb/pull/1571

[2022-07-06 23:01] shimondoodkin opened #2300 "allow select uncommitted ilp data"
### Is your feature request related to a problem?

i insert data to server but dont see it for next few minutes.

### Describe the solution you'd like.

any solution that would allow me to use inserted data in real time. to use data base as realtime database not as archive. with ilp api

### Describe alternatives you've considered.

not using database at all, my current solution, switching to anot

[2022-07-06 23:08] shimondoodkin commented on #1268
duplicate #2007

[2022-07-07 05:29] puzpuzpuz commented on #2297
@Diemarg sure thing. Assigned you to this issue. Look forward to seeing your contribution. 👍

[2022-07-07 15:21] ideoma opened #2302 "SQL: push UNION result filters into each part"
### Is your feature request related to a problem?

Union used to push filters into the sub queries but it was abandoned in 6.4.2 because the tables can have different column names.

### Describe the solution you'd like.

When query

[code]

it should push `datetime = '2026-10-05T09:55'` filter into UNION parts like this

[code]

### Describe alternatives you've considered.

_No response_

### Addi

[2022-07-07 15:24] ideoma commented on #2182
I am fixing empty result set you observed, it should be timeout error instead. The reason for slowness described in #2302, it's an expected performance regression in order to fix query correctness taken in 6.4.2

[2022-07-08 13:22] devcydo commented on #2241
Hi. I would like to take this issue but I can see that is already in status Todo, is someone else working on it?

[2022-07-08 13:24] devcydo commented on #2118
Hi! I would like to take this issue but I can see that is already in progress, is someone else working on it?

[2022-07-08 13:26] KevinChen16 commented on #2118
Sure! Feel free to take this issue!

[2022-07-09 06:31] pokliu opened #2307 "ILP insert data error"
### Describe the bug

My AWS server disk was full today, and when I expanded the disk capacity, two of my three ILP TCP clients (the two with high data transfer volume) couldn't write data to QuestDB.

QuestDB logs are as follows:

[code]

The `db` folder:
[code]

I tried increasing `vm.max_map_count` and then reboot both questdb and ILP client:
[code]
still not working

### To reproduce

_No resp

[2022-07-10 11:16] jerrinot commented on #353
fwiw: this is a possible workaround `select * from all_tables order by table;` or simply `all_tables order by table;`

[2022-07-11 09:06] ideoma opened #2308 "SQL: Negative limit with indexed symbol filtering incorrect"
### Describe the bug

_No response_

### To reproduce

On https://demo.questdb.io/ run

[code]

`pickup_datetime` of the rows is in `2013-05-14`

Run without `WHERE`

[code]

`pickup_datetime` of the rows is in `2019-06-30`

### Expected Behavior

Limit with symbol filter should return latest rows e.g. in `2019-06-30`

### Environment

[code]

### Additional context

_No response_

[2022-07-11 09:50] javier opened #2309 "Inserting a escaped single quote via Postgres wire protocol breaks"
### Describe the bug

A user found this issue and [reported on stackoverflow](https://stackoverflow.com/questions/72936321/escaping-single-quote-in-questdb-using-python3) when using psycopg2, but you can also try this on the QuestDB console directly

[code]

According to the [postgres docs](https://www.postgresql.org/docs/current/sql-syntax-lexical.html#SQL-SYNTAX-STRINGS-ESCAPE), the correct way

[2022-07-11 10:43] pjsgsy opened #2310 "QuestDB 6.4.2 does not load on Windows"
### Describe the bug

Starts and stops immediately if installed as a service, so ran interactively to try and see what is going on.

This is all that happens. Process quits and does not run until stopped

"D:\Data\Downloads and Apps\questdb-6.4.2-rt-windows-amd64\bin>questdb

  ___                  _   ____  ____
 / _ \ _   _  ___  ___| |_|  _ \| __ )
| | | | | | |/ _ \/ __| __| | | |  _ \
| |_| |

[2022-07-11 11:07] bziobrowski commented on #2310
Hello @pjsgsy .
Is that the only qdb event visible in Event Viewer ?
Could you also please check logs in C:\Windows\System32\qdbroot\conf .

[2022-07-11 11:33] newskooler opened #2311 "Ability to filter symbols by length"
### Is your feature request related to a problem?

I have a table where a column of type `symbol` has values of different length.
I'd like to be able to filter based on their length.

### Describe the solution you'd like.

This is how I imagine it would work:
[code]

### Describe alternatives you've considered.

None that I know of. If you know any, please let me know.

### Additional context.

_N

[2022-07-11 11:49] pjsgsy commented on #2310
Yes, the only event that is logged

I was running interactively via the command line, so not sure the log will be in system32?  But, for when I ran it as a service, yes, they are, and that log contains I think the error that it could not bind to port 9000, and as it happens, I know I have something else on that port.

For info, I re-installed and am using the '-d d:\QuestDB' as a working folder. I

[2022-07-11 11:51] pjsgsy commented on #2310
And, if you do not mind whilst here, if I install as a service, which is what I would ultimately do, there appears to be no way to specify the -d parameter?  Thanks again.

[2022-07-11 12:00] bziobrowski commented on #2311
Hello @newskooler. Please take a look at https://questdb.io/docs/reference/function/text/#length

Example :
[code]

[2022-07-11 12:24] bziobrowski commented on #2310
If you run questdb.exe without any parameters then it starts not as a service but as a standalone instance in current directory (so logs go to ~/log/ ) .
If you want to run qdb as a service in custom directory then you need to specify -d with 'questdb.exe install' only (it's stored in windows registry afterwards).

That's unlikely . I've done the same with notepad and everything worked fine . I al

[2022-07-11 12:29] pjsgsy commented on #2310
OK - I tried copying the original config file back to my install folder and replicated the process and error. All I did was remove the # and change port number to 9001. I tried and got the error first with notepad, then I tried Wordpad, in case of character set issues. Same. It was only when I tried copy all to clipboard and paste as plain test+ resave then the issue resolved.

In any case, I thin

[2022-07-11 12:35] #2310 closed

[2022-07-11 17:40] shimondoodkin opened #2313 "Performance monitor and configuration idea"
### Is your feature request related to a problem?

I have a performance issue kind of strange one thread takes more than 300 CPU. My configuration is that the threads are shared.  I'm kind of disappointed with the performance of ingestion. And I cannot solve the problem on my own.

so the intention is to make the configuration intuitive enough to let developers solve the problem on their own.

###

[2022-07-13 13:00] newskooler commented on #2311
Indeed this works. Thanks!

[2022-07-13 17:35] HeZean opened #2319 "Nulls break concat(str...)"
### Describe the bug

<img width="634" alt="Screenshot 2022-07-14 at 01 03 33" src="https://user-images.githubusercontent.com/49837965/178790374-7d64d3a6-1836-4224-9844-ca1b870e5fc9.png">

### To reproduce

_No response_

### Expected Behavior

Postgres just ignores nulls in args, and so should QDB.

### Environment

[code]

### Additional context

_No response_

[2022-07-13 18:00] alexey-milovidov commented on #2272
If I remember correctly, there is the following problem:
1. Empty strings are parsed as NULLs from the source data.
2. Then the queries with `WHERE s != ''` return a wrong result.

[2022-07-14 10:18] bziobrowski opened #2321 "Join expressions are ignored for equality operator"
### Describe the bug

When (inner or outer) joining tables using equality operator like

[code]

expressions are ignored and raw columns are used .
Workaround :

[code]

### To reproduce

[code]

### Expected Behavior

_No response_

### Environment

[code]

### Additional context

_No response_

[2022-07-14 13:34] #2319 closed

[2022-07-14 17:24] CSharpDummy opened #2322 "Use id instead of text for symbols in ILP data ingest"
### Is your feature request related to a problem?

n/a

### Describe the solution you'd like.

The symbol feature comes in handy when you have ingest repeating text into a table. I would assume that under the hood there is some sort of lookup table for each symbol entry.
It would reduce the data volume if you could use the symbol id instead of the text to ingest data, something like

table, name=a

[2022-07-15 15:18] selmanfarukyilmaz opened #2326 "/usr/bin/env: 'bash\r': No such file or directory"
### Describe the bug

Hi, ı have docker packages in my virtual env. When ı type
sudo docker run -p 9000:9000 -p 9009:9009 -p 8812:8812 questdb/questdb

ı have
(venv) d@E:~/PycharmProjects/binance_end$ sudo docker run -p 9000:9000 -p 9009:9009 -p 8812:8812 questdb/questdb
Unable to find image 'questdb/questdb:latest' locally
latest: Pulling from questdb/questdb
461246efe0a7: Pull complete
19407d44f

[2022-07-15 15:44] bluestreak01 commented on #2326
@selmanfarukyilmaz should be fixed now unless you're on ARM, in which case it will take 30 mins more

[2022-07-15 16:04] #2326 closed

[2022-07-16 06:59] selmanfarukyilmaz opened #2327 "DockerFile Error"
### Describe the bug

Hi,
I am trying to build a questDB image from offical Dockerfile.
https://github.com/questdb/questdb/blob/master/core/Dockerfile

In step 18 this build is crashing.

Step 18/25 : COPY docker-entrypoint.sh /docker-entrypoint.sh
COPY failed: file not found in build context or excluded by .dockerignore: stat docker-entrypoint.sh: file does not exist

### To reproduce

https://gi

[2022-07-16 11:16] bluestreak01 commented on #2327
- you can use docker image from dockerhub, it is fixed
- try pruning docker caches and restarting build

[2022-07-16 13:27] selmanfarukyilmaz commented on #2327
Thank you mate !

[2022-07-17 09:19] AllenEdison opened #2328 "drop table failed"
### Describe the bug

- create two table a,b
- then dorp table:a,b

the b table will be failed to drop.

[code]

### To reproduce

_No response_

### Expected Behavior

_No response_

### Environment

[code]

### Additional context

_No response_

[2022-07-17 15:28] bziobrowski opened #2329 "Column resolution fails in complex join conditions"
### Describe the bug

If query contains a with clause qdb sometimes fails to resolve columns in complex expressions .
Column is properly resolved if it's accessed directly , not through WITH 'view' .

### To reproduce

[code]
### Expected Behavior

_No response_

### Environment

[code]

### Additional context

_No response_

[2022-07-17 15:31] bziobrowski commented on #2328
Hello @AllenEdison . I think this bug is fixed in 6.4.3 that was released last Friday.
Please let me know if it's still an issue .

[2022-07-18 10:10] puzpuzpuz commented on #2308
Could be the case that @bluestreak01 dropped the index. That explains why I'm not able to reproduce the issue on the demo box.

[2022-07-18 12:20] bziobrowski opened #2330 "slow limit -N queries without order by ts queries"
### Describe the bug

Looks like in latest release queries that use limit -N without explicit order by issued against tables with designated timestamp traverse partitions from first to last . This can make a big difference for tables with many partitions that get queried rarely  enough to not be present in os cache .

### To reproduce

[code]

### Expected Behavior

_No response_

### Environment

[2022-07-18 15:43] newskooler commented on #2330
Hi @bziobrowski does this confirm that I cannot improve this and it's a bug or both you (on QDB end) and I on my end can improve it separately?

[2022-07-19 07:59] bziobrowski commented on #2330
Hi @newskooler  . The "workaround" for now is to use explicit order by clause with timestamp column  as given in issue description :
[code]
To be honest I reckon it's always better to specify order if you depend on it because when it's missing databases can return data in any order .
I should fix it for the next release .

[2022-07-19 10:00] newskooler commented on #2330
Specifying order does improve the speed significantly (I guess because it does not open each partition).

It may be more prudent to call it like this, but it comes at the cost of user experience, so if this can happen on the background when the users sets `limit -x` it would be preferable (to me at least).

[2022-07-19 17:00] #2308 closed

[2022-07-20 09:09] salsasepp opened #2337 "Message "unsupported file system" in the log when using supported XFS file system"
### Describe the bug

When starting QuestDB with the data directory on my XFS file system, the log shows "UNSUPPORTED FILE SYSTEM" and "EXPERIMENTAL", despite the docs saying xfs is supported (see https://questdb.io/docs/operations/capacity-planning/#storage-and-filesystem).

[code]

### To reproduce

1. `./questdb.sh start`, with the data directory residing on an XFS file system
2. Inspect beginn

[2022-07-20 18:10] bluestreak01 commented on #2337
Are you using XFS in production?

[2022-07-20 18:59] salsasepp commented on #2337
Yes. I have been using postgresql with an XFS data volume for years. Giving questdb a whirl on the same volume to see if there's any benefits for my use case. I can switch to another file system for questdb, but would not if XFS is supported and known to work.

[2022-07-21 08:00] bziobrowski opened #2338 "Group by with key and more than one aggregate function returns weird results"
### Describe the bug

If query uses group by clause with key and more than one aggregate function (especially count() and avg())
result may be incorrect .
This is not an artifact of web console - this data is returned from RostiRecord.

### To reproduce

[code]

### Additional context

_No response_

[2022-07-21 12:16] bziobrowski commented on #2118
FYI, string_agg  does work as a 'not-keyed' aggregate :
[code]
but it doesn't work as 'keyed', e.g.
[code]
because FastMap can't handle it .

[2022-07-22 11:52] jerrinot opened #2340 "Flaky LineTcpReceiverUpdateFuzzTest.testInsertUpdateWithColumnAdds"
https://dev.azure.com/questdb/6c9c1a0a-74cf-4f7b-bf65-24ae4f3cd61d/_apis/build/builds/8971/logs/83
### Describe the bug
[code]

[2022-07-22 11:56] jerrinot commented on #2340
I can see weather0 and weather1 writers are returned to the pool:
[code]
but weather2 is not. and unsurprisingly, weather2 is the one failing the test:
[code]

[2022-07-25 19:03] #2295 closed

[2022-07-25 20:19] bluestreak01 commented on #2337
thank you!

We need to make sure QuestDB runs on XFS. I just ran regression tests and the following test hang:

[code]

We need to get to the bottom of this and have clean test passes before declaring XFS supported.

[2022-07-25 23:04] CJCShadowsan opened #2348 "questdb.jar is referenced in questdb-6.4.3-rt-linux-amd64 questdb.sh script - questdb.sh script seemingly not working on RHEL 8.4"
### Describe the bug

Downloaded latest release to mistakenly think questdb.jar file is missing:

/root/questdb-6.4.3/questdb-6.4.3-rt-linux-amd64
#> find . -name questdb.jar

This is because questdb.sh references questdb.jar, and the first step in looking when the script failed to run led me to that point.

### To reproduce

1. Download tar file
2. Extract tar file
3. Try run ./questdb.sh
4. Chec

[2022-07-25 23:30] CJCShadowsan commented on #2348
And even if it's meant to be uncompiled in the libs dir... It doesn't actually do anything. It logs:

[code]

And then nothing happens. No process running, nothing.

[2022-07-25 23:31] CJCShadowsan commented on #2348
So either this is extremely poorly documented, or the binary release flat-out doesn't work.

[2022-07-25 23:42] CJCShadowsan commented on #2348
Before anyone says "Why can't you just pull the docker container?"

The node is airgapped from the internet, and if you provide a binary? It should work!

[2022-07-26 06:27] jerrinot commented on #2348
hi @CJCShadowsan,

the RT version of QuestDB distributions does not contain questdb.jar. That's by design. If you inspect the archive, you will see a file `./lib/modules`which has approx. 20MB. This is a Java module image which contains QuestDB classes.

The logs you posted indicate QuestDB was started. QuestDB itself writes the logs.
Can you please clarify this step in your reproducer?

How did y

[2022-07-26 07:02] salsasepp commented on #2337
Thanks for looking into this! Please feel free to close my issue, the log message seems fine as it is.

If you want to move forward with XFS support, I'm all for it. I'd very much appreciate if the docs could be fixed ("QuestDB officially supports EXT4 or XFS or any filesystem that supports mmap"). Right now I am unsure as to which file system is actually supported. Just about any file system supp

[2022-07-26 07:36] bluestreak01 commented on #2348
RT is assembled by jlink [documentation](https://docs.oracle.com/javase/9/tools/jlink.htm#JSWOR-GUID-CECAC52B-CFEE-46CB-8166-F17A8E9280E9).

if you need Jar, download no-jre version

[2022-07-26 08:53] puzpuzpuz opened #2349 "Flaky HttpFlushQueryCacheTest.testJsonQueryFlushQueryCache test"
### Describe the bug

Occurred on linux-arm64:
[code]

### To reproduce

_No response_

### Expected Behavior

_No response_

### Environment

[code]

### Additional context

_No response_

[2022-07-26 09:08] puzpuzpuz opened #2350 "Flaky AlterTableLineTcpReceiverTest.testAlterCommandDropsColumn test"
### Describe the bug

Occurred on windows-other:
[code]

### To reproduce

_No response_

### Expected Behavior

_No response_

### Environment

[code]

### Additional context

_No response_

[2022-07-26 11:27] CJCShadowsan commented on #2348
Because literally... Nothing works:

[code]

[2022-07-26 11:29] CJCShadowsan commented on #2348
This is a fair enough point - I wouldn't have gone looking for the words questdb.jar in the questdb.sh script if it had started and ran - red-herring perhaps and a misleading title. I'll update.

[2022-07-26 11:34] CJCShadowsan commented on #2348
Unfortunately in those logs is as far as it goes... It stops doing anything at that point. No process running, no ports listening, the status option says not running.

No further logs to indicate what's happened either.

[2022-07-26 12:13] jerrinot commented on #2348
hi @CJCShadowsan, that's weird. I just tried it on
[code]
and it's starting fine:
[code]

[2022-07-26 15:04] CJCShadowsan commented on #2348
No OOM, There are other servers running on the same box (Influx, KairosDB, Cassandra, Grafana, Prometheus) but none using the ports requested.

System is a 48-core system with 256GB Ram.

Literally using the default configuration - nothing changed, just attempting to get it to start up with the exact commands listed.

[2022-07-26 15:11] bluestreak01 commented on #2348
This is a beefy box. Problem is likely to be very simple.

There should be file `/cache/questdb/log/stdout-*`. Could you cat it please. Sometime there are port conflict and instance does not start because that. All errors can be found in that log file (latest file if there multiple)

[2022-07-26 15:16] CJCShadowsan commented on #2348
That last log entry:

[code]

That's the last it says.

[2022-07-26 15:16] bluestreak01 commented on #2348
what is the exact CPU model of this system and the type of the file system ?

[2022-07-26 15:16] bluestreak01 commented on #2348
ah, ok, i think  know what this is

[2022-07-26 15:17] bluestreak01 commented on #2348
edit the `conf/server.conf` file to add this line:

[code]

[2022-07-26 15:18] bluestreak01 commented on #2348
it looks like you don't have network interfaces with multicast enabled and UDP receiver tumbles over. Let us know if disabling it helps.

[2022-07-26 15:24] bluestreak01 commented on #2348
I could reproduce the same symptoms after shutting down network interfaces with `BROADCAST` flags. We'll fix this.

[2022-07-26 15:43] bluestreak01 commented on #2348
When server cannot join multicast group, it should log something like:
[code]

Issue is that logger is async and on fast system process exits before logger can flush the log line. The problem is fixed in this PR: https://github.com/questdb/questdb/pull/2345

[2022-07-26 15:51] CJCShadowsan commented on #2348
Funnily enough, broadcast is enabled, but the service sits behind a keepalived instance, which listens on a floating IP (high-availability was setup for InfluxDB this way, with cross-replication between both instances)

The moment I set:
[code]

It began to work:

[code]

[2022-07-26 15:53] CJCShadowsan commented on #2348
For reference:

[code]
And keepalived:

[code]

[2022-07-26 16:03] bluestreak01 commented on #2348
We make network call and it is refused for whatever reason. Could be Linux core or an intermediary. Bummer is that we didn't report the error. Correctly logger error brings error codes that let diagnosing this issue further.

[2022-07-26 18:33] #2348 closed

[2022-07-27 13:16] jerrinot opened #2357 "Surprising behaviour of AbstractIntHashSet"
### Describe the bug

`AbstractIntHashSet` by default uses `-1` as a `noEntryKey` marker.
This means this test fails:
[code]
It fails on the assertion, because `map.get(key)` returns `null`. This is quite surprising.
I understand it's hard to fix it without introducing additional overhead. Some ideas:
- Use a different default noEntryKey marker. `Integer.MIN_VALUE`. But: Isnt it just kicking the c

[2022-07-27 14:47] #2241 closed

[2022-07-27 21:23] robd003 opened #2358 "Backup to S3"
### Is your feature request related to a problem?

I'd like to backup directly to S3 compatible cloud storage providers.

Currently issuing a backup command just dumps a copy of the database on the local systems. The user then has to manually store this in a safe location.

### Describe the solution you'd like.

1. A way to configure remote storage repositories using the S3 protocol.
2. A way to i

[2022-07-28 06:43] puzpuzpuz commented on #2358
There is snapshot feature which you may find worthy: https://questdb.io/docs/operations/backup#creating-a-filesystem-backup-disk-snapshot

With this one you can collect AWS [EBS snapshots](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/EBSSnapshots.html) which are incremental.

[2022-07-28 15:53] EmmettM opened #2359 "Performance Slowdown With One Additional Column"
### Describe the bug

Getting an unexpectedly high latency on a relatively simple query:

`select ts, last(close) from 'ohlc_exchanges' where pair in 'btc-usd' and exchange in 'coinbase' and ts >= cast(1608864755 * 1000000L AS TIMESTAMP) and ts <= cast(1656125555 * 1000000L AS TIMESTAMP) sample by 1d align to calendar with offset '00:00' limit 5000`

Table has ~65M rows. "Pair" and "exchange" are

[2022-07-28 18:01] robd003 commented on #2358
It'd be really nice if we could do incremental snapshots within QuestDB itself. Being able to backup directly to S3 would reduce the amount of work that you have to do as an administrator.

Imagine just being able to issue a `BACKUP` command via a cron job and forgetting about it rather than worrying about disk space on an EBS volume and running snapshots on that volume after the fact. Plus using

[2022-07-28 18:07] bluestreak01 commented on #2358
You could try `SNAPSHOT` SQL instead of `BACKUP` https://questdb.io/docs/reference/sql/snapshot.

After `snapshot` is `prepared`, you should be able to take snapshot of EBS volume. There are two advantages of using that vs BACKUP:
- EBS snapshots are already incremental
- you can restore instance from EBS snapshot, there is no hassle of copying data back from S3

After AWS _started_ to take snapsh

[2022-07-28 18:24] EmmettM commented on #2359
Table Schema:

{'column': 'ts', 'type': 'TIMESTAMP', 'indexed': False, 'indexBlockCapacity': 0, 'symbolCached': False, 'symbolCapacity': 0, 'designated': True}
{'column': 'pair', 'type': 'SYMBOL', 'indexed': True, 'indexBlockCapacity': 0, 'symbolCached': True, 'symbolCapacity': 32, 'designated': False}
{'column': 'exchange', 'type': 'SYMBOL', 'indexed': True, 'indexBlockCapacity': 0, 'symbolCached

[2022-07-28 18:28] bluestreak01 commented on #2359
hey Emmett, looking into it, bear with us. I got a hunch that you might want to drop those indexes on `pair` and `exchange`. But let me validate this thesis first

[2022-07-28 18:30] EmmettM commented on #2359
@bluestreak01 no worries– yes I have already dropped those indexes and it did decrease latency from 6000ms to ~1200ms. Just documenting here in case this is something you all want to look at

[2022-07-28 19:13] bluestreak01 commented on #2359
could you try these things (all of them):
- replace `in` with `=`
- upgrade to 6.4.3, we fixed perf issue there https://github.com/questdb/questdb/pull/2277

[2022-07-28 19:25] bluestreak01 commented on #2359
@EmmettM the date range is 6 months, how many rows would you get with this SQL:

[code]

[2022-07-28 21:37] robd003 commented on #2358
Any chance you guys could consider allowing `SNAPSHOT` to work directly with an S3 repository like elasticsearch?

https://github.com/elastic/elasticsearch/tree/main/modules/repository-s3

[2022-07-29 10:38] newskooler opened #2360 "Increase power of OFFSET in SAMPLE BY"
### Is your feature request related to a problem?

I would like to use SAMPLE BY and be able to ALIGN TO CALENDAR at the beggining of the next timestamp period. I.e. I need to offset the traditional ALIGN TO CALENDAR by the same freq which I use for sample by.

The problem is that:
- I can achieve this now with two select statements (nested), which is ugly and less readable.
- I can use offset, bu

[2022-07-29 10:49] newskooler opened #2361 "dateadd converts a designated timestamp to a regular timestamp"
### Describe the bug

When I do a `dateadd` on a timestamp, it's converted to a regular timestamp.
As a result, sample by no longer works on the regular timestamp.

### To reproduce

Go to demo: https://demo.questdb.io

This works as expected resulting in about 144 rows.
[code]

This does not work as expected due to the bug I explained above and produces around 86M rows:
[code]

### Expected Behav

[2022-07-29 10:55] bluestreak01 commented on #2361
thank you, good spot, fixing!

[2022-07-29 12:29] bluestreak01 commented on #2361
There are couple of ways to rewrite this, depending on the desired outcome:

### option 1

[code]

### option 2

We're wrapping timestamp arithmetic into a sub-query followed by  "timestamp"  followed by `sample by`. I'm guessing this option is what the intent of the original SQL was ?

[code]

[2022-07-29 13:56] newskooler commented on #2361
Why are they both using a nested select statement? I don't quite follow.

[2022-07-29 13:59] salsasepp opened #2363 "Wrong timestamp inserted if using UTC offset in ISO timestamp string"
### Describe the bug

When inserting a timestamp string that has a UTC offset, the actual timestamp is wrong. Apparently the offset is added to convert the timestamp into UTC instead of subtracted.

### To reproduce

Using the web console:
[code]
Output is
[code]
which is incorrect (note: 13:34:03!). I also get incorrect results for negative UTC offsets and offsets that only specify the hours (e..

[2022-07-29 14:16] bluestreak01 commented on #2360
Could you provide data example to illustrate the desired alignment ?

[2022-07-29 14:17] salsasepp opened #2364 "to_timezone() outputs wrong time zone designator (or wrong timestamp?)"
### Describe the bug

This UNIX timestamp (with microseconds)
[code]
corresponds to this ISO datetime:
[code]
When converting to a different time zone using to_timezone(), the timestamp string is "almost" correct, but has a Z timezone designator, which is wrong.

### To reproduce

[code]
outputs
[code]

### Expected Behavior

Either a local time (no time zone designator)
[code]
or a timestamp with

[2022-07-29 14:18] bluestreak01 commented on #2361
They are both workarounds to enforce the execution order. The first option adds 2hrs to timestamp after sampling, the second - before. We can have SQL optimiser rewrite:

[code]
 to option 1 or option 2 automatically. I'm trying to determine which makes most sense ?

[2022-07-29 14:20] newskooler commented on #2361
Ah... got it. So this is what happens on the backend abstracted away form the user?

For me option 1 makes more sense, because it seems more optimal to resample first and then shift.

[2022-07-29 14:35] bluestreak01 commented on #2364
Perhaps we can return make return value of `to_timezone()` a `string` ?

[2022-07-29 14:39] bluestreak01 commented on #2361
When using calendar alignment the results are different. You can try these SQLs on demo.questdb.io to see for yourself

[2022-07-29 15:09] bluestreak01 commented on #2358
If you help us understand the rationale of doing this compared to EBS volume snapshot, we will consider it! 👍

[2022-07-29 15:32] newskooler commented on #2361
I see where my confusion derives from. I usually always SAMPLE BY the same freq by which I also do `dateadd`. So in my case Option 1 and Option 2 are identical.
Since you move by 2h and resampled by 1d, naturally both option will result in different values.

I don't believe one option is better than another actually. It just needs to be clearly defined what is the order of events.
I find it more n

[2022-07-29 15:40] salsasepp commented on #2364
Making `to_timezone()` return a ISO8601 string seems a good idea to me.

For my use case, dealing with time zones is purely a business logic convenience (displaying a date/time in the local time zone of a stock exchange), I actually prefer to have "clean UTC" in the database and mess with time zones strictly in application code only. However, if we need a `to_timezone()` function at all, I believe

[2022-07-29 16:10] bluestreak01 commented on #2357
@jerrinot This test does now fail on master

[code]

[2022-07-29 16:15] jerrinot commented on #2357
Sorry, there is a typo.

The key is supposed to be -1. It's failing with that.

[2022-07-29 16:21] bluestreak01 commented on #2357
Cool, for when default `-1` is unacceptable, there already is a constructor to supply your own:

[code]

[2022-07-29 16:28] jerrinot commented on #2357
Do you think it should throw an exception when you try to insert noValueKey? Seems like easy to make a mistake to me and hard to diagnose. It'd cost one very predictable branch.

[2022-07-29 16:29] bluestreak01 commented on #2357
I would not check; we have a tonne of code like that, which doesn't work in constant paranoia mode. It might be worth adding an `assert` but that would be all I'd do.

[2022-07-29 18:02] #2363 closed

[2022-07-30 06:22] john1337 commented on #2213
quest enterprise version does support cluster feature

[2022-07-30 13:07] Zahlii opened #2367 "to_str(time, 'D') not available, documentation says otherwise"
### Describe the bug

In the documentation, it is written that we can get the day of year using the to_str(time, 'D') approach. However, using the latest docker images, this will return the string 'D' as a result. See https://questdb.io/docs/reference/function/date-time/#date-and-timestamp-format

I assume this may be tracked down somewhere around here, where the capital D is never being registere

[2022-07-30 13:12] Zahlii opened #2368 "last() / first() aggregation do not work on string values"
### Describe the bug

Currently, running a aggregation/samply by query and attempting to aggregate string values fails.

In my use case, I am saving pairs of (time, path_to_image). I want to be able to resample and essentially get the last available image path i.e. every hour.

### To reproduce

create table test (time timestamp, path string)
timestamp(time)

insert into test values (systimestamp(

[2022-07-30 14:07] HeZean commented on #2368
Currently `first` and `last` supports below types, IMHO you can use `symbol` instead of `string` for now, and I'll propose a PR for string type.

![Screen Shot 2022-07-30 at 22 06 29](https://user-images.githubusercontent.com/49837965/181917998-fd8f7299-22d4-4841-b4ef-7a5eaba230ca.png)

Wish this could help.

[2022-07-30 16:38] salsasepp commented on #2367
I checked out more format string parameters for `to_str()` and at least these also don't work:
`w W F`
On the other hand, at least these do something, but are not documented:
`kk KK SSS x xx`

The above list is not exhaustive.

[2022-07-31 09:11] donet5 opened #2369 ".net Npgsql Insert too slow"
### Is your feature request related to a problem?

Hello, I am the open source author of. NET ORM. It is too slow to insert Npgsql. Do you have a good solution

### Describe the solution you'd like.

_No response_

### Describe alternatives you've considered.

Hello, I am the open source author of. NET ORM. It is too slow to insert Npgsql. Do you have a good solution

### Additional context.

Hell

[2022-07-31 11:27] bluestreak01 commented on #2369
One solution is to use bind variables and give prepared statement a name

[2022-07-31 12:51] donet5 commented on #2369
Can you be specific or have relevant docments

[2022-07-31 20:23] bluestreak01 commented on #2369
I cannot be specific here. Please share your code sample, something I can perhaps see, understand and reproduce.

[2022-07-31 22:38] EmmettM commented on #2359
@bluestreak01 the result of that query is 157,847. Trying the other fixes now.

[2022-07-31 23:35] EmmettM commented on #2359
Just updated and changed the "in's". On my local machine, it is taking ~240ms, so huge improvement. However, for whatever reason on my server it takes 12+ seconds

[2022-07-31 23:57] EmmettM commented on #2359
Just updated the rest of the code– I initially thought there were performance improvements, but my queries are actually taking longer now (18+ seconds). Just to recap:

QuestDB 6.4.3
Updated query:
`select ts, last(close) from 'ohlc_exchanges_historical' where pair='btc-usd' and exchange='CPRO' and ts >= cast(0 * 1000000L AS TIMESTAMP) and ts <= cast(1656125555 * 1000000L AS TIMESTAMP) sample by 1

[2022-08-01 03:45] donet5 commented on #2369
[code]

[2022-08-01 03:47] donet5 commented on #2369
I tried to use PGSQL bulkCopy, but failed. I do not know whether it is supported.

[2022-08-01 10:18] newskooler commented on #2360
The desired alignment would be option 1 from this example here: https://github.com/questdb/questdb/issues/2361 They are quite related.

[2022-08-01 10:46] ideoma commented on #2369
You can try `Prepare()`

https://www.npgsql.org/doc/prepare.html#simple-preparation

https://stackoverflow.com/questions/54691579/preparing-statements-and-batching-in-npgsql

[2022-08-01 11:28] donet5 commented on #2369
Your code is slower, much slower than my paging batch

[2022-08-01 11:30] donet5 commented on #2369
[code]
1 million  60 seconds

[2022-08-01 12:03] ideoma commented on #2369
Lookup by parameter name as you do below is not the fastest, index is better.
[code]

Try combining paging and `Prepare()`.

Pg interface is not the fastest in QuestDB and will never be because of protocol overhead. What are you archiving in terms of inserts per seconds on what table structure?

[2022-08-01 13:56] bziobrowski opened #2370 "avg/sum aggregates don't always work on date/timestamp"
### Describe the bug

sum() and avg() aggregates work for date and timestamp types only if :
- there is no group by key
- there is exactly one key of int or symbol type and is either a constant or column reference

If there is:
- one key but not int/symbol or
- two or more keys specified (it could be the same column) or
- an expression based on column
then qdb returns
"unexpected argument for func

[2022-08-01 13:58] bziobrowski commented on #2338
Fixed by https://github.com/questdb/questdb/pull/2342

[2022-08-01 13:58] #2338 closed

[2022-08-01 14:43] jerrinot commented on #2117
Another failure: https://dev.azure.com/questdb/questdb/_build/results?buildId=9232&view=ms.vss-test-web.build-test-results-tab&runId=60856&resultId=102146&paneView=debug

Interestingly enough there are the same _actual_ values as observed by @ideoma:
[code]

[2022-08-01 15:49] pswu11 commented on #1631
Hi @all-contributors bot, please add @donet5 for new ideas and bug reporting.

[2022-08-01 15:55] pswu11 commented on #1631
Hi @all-contributors bot, please add @Zahlii for bug reporting.

[2022-08-01 15:56] pswu11 commented on #1631
Hi @all-contributors bot, please add @salsasepp for bug reporting.

[2022-08-01 15:57] pswu11 commented on #1631
Hi @all-contributors bot, please add @EmmettM for bug reporting, testing, and giving feedback.

[2022-08-01 15:57] Zahlii commented on #2368
If someone could give me a rough idea where to start, I might be able to supply a PR for this

[2022-08-01 15:59] pswu11 commented on #1631
Hi @all-contributors bot, please add @robd003 for creating new feature ideas.

[2022-08-01 16:02] pswu11 commented on #1631
Hi @all-contributors bot, please add @AllenEdison for bug reporting.

[2022-08-01 16:05] pswu11 commented on #1631
Hi @all-contributors bot, please add @CSharpDummy for bug reporting.

[2022-08-01 16:16] Zahlii opened #2379 "Casting bool -> numeric data types yields unexpected results"
### Describe the bug

For some aggregation, I would like to do a "sum where condition holds" calculation. In order to do so, I am currently using the approach described below. When casting bool to int or float numbers, FALSE unexpectedly gets mapped to the value 1, destroying this attempt.  I thus will try doing a where first.

In pandas for example, we can use sum/mean etc easily on booleans to g

[2022-08-01 16:22] pswu11 commented on #1631
Hi @all-contributors bot, please add @shimondoodkin for bug reporting and adding new feature ideas.

[2022-08-01 16:23] pswu11 commented on #1631
Hi @all-contributors bot, please add @huuhait for bug reporting and adding new feature ideas.

[2022-08-01 16:24] pswu11 commented on #1631
Hi all-contributors bot, please add @alexey-milovidov for bug reporting. Thank you!

[2022-08-01 16:27] pswu11 commented on #1631
Hi @all-contributors bot, please add @alexey-milovidov for bug reporting. Thank you!

[2022-08-01 16:28] pswu11 commented on #1631
Hi @all-contributors bot, please add @suconghou for bug reporting. Thank you!

[2022-08-01 17:09] salsasepp commented on #2379
To illustrate further:
[code]
Sorry @Zahlii for adding to your issues for the 2nd time, but the bugs you find are just too interesting to stand aside.

[2022-08-01 17:21] Zahlii opened #2384 "Incorrect sampling behavior with non-UTC aligned sampling"
### Describe the bug

When sampling in a timezone with DST and having a data span that starts with daylight savings, following observations are correctly lined up, but the first isnt (i.e. first is aligned to 22h UTC, second to 23 UTC).

In my use case, I have weather data stored every 2 minutes, and want to provide statistics sampled according to the stations local time zone (i.e. Europe/Berlin)

[2022-08-01 17:25] Zahlii commented on #2384
This "MAY" be linked to https://github.com/questdb/questdb/issues/2364

[2022-08-01 17:34] Zahlii commented on #2384
select ts, sum(val) as val from (
	SELECT to_timezone(timestamp_sequence(to_timestamp('2015-06-01', 'yyyy-MM-dd'), 86400000000),
    'Europe/Berlin') as ts, 1 as val from long_sequence(700)
    ) timestamp(ts)
    sample by 1y align to calendar time zone 'utc'

Maybe this is the way to go - i.e, sample over the to_timezone converted numbers claiming to be UTC (and then handle adding the correct tz

[2022-08-01 19:01] Zahlii commented on #2379
It seems to me that there IS a test supposedly testing the described function in https://github.com/questdb/questdb/blob/master/core/src/test/java/io/questdb/griffin/engine/functions/cast/CastTest.java - However, that operates on what is assume is a column instead of a value, so maybe that is the isue. In general, I couldn't find any test cases in the way that I described earlier.

[2022-08-01 22:32] donet5 commented on #2369
The problem now is that PGSQL itself supports BulkCopy, while QuestDB is not used by me

[2022-08-01 22:35] donet5 commented on #2369
This results in PGSQL reaching 6 seconds per million, while QuestDb is only 20

[2022-08-01 22:43] donet5 commented on #2369
希望能支持这个写法
var writer = conn.BeginBinaryImport(copyString)

[2022-08-02 08:45] eugenels commented on #2379
There is also a problem with Num -> Boolean casting:
[code]

[2022-08-02 09:18] Zahlii commented on #2379
Good catch, I aligned that also in the added PR

[2022-08-02 09:52] ideoma opened #2387 "Postger copatibility - DBeaver schema query fails"
### Describe the bug

_No response_

### To reproduce

[code]

### Expected Behavior

Should pass.

Fails with
`Duplicate column [name=oid]` and if `t.oid` removed fails with `Invalid column: et.typcategory`

### Environment

[code]

### Additional context

_No response_

[2022-08-02 09:56] Zahlii commented on #2368
I did some digging here. This seems pretty complex to implement, as currently the code assumes that all aggregates can be put into a fixed-width map, for what I understand.

[2022-08-02 10:28] ideoma commented on #2387
Became a problem after #2093

[2022-08-02 11:31] ideoma commented on #2302
No, I don't think so

[2022-08-02 11:36] pswu11 commented on #2143
This is implemented by #2155

[2022-08-02 11:36] #2143 closed

[2022-08-02 17:40] Zahlii commented on #2368
Started working in https://github.com/questdb/questdb/pull/2388, but need guidance from a maintainer

[2022-08-02 18:31] salsasepp commented on #2379
Side note: Maybe the result of `SELECT cast(NULL as boolean)` should be included in the tests. Right now the result is `false`. Other SQL databases return `NULL`, but `boolean` is not a nullable type in QuestDB. So should this query result in an error? I can't say.

[2022-08-02 18:45] Zahlii commented on #2367
I have no idea what "Day of week of month / F" is supposed to contain. The rest I should be able to implement in the attached PR.

[2022-08-02 19:07] Zahlii commented on #2379
I think that is already being tracked in https://github.com/questdb/questdb/issues/1701 ?

[2022-08-02 19:28] salsasepp commented on #2379
Correct, thx!

[2022-08-03 11:08] javier opened #2390 "ALIGN TO CALENDAR feels buggy"
### Describe the bug

`ALIGN TO CALENDAR` has a weird behaviour affecting to clauses like `FILL` or `LIMIT`. Maybe to some others, but I am guessing the fix is the same

### To reproduce

Two problems here: `LIMIT` and `FILL`

## LIMIT
If I go to the demo site and execute this query, it works
[code]

If I now add any modifiers to `SAMPLE BY,` it breaks
[code]

However, if I add a `TIME ZONE` and a

[2022-08-03 13:52] puzpuzpuz commented on #1591
Still flaky. Happened on mc-other.
[code]

[2022-08-03 17:11] Zahlii commented on #2118
Came across this issue, I started working on a similar string aggregation in https://github.com/questdb/questdb/pull/2388 hitting the same roadblock with FastMap

[2022-08-04 17:03] huuhait opened #2395 "Add support continuous query like influxdb 1.8 to make data like kline"
I think for optimize sql query like kline or candle query we should have something like continuous query in influxdb 1.8

Reason why RESAMPLE is not powerful for k-line data:
- still missing FILL by `PREV BY COLUMN`
- still missing data if this time is not avaible any data (time from or time end)

Hope questdb team will check this

[2022-08-04 21:10] mrpher opened #2396 "Allow for a init script to initialize a table with preferred data types"
### Is your feature request related to a problem?

In a dockerized environment I'd like to be able to script an initialization of a quest database with a predefined table and preferred column data types - similar to vanilla Postgres.

### Describe the solution you'd like.

Something like Postgres & Docker where I can define:

**init.sql**
[code]

**Dockerfile**
[code]

Or a similar mechanism for a

[2022-08-04 22:45] zamazan4ik opened #2397 "Document upgrade and downgrade processes"
### Is your feature request related to a problem?

After reading the documentation it is not clear for me, how upgrade and downgrade processes should be performed over the database.

### Describe the solution you'd like.

Could you please describe somewhere in the documentation:

- How to upgrade the database to the newer version (hopefully with no downtime)
- How to downgrade the database to the

[2022-08-05 17:34] #2379 closed

[2022-08-06 10:33] Zahlii opened #2404 "Inconsequent handling of first/last/avg/sum/min/max of constant expressions"
### Describe the bug

Currently, the behavior when running queries such as `select min(0)`, `select first(0.0)` is pretty inconsistent and it some cases will throw exceptions. The reason I think is that per default, a UnaryFunction will return isConstant true if its only argument is a constant. However, this will cause the min/max/whatever function to be called with a record of null, which for mos

[2022-08-06 11:07] Zahlii commented on #2404
https://github.com/questdb/questdb/blob/master/core/src/main/java/io/questdb/griffin/engine/groupby/GroupByUtils.java#L79 this is the assertion that is usually tripped, because https://github.com/questdb/questdb/blob/master/core/src/main/java/io/questdb/griffin/FunctionParser.java#L248 attempts converting functions to constants for performance reasons.

So I think that
- We need to make sure that

[2022-08-07 10:39] Zahlii opened #2405 "QDB crashes when self-joining multiple times"
### Describe the bug

I am currently self.joining the same table withe ach other multiple times as described as follows. On occasion, this seemingly simple query will yield an exit 137 in my docker container. Is there any way I can quickly provide a dump of the database contents for easy reproducability?

### To reproduce

[code]

### Expected Behavior

_No response_

### Environment

[code]

###

[2022-08-08 14:34] bluestreak01 opened #2408 "Flaky testLocalCopyFrom"
### Describe the bug

Log attached:

[82.txt.zip](https://github.com/questdb/questdb/files/9282589/82.txt.zip)

Notable problem:

[code]
### To reproduce

_No response_

### Expected Behavior

_No response_

### Environment

[code]

### Additional context

_No response_